.wp-block-coblocks-social {

	&__button {

		&:active {
			animation: none !important;
		}
	}
}

.editor-block-preview__content {

	.wp-block-coblocks-social {
		align-content: center;
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		text-align: center !important;

		&.is-style-mask {

			.wp-block-coblocks-social__icon {
				position: relative;
				top: 4px;
			}
		}

		&.is-style-text,
		&.is-style-icon-and-text {

			.wp-block-coblocks-social__button {
				width: 75%;
			}

		}

		&.is-style-icon-and-text {

			.wp-block-coblocks-social__text {
				margin-left: 4px;
			}
		}

		li {
			display: none;
			margin: 0;

			&:first-child {
				display: block;
			}
		}

		&__text {
			max-width: 70%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&__button {
			max-width: 100%;
			margin: 0;
			width: 100%;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

.components-range-control + .components-coblocks-inspector__social-button-size {
	margin-top: -13px !important;
}
