.wp-block-coblocks-social {

	p {
		line-height: 1;
	}

	&__button {
		background-color: #222;
		background-size: cover;
		box-shadow: none;
		display: inline-block;
		height: 28px;
		padding: 0;
		position: relative;
		text-decoration: none;
		vertical-align: middle;
		width: 28px;

		&:first-of-type {
			margin-left: 0;
		}

		&:last-of-type {
			margin-right: 0;
		}

		&:active {
			animation: pulse 200ms;
			animation-timing-function: ease-out;
			animation-fill-mode: none;
		}
	}

	.button--twitter {
		mask-image: url(images/twitter.svg);
	}

	.button--facebook {
		mask-image: url(images/facebook.svg);
	}

	.button--pinterest {
		mask-image: url(images/pinterest.svg);
	}

	.button--linkedin {
		mask-image: url(images/linkedin.svg);
	}

	.button--tumblr {
		mask-image: url(images/tumblr.svg);
	}

	@keyframes pulse {

		0% {
			transform: scale(1);
		}

		15% {
			transform: scale(0.9);
		}

		100% {
			transform: scale(1);
		}
	}
}
