.wp-block-coblocks-gallery-masonry {
	position: relative;

	ul {
		list-style: none !important;
		padding: 0 !important;
	}

	li {
		margin: 0 !important;
	}

	figure {
		overflow: hidden;
	}

	img {
		height: auto;
		width: 100%;
		vertical-align: bottom;
	}

	figcaption {
		background: linear-gradient(0deg, rgba($color: $black, $alpha: 0.7) 0, rgba($color: $black, $alpha: 0.3) 50%, transparent);
		bottom: 0;
		font-size: 13px;
		max-height: 100% !important;
		opacity: 0.9;
		overflow: auto;
		padding: 30px 10px 10px !important;
		position: absolute !important;
		text-align: center;
		width: 100%;

		img {
			display: inline;
		}
	}
}
