.wp-block-coblocks-menu-item {
	display: block;
	flex: 1 100%;
	margin-bottom: 0 !important;
	padding: 0 !important;

	.block-editor-media-placeholder {
		margin: 0 0 2em;
		padding: 0;

		.components-placeholder__label,
		.components-placeholder__instructions {
			display: none;
		}

		.components-placeholder__fieldset {
			.components-button {
				margin-bottom: 0 !important;
			}
		}
	}
}

.wp-block[data-type="coblocks/menu-item"] {
	flex: 1 50%;
	max-width: calc(50% - 10px) !important;
}
