.wp-block-coblocks-menu-item {
	display: block;
	flex: 1 100%;
	margin-bottom: 0 !important;
	padding: 0 !important;

	.editor-media-placeholder {
		margin: 0 0 2em;
		padding: 0;

		.dashicon {
			margin: 0;
		}

		.components-placeholder__label,
		.components-placeholder__instructions {
			display: none;
		}

		.components-placeholder__fieldset {
			.components-button {
				margin-bottom: 0 !important;
			}
		}
	}
}

.is-style-list .wp-block-coblocks-menu-item {
	.editor-media-placeholder {
		height: 130px;
		min-height: 130px;
		position: relative;

		.components-placeholder__label {
			display: block;
		}

		// Hide the Upload button.
		.components-form-file-upload .editor-media-placeholder__button {
			display: none;
		}

		// Restyle the Media Gallery button to be overlaid over the component.
		&__button {
			background: transparent !important;
			border: 0;
			bottom: 0;
			box-shadow: none !important;
			height: 100%;
			left: 0;
			position: absolute;
			right: 0;
			text-indent: -999em;
			top: 0;
			width: 100%;
		}
	}
}

.wp-block[data-type="coblocks/menu-item"] {
	flex: 1 50%;
	max-width: calc(50% - 10px) !important;
}
