@import "node_modules/@wordpress/base-styles/colors";

/**
 * Deprecated colors.
 * Please avoid using these.
 */
$blue-medium-focus: #007cba;
$dark-gray-800: #23282d;
$dark-opacity-light-200: rgba(#8b8b96, 0.1);
$light-gray-500: #e2e4e7;
$light-opacity-light-200: rgba($white, 0.15);
