@import "node_modules/@wordpress/base-styles/variables";

/**
 * Deprecated variables.
 * Please avoid using these.
 */
$animation-transition-default: 0.5s;
$block-controls-height: 36px;
$block-side-ui-padding: $block-side-ui-width + $block-side-ui-clearance;
$empty-paragraph-height: $text-editor-font-size * 4;
$grid-size-large: 16px;
$grid-size-small: 4px;
$grid-size: 8px;
$icon-button-size-small: 24px;
$icon-button-size: 36px;
$inserter-tabs-height: 36px;
$item-spacing: 10px; // Should deprecate this in favor of $grid-size.
$mobile-text-min-font-size: 16px;	// Any font size below 16px will cause Mobile Safari to "zoom in"
$panel-padding: 16px;
$radius-round-rectangle: 4px;
$shadow-below-only: 0 5px 10px rgba($gray-900, 0.05), 0 2px 2px rgba($gray-900, 0.05);
$shadow-toolbar: 0 2px 10px rgba($gray-900, 0.1), 0 0 2px rgba($gray-900, 0.1);
