.wp-block[data-type="coblocks/gif"] {
	.components-placeholder.wp-block-coblocks-gif {
		.dashicon {
			position: relative;
			top: -2px;
		}
	}

	&[data-align="center"] .wp-block-coblocks-gif,
	&[data-align="center"][data-resized="false"] .wp-block-coblocks-gif > div {
		margin-left: auto;
		margin-right: auto;
	}

	.wp-block-coblocks-gif {
		margin: 0;
		padding: 50px 0;
		width: inherit;

		form,
		.components-placeholder__fieldset {
			display: block;
			max-width: none;
			width: auto;

			input {
				max-width: 300px;
			}
		}

		.components-spinner {
			margin: 16px auto 0;
		}

		&__results {
			align-content: stretch;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			line-height: 1;
			list-style: none;
			max-width: 430px;

			li {
				border-radius: 4px;
				display: block;
				flex: 0 0 auto;
				height: 86px;
				margin: 0;
				overflow: hidden;
				padding: 3px;
				position: relative;
				width: 86px;

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5) {
					margin-top: 1.5em;
				}

				img {
					border-radius: 4px;
					height: 100%;
					width: 100%;
				}
			}
		}

		&__attribution {
			position: absolute;
			right: 20px;
			top: 15px;
			width: 120px;
		}
	}

	&[data-align="center"] {
		.wp-block-coblocks-gif {
			margin-left: auto !important;
			margin-right: auto !important;
		}

		&[data-resized="false"] .wp-block-coblocks-gif > div {
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}

	.editor-block-list__block-edit figure.is-resized {
		display: table;
		margin: 0;
	}

	figure.wp-block-coblocks-gif {
		padding: 0;

		img {
			width: 100%;
		}
	}
}

// Ensure the resize handles are visible when the image is focused.
.wp-block-coblocks-gif.is-focused .components-resizable-box__handle {
	display: block;
	z-index: z-index(".block-library-image__resize-handlers");
}
