.wp-block-coblocks-gif {

	.components-resizable-box__container button { 
		border: none;
		background: none;
		height: auto;
		width: 100%;
	}

	&.alignfull,
	&.alignwide {
		width: inherit;

		img {
			width: 100%;
		}
	}
}
