
.edit-post-sidebar .replace-image-button {
	display: none;
}

.edit-post-sidebar .components-panel__body.is-opened + .replace-image-button { // WP 5.4+
	display: flex;
	justify-content: flex-end;
	padding: 0 16px 16px 16px;
	margin-top: -8px;
}

.edit-post-sidebar .edit-post-settings-sidebar__panel-block .is-opened + .replace-image-button { // WP 5.3.2
	display: flex;
	justify-content: flex-end;
	padding: 0 0 16px 0;
	margin-top: -8px;
}
