[data-type="coblocks/posts"] {

	.flickity-enabled {
		height: 100% !important;
		position: inherit;
	}

	.wp-block-coblocks-posts__more-link {
		// Remove the core link focus styling
		&:focus {
			box-shadow: none;
			color: inherit;
			outline: none;
		}
	}

	.components-placeholder__fieldset {
		flex-direction: column;
	}

	.editor-block-list__block-edit .components-placeholder__fieldset {
		flex-direction: row;
	}

	.components-placeholder__cancel-button {
		align-self: flex-start;
		margin-top: 10px;
	}
}
