.wp-block-coblocks-posts {
	& + & {
		margin-top: map-get($spacing, 2);
	}

	&.has-1-columns > div:first-child {
		margin-top: 0;
	}

	&.has-1-columns > div:last-child {
		margin-bottom: 0;
	}
}

.wp-block-coblocks-posts__image {
	display: table;
	flex: 0 0 auto;
	position: relative;

	a {
		display: block;
		padding-top: 100%;
		width: 100%;
	}
}

.wp-block-coblocks-posts__date {
	color: $dark-gray-300;
	display: block;
	font-size: $editor-font-size;
}

.wp-block-coblocks-posts__more-link {
	align-self: self-start;
	display: block;
}

// Theme specific.
.is-twentynineteen {
	.wp-block-coblocks-posts {
		line-height: 1.6;

		&__content a {
			font-family: $default-font;
			font-size: calc(22px * 1.125);
			font-weight: 700;
			line-height: 1.2;
			margin-bottom: 0.5rem;
			margin-top: 0.5rem;
			text-decoration: none !important;
		}

		&__date {
			font-family: $default-font;
			font-weight: 700;
		}
	}
}

.is-twentytwenty {
	.wp-block-coblocks-posts .has-columns {
		margin-bottom: 0.5em;
	}

	.wp-block-coblocks-posts a {
		font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
		font-weight: 700;
		letter-spacing: -0.025em;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.wp-block-coblocks-posts__date {
		color: #6d6d6d;
		font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 0.7em;
		font-weight: 600;
		letter-spacing: normal;
		margin-bottom: 0.2em;
	}
}
