.wp-block-coblocks-row:not([data-columns="1"]) {
	// Don't use flexbox if the row is 1 column, 100% wide.
	.wp-block-coblocks-row__inner {
		display: flex;
	}
}

.wp-block-coblocks-row[data-columns="1"] {
	.wp-block-coblocks-column__inner {
		> [class*="wp-block-"] {
			margin-left: auto;
			margin-right: auto;
			max-width: calc(6 * (100vw / 12.5));

			&.alignwide {
				max-width: calc(6 * (100vw / 8.5));
			}

			&.alignfull {
				max-width: 100%;
			}

			&[data-columns="1"] {
				.wp-block-coblocks-column__inner {
					> :not([class*="wp-block-"]) {
						max-width: 100%;
					}
				}
			}
		}
		> :not([class*="wp-block-"]) {
			margin-left: auto;
			margin-right: auto;
			max-width: 100%;
		}
	}
}

.wp-block-coblocks-column {
	margin-bottom: $grid-size-large * 2;

	// Beyond mobile, allow 2 columns.
	@include break-small() {
		margin-bottom: 0;
	}

	// Prevent the columns from growing wider than their distributed sizes.
	min-width: 0;

	// Prevent long unbroken words from overflowing.
	overflow-wrap: break-word; // New standard.
	position: relative;
	word-break: break-word; // For back-compat.

	p {
		margin-bottom: 2em;
		margin-top: 0;

		&:last-of-type {
			margin-bottom: 0;
		}

		&:not(.has-background):not(.wp-block-coblocks-click-to-tweet__text) {
			padding: 0;
		}
	}

	p,
	a,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: inherit;
	}

	&__inner{
		&.has-background-overlay{
			> *{
				position: relative;
			}
		}
	}
}

//Fix background color contrast issue
.is-twentynineteen {
	.entry .entry-content {
		.wp-block-coblocks-column {
			p,
			a,
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				color: inherit;
			}

			&__inner{
				img{
					max-width: 100% !important;
				}
			}
		}
	}
}
