.wp-block-coblocks-row:not([data-columns="1"]) {
	// Don't use flexbox if the row is 1 column, 100% wide.
	.wp-block-coblocks-row__inner {
		display: flex;
	}
}

.wp-block-coblocks-row[data-columns="1"] {
	.wp-block-coblocks-column__inner{
		> [class*="wp-block-"]{
			max-width: calc(6 * (100vw / 12) - 28px);
    		margin-left: auto;
    		margin-right: auto;
    		&.alignwide{
    			max-width: calc(6 * (100vw / 8) - 28px);
    		}
    		&.alignfull{
    			max-width: 100%;
    		}
		}
	}
}

.wp-block-coblocks-column {
	margin-bottom: $grid-size-large * 2;

	// Beyond mobile, allow 2 columns.
	@include break-small() {
		margin-bottom: 0;
	}

	// Prevent the columns from growing wider than their distributed sizes.
	min-width: 0;

	// Prevent long unbroken words from overflowing.
	word-break: break-word; // For back-compat.
	overflow-wrap: break-word; // New standard.
	position: relative;

	p {
		margin-top: 0;
		margin-bottom: 2em;
		padding: 0;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}



