.edit-post-sidebar .components-coblocks-replace-image {
	display: none;
}

.edit-post-sidebar .components-panel__body.is-opened + .components-coblocks-replace-image { // WP 5.4+
	display: flex;
	justify-content: flex-end;
	padding: 0 16px 16px 16px;
	margin-top: -8px;
}

.edit-post-sidebar .edit-post-settings-sidebar__panel-block .is-opened + .components-coblocks-replace-image { // WP 5.3.2
	display: flex;
	justify-content: flex-end;
	padding: 0 0 16px 0;
	margin-top: -8px;
}
