.has-no-arrows {
	.flickity-prev-next-button {
		background-color: theme(primary);
		border-radius: 4px;
		border: none;
		display: none;
		height: 38px;
		opacity: 1;
		transition: none;
		width: 38px;

		&:hover {
			background-color: #007eb1;
		}

		&:active {
			background-color: #006a95;
		}

		.flickity-button-icon {
			fill: $white;
			height: 55%;
			top: 22.5%;
			width: 55%;
		}

		&.previous {
			left: 15px;

			.flickity-button-icon {
				left: 27%;
			}
		}

		&.next {
			right: 15px;

			.flickity-button-icon {
				left: 20%;
			}
		}
	}

	&.coblocks-gallery.is-selected .flickity-prev-next-button {
		display: block;
	}
}

.has-no-dots .flickity-page-dots {
	display: none !important;
}
