.coblocks-gallery--item {
	margin: 0;

	> .components-spinner {
		left: 50%;
		margin-left: -9px;
		margin-top: -9px;
		position: absolute;
		top: 50%;
	}

	figure:focus {
		outline: none;
	}

	img:focus {
		box-shadow: inset 0 0 0 $border-width-focus var(--wp-admin-theme-color, #007cba);
		outline: none;
		border-radius: $radius-block-ui;
	}

	.is-selected::after {
		bottom: 0;
		box-shadow: inset 0 0 0 $border-width-focus var(--wp-admin-theme-color, #007cba);
		content: "";
		left: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 0;
		border-radius: $radius-block-ui;
		z-index: 1;
	}

	.is-transient img {
		opacity: 0.3;
	}

	.block-editor-rich-text {
		z-index: 2;
	}

	.components-coblocks-gallery-item__image-link ~ .coblocks-gallery--caption {
		bottom: 3em;
	}

}

.has-caption-color .coblocks-gallery--caption a {
	color: inherit !important;
}
