.components-coblocks-gallery-item__image-link {
	align-items: center;
	background: var(--wp-admin-theme-color, #007cba);
	bottom: 0;
	display: flex;
	flex-wrap: wrap;
	font-family: $default-font;
	font-size: $default-font-size;
	left: 0;
	line-height: $default-line-height;
	position: absolute;
	right: 0;
	z-index: 20;

	.dashicon {
		color: $white;
	}

	.dashicons-admin-links {
		margin-left: 14px;
		margin-right: 12px;
		width: 16px;
	}

	.dashicons-editor-break {
		margin-right: 4px;
		width: 16px;
	}

	.block-editor-url-input {
		flex: 1 2;
		padding: 2px;
		position: relative;
		width: calc(100% - 73px);

		.components-base-control__field {
			margin-bottom: 4px;
			margin-top: 4px;
		}

		input[type="text"] {
			border-radius: 3px;
			padding: 8px;
			width: 100%;
		}
	}
}
