.components-coblocks-remove-gallery-item-button {
	&-wrapper {
		background-color: theme(primary);
		display: inline-flex;
		padding: 2px;
		position: absolute;
		right: 2px;
		top: 2px;
		transition: padding 0.1s linear;
		z-index: 20;

		svg {
			position: relative;
		}
	}

	&-button {
		box-shadow: none !important;
		color: $white;
		padding: 0;

		&:hover {
			background: theme(primary) !important;
			border-color: theme(primary) !important;
			color: #fff !important;
			opacity: 0.75;
		}
	}
}
