.components-coblocks-gallery-uploader.components-button {
	background: $dark-opacity-light-200;
	border: 1px dashed $dark-gray-150;
	border-radius: 0;
	box-shadow: none !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100px;
	outline: none;
	padding: 0 !important;
	width: 100%;

	&:hover,
	&:focus {
		background: $dark-opacity-light-200;
		border-color: $dark-gray-500;
	}

	.dashicon {
		margin-top: 10px;
	}
}
