.editor-block-list__block[data-type="coblocks/pricing-table-item"] {
	width: 100%;

	.wp-block-coblocks-pricing-table-item {
		margin: 0;

		&__price {
			display: flex !important;

			.blocks-editable {
				display: inline-block;
			}
		}

		&__features {
			margin: 0 0 30px;
		}
	}

	.editor-block-list__block-edit {
		height: 100%;
		margin-bottom: 30px;
		margin-top: 0;

		> div:not(.editor-block-contextual-toolbar) {
			@media (min-width: 600px) {
				display: flex;
				height: 100%;
				justify-content: center;
			}
		}
	}

	.has-left-content & .editor-block-list__block[data-type="core/button"] .editor-block-list__block-edit > div {
		justify-content: flex-start;
	}

	.has-right-content & .editor-block-list__block[data-type="core/button"] .editor-block-list__block-edit > div {
		justify-content: flex-end;
	}

	.editor-block-list__breadcrumb {
		display: none !important;
	}

	.editor-rich-text__tinymce[data-is-placeholder-visible="true"] + .editor-rich-text__tinymce {
		padding-right: 0 !important;
	}

	.editor-block-list__layout .editor-block-list__block > .editor-block-list__block-edit::before {
		outline: none;
	}

	.editor-inner-blocks {
		margin-bottom: -25px;

		.editor-block-list__insertion-point {
			display: none;
		}
	}

	.editor-block-list__block[data-type="core/button"] .editor-block-list__block-edit {
		margin-bottom: 0;
		margin-top: 0;
	}

	.block-library-button__inline-link {
		margin-top: 5px;
		width: 100%;

		> div {
			width: calc(100% - 72px);
		}

		input[type="text"] {
			width: 100%;
		}
	}
}

.has-left-content .wp-block-coblocks-pricing-table-item .wp-block[data-type="core/button"] {
	margin-left: 0;
}

.has-right-content .wp-block-coblocks-pricing-table-item .wp-block[data-type="core/button"] {
	margin-right: 0;
}
