.block-editor-block-list__block[data-type="coblocks/pricing-table-item"] {
	width: 100%;

	.block-list-appender {
		bottom: -50px;
		// This is to override 5.8 style
		margin: 0;
		padding: 0;
		// Those are 5.9 style that we force apply to 5.8
		position: absolute;
		right: 0;
		width: 100%;
		z-index: 2;
	}

	> .block-editor-block-list__block-edit,
	> div > [data-block] {
		margin-bottom: 0;
		margin-top: 0;
	}

	.block-editor-block-mover.is-horizontal {
		left: 0;
		margin-left: 8px;
		position: absolute;
	}

	.wp-block-coblocks-pricing-table-item {
		flex-basis: 100% !important;
		margin: 0;
		max-width: 100% !important;

		&__price {
			display: flex !important;

			.blocks-editable {
				display: inline-block;
			}
		}

		&__features {
			margin: 0;
		}
	}

	.block-editor-block-list__block-edit {
		height: 100%;

		> [data-block] {

			@include break-small() {
				display: flex;
				height: 100%;
				justify-content: center;
			}
		}
	}

	// Tweak editor styling of button block.
	[data-type="core/button"] {

		.block-editor-block-list__block-edit::before {
			display: none;
		}

		.components-base-control__field {
			margin-bottom: 0;
		}

		[data-block] {
			margin-bottom: 0;
			margin-top: 0;
		}
	}

	.has-text-align-left & [data-type="core/button"] .block-editor-block-list__block-edit > div {
		justify-content: flex-start;
	}

	.has-text-align-right & [data-type="core/button"] .block-editor-block-list__block-edit > div {
		justify-content: flex-end;
	}

	.block-editor-block-list__breadcrumb {
		display: none !important;
	}

	.editor-rich-text__tinymce[data-is-placeholder-visible="true"] + .editor-rich-text__tinymce {
		padding-right: 0 !important;
	}

	.block-editor-block-list__layout .wp-block > .block-editor-block-list__block-edit::before {
		outline: none;
	}

	[data-type="core/button"] .block-editor-block-list__block-edit {
		margin-bottom: 0;
		margin-top: 0;
	}

	.block-library-button__inline-link {
		margin-top: 5px;
		width: 100%;

		> div {
			width: calc(100% - 72px);
		}

		input[type="text"] {
			width: 100%;
		}
	}

	.components-placeholder.components-placeholder {
		min-height: 120px;
	}
}

.has-text-align-left .wp-block-coblocks-pricing-table-item [data-type="core/button"] {
	margin-left: 0;
}

.has-text-align-right .wp-block-coblocks-pricing-table-item [data-type="core/button"] {
	margin-right: 0;
}
