.wp-block-coblocks-pricing-table-item {
	margin: 0 0 30px;
	padding: 4em 1.8em;
	position: relative;

	@media (min-width: 600px) {
		flex-basis: 40%;
		flex-grow: 1;
		margin: 15px;
		max-width: 100%;
	}

	&:not(.has-background) {
		background: hsla(240, 5%, 57%, 0.1);
	}

	&:last-child {
		@media (max-width: 599px) {
			margin-bottom: 0;
		}
	}

	&__title {
		color: inherit;
		margin-top: 0;
		padding: 0;
	}

	&__price-wrapper {
		display: flex;
		line-height: 1;
		position: relative;
	}

	&__currency {
		color: inherit;
		font-size: 1em;
	}

	&__amount {
		color: inherit;
		font-size: 5em;
		letter-spacing: normal;
		line-height: 1 !important;
		margin: 0;
		padding: 0;
	}

	& &__features {
		margin: 0 0 30px;
		max-width: none;
		padding: 0;

		ul,
		li {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}

	& &__title {
		display: block;
		margin-bottom: 20px;
	}

	& &__price-wrapper {
		margin-bottom: 20px;
	}

	.wp-block-button {
		margin-bottom: 0;
	}
}

.has-center-content .wp-block-coblocks-pricing-table-item__price-wrapper {
	justify-content: center;
}

.has-right-content .wp-block-coblocks-pricing-table-item__price-wrapper {
	justify-content: flex-end;
}
