{
  "presets": [
	"@wordpress/babel-preset-default"
  ],
  "plugins": [
	"@babel/plugin-proposal-class-properties",
  [
    "@babel/plugin-transform-runtime",
    {
      "corejs": 2,
    }
  ]
  ]
}
