build
dist
node_modules
vendor
wordpress*
**/test/*

#  allow lint for tests
*.spec.js.snap
!**.spec.js
!save.spec.js
!*.cypress.js
!.dev/tests/a11y/pa11y.js

# lint top level dot files
!.*
/node_modules/.*
