**/*.min.js
**/*.build.js
**/node_modules/**
**/vendor/**
**/build/**
!includes/Dependencies/**
wordpress*/
.vscode/
*.sublime-project
*.sublime-workspace
*.cache
.ftppass
coverage/
./cypress/
.dev/tests/cypress/screenshots
.dev/tests/cypress/snapshots
sftp.json
dist/*
sandbox.json
/.idea/
**/.DS_Store
languages/coblocks-js.pot
languages/*-coblocks-editor.json
languages/*.mo
languages/*.po
cypress.env.json
.wp-env.json
.wp-env.override.json
/test-results/
/playwright-report/
/playwright/.cache/
.dev/tests/playwright/storage-state.json
