**/node_modules/**
**/build/**
dist/**
**/dist/**
**/languages/**
*.sublime-project
*.sublime-workspace
*.cache
.ftppass
sftp.json
.github/
.github/issue_template.md

dist/blocks.build.js

dist/blocks.editor.build.css

dist/blocks.style.build.css
src/.DS_Store
