**/*.min.js
**/*.build.js
**/node_modules/**
**/vendor/**
**/dist/blocks.build.js
**/dist/blocks.editor.build.css
**/dist/*.css
**/build/**
*.sublime-project
*.sublime-workspace
*.cache
.ftppass
coverage
cypress
sftp.json
dist/blocks.build.js
dist/blocks.editor.build.css
dist/blocks.style.build.css
.DS_Store
includes/.DS_Store
.DS_Store
sandbox.json
languages/coblocks-js.pot
