[data-type="coblocks/events"] {

	@include input-submit-placeholder;

	.coblocks-block-appender {
		margin-top: 28px;
	}

	&.is-selected,
	&.has-child-selected {

		.block-list-appender {
			display: block;
		}
	}
}

.wp-block-coblocks-events {

	.wp-block:first-child [data-block] {
		margin-top: 0;
	}

	.wp-block:nth-last-child(2) [data-block] {
		margin-bottom: 0;
	}
}

[data-type="coblocks/events"] > .block-editor-block-list__block-edit > [data-block] {
	margin-bottom: 0;
}

// Add selected padding.
.block-editor-block-list__block[data-type="coblocks/events"].has-child-selected .wp-block-coblocks-events,
.block-editor-block-list__block[data-type="coblocks/events"].is-selected .wp-block-coblocks-events {
	// padding: 14px 14px 0;
}

.block-editor-block-list__block[data-type="coblocks/events"].is-selected
[data-type="coblocks/event-item"]:not(.is-selected) > .block-editor-block-list__block-edit::before,
.block-editor-block-list__block[data-type="coblocks/events"].has-child-selected
[data-type="coblocks/event-item"]:not(.is-selected) > .block-editor-block-list__block-edit::before {
	border: 1px dashed rgba(123, 134, 162, 0.3);
}

.coblocks-events-nav-button {
	&__prev,
	&__next {
		background-color: transparent;
		background-image: url(/assets/lightbox/arrow-right.svg);
		border: none;
		border-radius: 100%;
		cursor: pointer;
		height: 62px;
		margin: 0 1%;
		padding: 15px;
		position: absolute;
		top: 50%;
		width: 62px;
	}

	&__prev {
		left: -5em;
		transform: rotate(180deg);
	}

	&__next {
		right: -5em;
	}
}

.coblocks-events-block-inner-blocks-container .block-editor-inner-blocks .block-editor-block-list__layout {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.coblocks-events-block-inner-blocks-container .block-editor-inner-blocks .block-editor-block-list__layout .block-list-appender {
	position: relative;

	& > .coblocks-block-appender {
		margin-top: 0;
	}
}
