.wp-block-coblocks-events {
	// If the block is not selected, show only items that are on the first page
	&:not(.child-selected) .wp-block-coblocks-event-item {
		&:not([data-page="0"]) {
			display: none;
		}
	}

	.coblocks-list-appender {
		margin-bottom: -14px;
		margin-left: -14px;
		margin-right: -14px;
		margin-top: 28px;
	}

	.coblocks-list-appender__toggle {
		align-items: center;
		background: rgba(139, 139, 150, 0.1) !important;
		border-radius: 0;
		box-shadow: none;
		color: $dark-gray-500;
		display: flex;
		justify-content: center;
		outline: 1px dashed $dark-gray-150;
		padding: 16px;
		width: 100%;

		&:hover {
			box-shadow: none !important;
			outline: 1px dashed $dark-gray-500;
		}
	}

	// Hide appender on Gutenberg 5.9+
	.block-list-appender {
		display: none !important;
	}

	.wp-block:first-child [data-block] {
		margin-top: 0;
	}

	.wp-block:nth-last-child(2) [data-block] {
		margin-bottom: 0;
	}
}

.wp-block[data-type="coblocks/events"] > .block-editor-block-list__block-edit > [data-block] {
	margin-bottom: 0;
}

// Add selected padding.
.block-editor-block-list__block[data-type="coblocks/events"].has-child-selected .wp-block-coblocks-events,
.block-editor-block-list__block[data-type="coblocks/events"].is-selected .wp-block-coblocks-events {
	padding: 14px;
}

.block-editor-block-list__block[data-type="coblocks/events"].is-selected
	[data-type="coblocks/event-item"]:not(.is-selected)
	> .block-editor-block-list__block-edit::before,
.block-editor-block-list__block[data-type="coblocks/events"].has-child-selected
	[data-type="coblocks/event-item"]:not(.is-selected)
	> .block-editor-block-list__block-edit::before {
	border: 1px dashed rgba(123, 134, 162, 0.3);
}
