[data-type="coblocks/events"] {

	@include input-submit-placeholder;

	.coblocks-block-appender {
		margin-top: 28px;
	}

	&.is-selected,
	&.has-child-selected {

		.block-list-appender {
			display: block;
		}
	}
}

.wp-block-coblocks-events {

	.wp-block:first-child [data-block] {
		margin-top: 0;
	}

	.wp-block:nth-last-child(2) [data-block] {
		margin-bottom: 0;
	}
}

[data-type="coblocks/events"] > .block-editor-block-list__block-edit > [data-block] {
	margin-bottom: 0;
}

// Add selected padding.
.block-editor-block-list__block[data-type="coblocks/events"].has-child-selected .wp-block-coblocks-events,
.block-editor-block-list__block[data-type="coblocks/events"].is-selected .wp-block-coblocks-events {
	padding: 14px 14px 0;
}

.block-editor-block-list__block[data-type="coblocks/events"].is-selected
[data-type="coblocks/event-item"]:not(.is-selected) > .block-editor-block-list__block-edit::before,
.block-editor-block-list__block[data-type="coblocks/events"].has-child-selected
[data-type="coblocks/event-item"]:not(.is-selected) > .block-editor-block-list__block-edit::before {
	border: 1px dashed rgba(123, 134, 162, 0.3);
}
