.wp-block-coblocks-events {

	&.slick-slider {
		box-sizing: border-box;
		display: block;
		padding-bottom: 4em;
		position: relative;
		touch-action: pan-y;
		user-select: none;
	}

	.slick-list {
		display: block;
		margin: 0 -2em;
		overflow: hidden;
		padding: 0;
		position: relative;
	}

	.slick-list:focus {
		outline: none;
	}

	.slick-list.dragging {
		cursor: pointer;
		cursor: hand;
	}

	&.slick-slider .slick-track,
	&.slick-slider .slick-list {
		transform: translate3d(0, 0, 0);
	}

	.slick-track {
		display: flex;
		left: 0;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		top: 0;
	}

	.slick-track::before,
	.slick-track::after {
		content: "";
		display: table;
	}

	.slick-track::after {
		clear: both;
	}

	.slick-loading .slick-track {
		visibility: hidden;
	}

	.slick-slide {
		float: left;
		height: auto;
		margin: 0 2em;
		min-height: 1px;
		outline: none;
	}

	[dir="rtl"] .slick-slide {
		float: right;
	}

	.slick-slide img {
		display: block;
	}

	.slick-slide.slick-loading img {
		display: none;
	}

	.slick-slide.dragging img {
		pointer-events: none;
	}

	.slick-initialized .slick-slide {
		display: block;
	}

	.slick-loading .slick-slide {
		visibility: hidden;
	}

	.slick-vertical .slick-slide {
		border: 1px solid transparent;
		display: block;
		height: auto;
	}

	.slick-arrow.slick-hidden {
		display: none;
	}

	.arrows {
		text-align: center;
	}

	/* Arrows */
	.slick-prev,
	.slick-next {
		background: transparent;
		border: none;
		bottom: 0;
		color: transparent;
		cursor: pointer;
		display: inline-block;
		font-size: initial;
		height: 4em;
		line-height: 0;
		outline: none;
		padding: 0.5em;
		position: absolute;
		width: 4em;
		z-index: 1;

		&:hover,
		&:focus {
			cursor: pointer;
			opacity: 0.5;
			outline: none;
		}

		&:hover::before,
		&:focus::before {
			opacity: 1;
		}
	}

	.slick-prev {
		left: 50%;
		transform: translateX(-100%);
	}


	.slick-next {
		right: 50%;
		transform: translateX(100%);
	}

	.slick-prev.slick-disabled::before,
	.slick-next.slick-disabled::before {
		opacity: 0.25;
	}

	.slick-prev::before,
	.slick-next::before {
		background-image: url(../assets/lightbox/arrow-left.svg);
		background-position: center;
		background-repeat: no-repeat;
		content: " ";
		display: block;
		height: 100%;
		width: 100%;
	}

	.slick-next::before {
		background-image: url(../assets/lightbox/arrow-right.svg);
	}

	[dir="rtl"] .slick-prev::before {
		background-image: url(../assets/lightbox/arrow-right.svg);
	}

	[dir="rtl"] .slick-next::before {
		background-image: url(../assets/lightbox/arrow-left.svg);
	}
}
