.wp-block-coblocks-events {
	.coblocks-events__next-page-icon-container,
	.coblocks-events__previous-page-icon-container {
		align-items: center;
		cursor: pointer;
		display: flex;
	}

	.next-page-icon,
	.previous-page-icon {
		background-color: currentColor;
		cursor: pointer;
		height: 24px;
		mask-image: url(images/events/next-page-arrow.svg);
		width: 24px;
	}

	.previous-page-icon {
		mask-image: url(images/events/previous-page-arrow.svg);
	}
}
