.wp-block-coblocks-events {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	// On small screens, we are no longer using row direction but column.
	@include break-small() {
		flex-direction: column;
	}

	.coblocks-events__next-page-icon-container,
	.coblocks-events__previous-page-icon-container {
		align-items: center;
		cursor: pointer;
		display: flex;
	}

	.next-page-icon,
	.previous-page-icon {
		background-color: currentColor;
		cursor: pointer;
		height: 24px;
		mask-image: url(images/events/next-page-arrow.svg);
		width: 24px;
	}

	.previous-page-icon {
		mask-image: url(images/events/previous-page-arrow.svg);
	}

	> span {
		flex: 1 100%;
		margin: 0;
		padding: 0;
	}
}
