.editor-block-list__block[data-type="coblocks/icon"] {
	.wp-block-coblocks-icon__inner {
		align-items: center;
		display: flex;
		justify-content: center;

		> svg {
			height: 100%;
			width: 100%;
		}
	}
}

//Icon Selector Styling
.coblocks-icon-types-list {
	height: 270px;
	overflow-y: scroll;

	.editor-block-types-list__list-item {
		.components-button {
			background: transparent;
			border-color: #ebecee;
			box-shadow: none;
			color: #555e66;
			height: auto;

			&:focus {
				background: #f8faf9;
				border-color: #ebecee;
				box-shadow: none;
				outline: none;
			}
			svg {
				margin: 0;
				padding: 0;
			}
		}
		.editor-block-types-list__item-icon {
			line-height: 0;
			padding: 14px 7px;
		}

		&.selected-svg {
			.components-button {
				&,
				&:focus {
					background: transparent;
					border-color: #00a2de;
				}
			}
		}
	}
}

.editor-block-styles__item-preview {
	.wp-block-coblocks-icon__inner {
		align-items: center;
		display: flex;
		height: 100% !important;
		justify-content: center;
		width: 100% !important;

		> svg {
			height: 70%;
			width: 70%;
		}
	}
}
