// Hide the border when the fixed toolbar is in use.
.has-fixed-toolbar .wp-block[data-type="coblocks/icon"] .editor-block-list__block-edit::before {
	display: none;
}

.components-coblocks-icon-block--advanced-size {
	margin-bottom: 1.5em;
	position: relative;

	.components-color-palette__clear {
		bottom: 3px;
		position: absolute;
		right: 0;
	}

	.components-range-control {
		width: calc(100% - 60px);

		.components-range-control__number {
			margin-left: 12px;
		}
	}
}
.coblocks-icon-types-list-wrapper {
	height: 100%;
	margin-left: -3px;
	overflow: hidden;
	width: calc(100% + 6px);

	// Hides the vertical scroll-bar.
	> .coblocks-icon-types-list.editor-block-types-list {
		box-sizing: content-box; /* So the width will be 100% + 17px */
		height: 100%;
		margin-bottom: 0.3em;
		overflow-y: scroll;
		padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
		width: 100%;
	}

	.no-results {
		font-style: italic;
		margin-bottom: 0;
		margin-left: 4px;
		margin-top: -8px;
	}
}

.coblocks-icon-types-list__search.components-base-control {
	margin-bottom: 0.7em !important;
}

.coblocks-icon-types-list.editor-block-types-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin-top: 0;
	max-height: 170px;
	overflow: hidden;
	overflow-y: scroll;
	padding: 4px 0 0 0;

	.editor-block-types-list__list-item {
		display: block;
		margin: 0 0 8px;
		padding: 0 4px;
		width: 29.9%;

		@media screen and (max-width: 782px) {
			width: 31.5%;
		}

		@media screen and (max-width: 600px) {
			width: 31.1%;
		}

		.components-button {
			align-items: center;
			background: transparent;
			border: 1px solid rgba(25, 30, 35, 0.2);
			border-radius: 3px;
			box-shadow: none;
			display: flex;
			height: auto;
			justify-content: center;
			padding: 14px 0;
			width: 100%;

			&:hover {
				background: $light-gray-100;

				svg {
					fill: $dark-gray-900;
				}
			}

			&:focus,
			&:active:enabled {
				background: $light-gray-100;
				box-shadow: 0 0 0 3px $light-gray-100;
				outline: none;
			}

			svg {
				fill: $dark-gray-500;
				height: 20px;
				margin: 0;
				overflow: hidden;
				padding: 0;
				width: 20px;
			}
		}

		.editor-block-types-list__item-icon {
			line-height: 0;
			padding: 0;
		}

		&.selected-svg {
			.components-button {
				background: $light-gray-500;
				border-color: $light-gray-500;
				pointer-events: none;

				svg {
					fill: $dark-gray-500;
				}
			}
		}

		&.is-selected {
			.components-button {
				&,
				&:focus {
					background: transparent;
					box-shadow: 0 0 0 2px $white, 0 0 0 4px $dark-gray-500;
				}
			}
		}
	}
}

//Add styling for resizableBox handles when a parent div is positioning the icon.
.has-center-content .wp-block-coblocks-icon__inner.is-selected {
	.components-resizable-box__handle-left,
	.components-resizable-box__handle-right {
		display: block !important;
	}
}

.has-right-content .wp-block-coblocks-icon__inner.is-selected {
	.components-resizable-box__handle-left {
		display: block !important;
	}

	.components-resizable-box__handle-right {
		display: none !important;
	}
}

// Editor style preview.
.editor-block-preview,
.editor-block-styles__item-preview {
	.wp-block-coblocks-icon__inner {
		align-items: center;
		background: transparent !important;
		display: flex;
		height: 100% !important;
		justify-content: center;
		margin-top: 16px;
		padding: 0 !important;
		transform: scale(1.23);
		width: 100% !important;

		> svg {
			fill: #3f464d;
			height: 24px;
			width: 24px;
		}
	}
}

.editor-block-preview {
	.wp-block-coblocks-icon__inner {
		margin-top: 3px;
	}
}

.components-coblocks-icon-size__controls {
	align-items: center;
	display: flex;
	justify-content: space-between;
	max-width: 248px;

	.components-base-control {
		width: 45%;
	}

	.components-base-control,
	.components-base-control__field {
		margin-bottom: 0 !important;
	}
}

// Hide screen reader label for Gutenberg < 6.4
.components-coblocks-icon-size__controls {
	.components-base-control .components-base-control__label {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute !important;
		width: 1px;
		word-wrap: normal !important;
	}
}

// Shim to center buttons in the inserter preview.
.block-editor-inserter__preview-content {
	.wp-block-coblocks-icon {
		text-align: center;
	}
}

// Shim to get icons to display correctly in G 6.3+ only.
.components-panel__body .block-editor-block-preview__container .wp-block-coblocks-icon {
	align-content: center;
	align-items: center;
	display: flex;
	justify-content: center;
	
	svg {
		transform: scale(4);
	}
}