.wp-block-coblocks-icon {
	&__inner {
		display: inline-block;
	}

	&__svg-wrapper {
		align-items: center;
		display: flex;
		justify-content: center;

		> svg {
			fill: currentColor;
			height: 100%;
			width: 100%;
		}
	}
}
