.components-coblocks-size-control {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.7em;

	&--label {
		display: block;
		margin-bottom: 4px;
	}

	.components-range-control + &--label {
		margin-top: 0 !important;
	}

	+ .components-coblocks-responsive__tabs {
		margin-top: 2em;
	}

	.components-button-group .components-button.is-button {
		box-shadow: 0 0 0 transparent;
		position: relative;
		text-shadow: none !important;
		transition: box-shadow 0s linear;


		&.is-primary {
			cursor: default;
		}

		&:active {
			cursor: default;

			&:enabled {
				box-shadow: 0 0 0;
			}
		}

		&.is-button:first-child {
			border-radius: 4px 0 0 4px;
		}

		&.is-button:last-child:not(.is-small) {
			border-radius: 0 4px 4px 0;
		}
	}
}
