.components-coblocks-size-control {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.7em;

	&--label {
		display: block;
		margin-bottom: 4px;
	}

	.components-range-control + &--label {
		margin-top: 0 !important;
	}

	+ .components-blockgallery-inspector__tabs {
		margin-top: 2em;
	}

	.components-button {
		background: none;
		border: 1px solid #8d96a0;
		box-shadow: 0 0 0 transparent;
		position: relative;
		text-shadow: none;
		transition: box-shadow 0.1s linear;

		&.is-primary {
			&,
			&:focus,
			&:active {
				background: #6c7781;
				border-color: #6c7781;
				color: #fff;
				cursor: default;
			}
		}

		&.is-button:first-child {
			border-radius: 4px 0 0 4px;
		}

		&.is-button:last-child:not(.is-small) {
			border-radius: 0 4px 4px 0;
		}
	}
}

