.editor-block-list__block[data-type="coblocks/shape-divider"] {
	.wp-block-coblocks-shape-divider {
		svg {
			bottom: 0;
			fill: currentColor;
			height: 100%;
			left: 0;
			position: absolute;
			width: 100%;
		}
	}
}

.editor-block-preview,
.editor-block-styles__item-preview {
	.wp-block-coblocks-shape-divider {
		height: 60px !important;
		transform: scale(1.45);

		&.is-vertically-flipped {
			svg {
				bottom: inherit;
				top: 0;
			}
		}

		svg {
			bottom: 0;
			fill: currentColor;
			height: 60px;
			position: absolute;
			width: 150%;

			&.divider--angled {
				height: 36px;
				left: -15%;
				width: 130%;
			}

			&.divider--sloped {
				height: 30px;
				width: 100%;
			}

			&.divider--rounded {
				bottom: 2px;
				height: 26px;
				width: 100%;
			}

			&.divider--waves {
				bottom: 2px;
				height: 36px;
			}

			&.divider--triangle {
				height: 30px;
				width: 100%;
			}

			&.divider--mountains {
				height: 36px;
				left: -15%;
				width: 130%;
			}
		}
	}
}

.editor-block-preview {
	.wp-block-coblocks-shape-divider {
		transform: scale(1.12) !important;

		&.is-vertically-flipped {
			svg {
				top: -13px !important;
			}
		}

		svg {
			left: 0 !important;
			bottom: -6px !important;
			width: 100% !important;
		}
	}
}
