.editor-block-list__block[data-type="coblocks/shape-divider"] {
	.wp-block-coblocks-shape-divider {
		svg {
			bottom: 0;
			fill: currentColor;
			height: 100%;
			left: 0;
			position: absolute;
			width: 100%;
		}
	}

	.components-resizable-box__handle {
		z-index: 30;
	}
}

.editor-block-preview,
.editor-block-styles__item-preview {
	.wp-block-coblocks-shape-divider {
		height: 60px !important;
		transform: scale(1.45);

		&.is-vertically-flipped {
			svg {
				bottom: inherit;
				top: 0;
			}
		}

		svg {
			bottom: 0;
			fill: currentColor;
			height: 60px;
			position: absolute;
			width: 150%;

			&.divider--angled {
				height: 36px;
				left: -15%;
				width: 130%;
			}

			&.divider--sloped {
				height: 30px;
				width: 100%;
			}

			&.divider--rounded {
				bottom: 2px;
				height: 26px;
				width: 100%;
			}

			&.divider--wavy {
				bottom: 2px;
				height: 36px;
			}

			&.divider--triangle {
				height: 30px;
				width: 100%;
			}

			&.divider--waves {
				height: 36px;
				left: -15%;
				width: 130%;
			}

			&.divider--pointed {
				bottom: 2px;
				height: 30px;
				width: 100%;
			}

			&.divider--hills {
				bottom: 2px;
				height: 36px;
			}
		}
	}
}

.editor-block-preview {
	&__content {
		overflow: hidden;
	}
	.wp-block-coblocks-shape-divider {
		height: 80px !important;
		overflow: hidden;
		top: -14px !important;
		transform: scaleX(1.12) scaleY(1.4) !important;

		svg {
			bottom: 0 !important;
			left: 0 !important;
			width: 100% !important;
		}
	}
}
