.wp-block[data-type="coblocks/buttons"] {
	[data-block] {
		margin-bottom: 0;
		margin-top: 0;
	}

	.editor-inner-blocks {
		> .editor-block-list__layout {
			display: flex;
			justify-content: center;

			.block-library-button__inline-link {
				box-shadow: 0 0 0 1px $light-gray-500;
				position: absolute;
				z-index: 99;
			}
		}
	}

	.flex-align-left {
		> .editor-inner-blocks {
			> .editor-block-list__layout {
				justify-content: flex-start;
			}
		}
	}

	.flex-align-right {
		> .editor-inner-blocks {
			> .editor-block-list__layout {
				justify-content: flex-end;
			}
		}
	}

	.wp-block[data-type="core/button"] {
		width: auto;

		> .editor-block-list__block-edit {
			margin-bottom: 0;
			margin-top: 0;
		}
	}
}
