.wp-block[data-type="coblocks/buttons"] {
	.wp-block-coblocks-buttons{
		position: relative;

		&__inner{
			> .editor-inner-blocks{
				> .editor-block-list__layout{
					display: flex;
					align-items: center;
 					justify-content: center;
				}
			}
			&.flex-align-left{
				> .editor-inner-blocks{
					> .editor-block-list__layout{
						justify-content: flex-start;
					}
				}
			}
			&.flex-align-right{
				> .editor-inner-blocks{
					> .editor-block-list__layout{
						justify-content: flex-end;
					}
				}
			}
			.editor-default-block-appender {
				display: none;
			}

			//button block
			.wp-block[data-type="core/button"] {
				width: auto;
			}

		}
	}
}