$gutter: 1.35em;

.wp-block-coblocks-buttons {
	&__inner {
		align-items: center;
		display: flex;
		justify-content: center;
		text-align: center;
	}

	.flex-align-left {
		align-items: flex-start;
		justify-content: flex-start;
	}

	.flex-align-right {
		align-items: flex-end;
		justify-content: flex-end;
	}

	.wp-block-button {
		margin-bottom: 0;

		+ .wp-block-button {
			margin-left: $gutter;
		}
	}

	.is-stacked-on-mobile {
		.wp-block-button + .wp-block-button {
			@media (max-width: #{ ($break-small) }) {
				margin-left: 0;
				margin-top: $gutter;
			}
		}
	}
}
