.wp-block-cover{
	&.has-custom-fontsize{
		p{
			font-size: inherit !important;
		}
	}
	&.has-custom-fontfamily{
		p{
			font-family: inherit !important;
		}
	}
	&.has-custom-lineheight{
		p{
			line-height: inherit !important;
		}
	}
}
.wp-block-button{
	&.has-custom-lineheight{
		.wp-block-button__link{
			line-height: inherit;
		}
	}
	&.has-custom-fontsize{
		.wp-block-button__link{
			font-size: inherit;
		}
	}
	&.has-custom-fontfamily{
		.wp-block-button__link{
			font-family: inherit !important;
		}
	}
}
