/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.editor-block-list__block[data-type="coblocks/spacer"] {

	.coblocks-spacer-control {
		margin-bottom: 0;
	}

	&.is-selected .editor-block-list__block-edit::before {
		outline: none;
	}

	.editor-block-list__block-edit {
		outline: 1px dashed $lightgray;
	}

	&.is-selected .editor-block-list__block-edit,
	&.is-hovered .editor-block-list__block-edit {
		outline: 1px dotted $lightgray;
	}

	&.is-selected .editor-block-list__block-edit {
		outline: 1px solid #e2e4e7;
	}
}

.coblocks-block-spacer-control__resize-handle {
	background: none;
	background: none;
	border-radius: 0;
	bottom: -15px !important;
	cursor: row-resize !important;
	display: none;
	height: 32px !important;
	left: 0 !important;
	width: 100% !important;
	z-index: 999;

	.editor-block-list__block[data-type="coblocks/spacer"].is-selected &,
	.editor-block-list__block[data-type="coblocks/spacer"].is-hovered &,
	.editor-block-list__block[data-type="coblocks/dynamic-separator"].is-selected &,
	.editor-block-list__block[data-type="coblocks/dynamic-separator"].is-hovered & {
		display: block;
	}

	&::after {
		background-color: #555d66;
		border-radius: 100px;
		border: 2px solid #fff;
		content: "";
		display: block;
		height: 12px;
		left: 50%;
		margin-left: -8px;
		margin-top: -6px;
		position: absolute;
		top: 50%;
		width: 12px;
	}
}
