@import "editor/gallery-item";
@import "editor/gallery-item-menus";
@import "editor/gallery-item-link";
@import "editor/uploader";
@import "editor/radius";
@import "editor/flickity-arrows";
@import "editor/core-themes";

.coblocks-gallery {
	margin: 0;

	.components-resizable-box__handle {
		z-index: 9999;
	}
}

.components-coblocks-size-control--shadow {
	margin-bottom: 2.85em;
}
