.wp-block[data-type="coblocks/feature"] {

	> .block-editor-block-list__block-edit {
		margin-bottom: 0;
		margin-top: 0;

		> [data-block] {
			margin-bottom: 0;
			margin-top: 0;
		}
	}

	.wp-block:nth-last-child(2) [data-block] {
		margin-bottom: 0;
	}

	// Remove editor margins that do not exist on the frontend
	.wp-block-coblocks-feature__inner {

		> .block-editor-inner-blocks {

			> .block-editor-block-list__layout {

				> .wp-block {

					&:first-child {

						> .block-editor-block-list__block-edit {
							margin-bottom: 0;
							margin-top: 0;
						}

						> .block-editor-block-list__insertion-point {
							display: none;
						}
					}

					> .block-editor-block-list__block-edit {
						margin-bottom: 0;
						margin-top: 0;
					}
				}

				> div {

					> .block-editor-default-block-appender {
						display: none !important;
					}
				}
			}
		}
	}
}

// Added for Gutenberg 6.3+
.block-editor-block-list__block[data-type="coblocks/feature"] .wp-block:first-child {

	[data-block] {
		margin-top: 0;
	}
}

.block-editor-block-list__block[data-type="coblocks/feature"] .wp-block:nth-last-child(2) {

	[data-block] {
		margin-bottom: 0;
	}
}

.block-editor-block-list__block[data-type="coblocks/features"].is-selected
[data-type="coblocks/feature"]:not(.is-selected) > .block-editor-block-list__block-edit::before,
.block-editor-block-list__block[data-type="coblocks/features"].has-child-selected
[data-type="coblocks/feature"]:not(.is-selected) > .block-editor-block-list__block-edit::before {
	border: 1px dashed rgba(123, 134, 162, 0.3);
}

.block-editor-block-list__block[data-type="coblocks/features"].has-child-selected .wp-block-coblocks-features,
.block-editor-block-list__block[data-type="coblocks/features"].is-selected .wp-block-coblocks-features {
	padding: 14px;
}

// Shim to fix styles in the previewer.
.block-editor-inserter__preview-content .wp-block-coblocks-features {
	padding-left: 30px;
	padding-right: 30px;
}
