.wp-block-coblocks-features__inner {

	&:not(.has-responsive-columns) {

		@include break-small() {
			align-items: flex-start;
			display: flex;
		}
	}

	&[class*="gutter"]:not(.has-responsive-columns) {

		@include break-small() {

			.wp-block-coblocks-feature:nth-child(odd) {
				margin-right: map-get($spacing, 3);
			}

			.wp-block-coblocks-feature:nth-child(even) {
				margin-left: map-get($spacing, 3);
			}

			.wp-block-coblocks-feature:not(:first-child) {
				margin-left: map-get($spacing, 3);
			}

			.wp-block-coblocks-feature:not(:last-child) {
				margin-right: map-get($spacing, 3);
			}
		}

		&.has-1-columns .wp-block-coblocks-feature {
			margin-left: 0;
			margin-right: 0;
		}
	}
}
