.wp-block-coblocks-features {
	position: relative;

	.has-left-content {
		text-align: left;

		img {
			margin-left: 0;
			margin-right: auto;
		}
	}

	.has-center-content {
		text-align: center;

		img {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.has-right-content {
		text-align: right;

		img {
			margin-left: auto;
			margin-right: 0;
		}
	}
}

.wp-block-coblocks-features__inner {
	position: relative;
}

.wp-block-coblocks-feature {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	max-width: 100%;
	position: relative;
	width: 100%;
	word-break: break-word;

	.wp-block-coblocks-icon {
		margin-bottom: map-get($spacing, 3);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 0 !important;
		padding: 0 !important;
	}

	p {
		margin-top: 0;

		&:not(.has-background) {
			padding-top: 0;
		}
	}
}

.wp-block-coblocks-feature__inner {

	> * {
		position: relative;
	}

	> *:last-child {
		margin-bottom: 0 !important;
	}
}

// Import legacy styles for older versions of CoBlocks
@import "legacy";
