.wp-block-coblocks-gallery-collage {
	ul {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		figure,
		.block-editor-media-placeholder {
			padding: 0;
		}

		&:nth-child(1) {
			align-self: flex-end;
			width: 75%;

			figure,
			.block-editor-media-placeholder {
				padding-top: calc(330 / 495 * 100%);
			}
		}

		&:nth-child(2) {
			align-self: flex-end;
			margin-right: auto;
			width: 25%;

			figure,
			.block-editor-media-placeholder {
				padding-top: 100%;
			}
		}

		&:nth-child(3) {
			align-self: flex-start;
			margin-left: auto;
			width: 25%;

			figure,
			.block-editor-media-placeholder {
				padding-top: 100%;
			}
		}

		&:nth-child(4) {
			align-self: flex-start;
			width: 25%;

			figure,
			.block-editor-media-placeholder {
				padding-top: 100%;
			}
		}

		&:nth-child(5) {
			align-self: flex-start;
			width: 25%;

			figure,
			.block-editor-media-placeholder {
				padding-top: 150%;
			}
		}
	}

	.is-style-tiled &__item {
		&:nth-child(1),
		&:nth-child(4) {
			width: 66.66%;

			figure,
			.block-editor-media-placeholder {
				padding-top: calc(380 / 583 * 100%);
			}
		}

		&:nth-child(2),
		&:nth-child(3) {
			width: 33.33%;

			figure,
			.block-editor-media-placeholder {
				padding-top: calc(380 / 290 * 100%);
			}
		}
	}

	.is-style-layered &__item {
		align-self: flex-start;

		&:nth-child(1) {
			margin-left: calc(159 / 890 * 100%);
			width: calc(358 / 890 * 100%);
			z-index: 4;

			figure,
			.block-editor-media-placeholder {
				padding-top: calc(492 / 358 * 100%);
			}
		}

		&:nth-child(2) {
			margin-left: calc(175 / 900 * 100%);
			margin-top: calc(117 / 772 * 100%);
			width: calc(198 / 890 * 100%);
			z-index: 2;

			figure,
			.block-editor-media-placeholder {
				padding-top: 100%;
			}
		}

		&:nth-child(3) {
			margin-left: calc(328 / 890 * 100%);
			margin-top: calc(249 / 890 * 100% * -1);
			width: calc(492 / 890 * 100%);
			z-index: 3;

			figure,
			.block-editor-media-placeholder {
				padding-top: calc(340 / 492 * 100%);
			}
		}

		&:nth-child(4) {
			margin-top: calc(189 / 890 * 100% * -1);
			width: calc(492 / 890 * 100%);
			z-index: 1;

			figure,
			.block-editor-media-placeholder {
				padding-top: calc(378 / 492 * 100%);
			}
		}
	}

	&__figure {
		display: flex;
		margin: 0;
		position: relative;
		width: 100%;

		img {
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			vertical-align: middle;
			width: 100%;
		}
	}

	figcaption {
		bottom: 0;
		font-size: 13px;
		opacity: 0.9;
		padding: 30px 10px 10px;
		position: absolute;
		text-align: center;
		width: 100%;
	}

	&.has-caption-style-dark figcaption {
		background: linear-gradient(0deg, rgba($color: $black, $alpha: 0.7) 0, rgba($color: $black, $alpha: 0.3) 50%, transparent);
	}

	&.has-caption-style-light figcaption {
		background: linear-gradient(0deg, rgba($color: $white, $alpha: 0.93) 6.3%, rgba($color: $white, $alpha: 0.5) 61%, rgba(255, 255, 255, 0));
	}

	&:not(.has-caption-color).has-caption-style-dark figcaption {
		color: $white;
	}

	&:not(.has-caption-color).has-caption-style-light figcaption {
		color: $black;
	}
}

// For mobile.
@for $i from 1 through 10 {
	.pt-#{ $i * 5 } {
		padding-top: #{round($i * 5 / 2)}px;
	}
}

@for $i from 1 through 10 {
	.pr-#{ $i * 5 } {
		padding-right: #{round($i * 5 / 2)}px;
	}
}

@for $i from 1 through 10 {
	.pb-#{ $i * 5 } {
		padding-bottom: #{round($i * 5 / 2)}px;
	}
}

@for $i from 1 through 10 {
	.pl-#{ $i * 5 } {
		padding-left: #{round($i * 5 / 2)}px;
	}
}

// For desktop.
@media (min-width: 700px) {
	@for $i from 1 through 10 {
		.desktop\:pt-#{ $i * 5 } {
			padding-top: #{round($i * 5 / 2)}px;
		}
	}

	@for $i from 1 through 10 {
		.desktop\:pr-#{ $i * 5 } {
			padding-right: #{round($i * 5 / 2)}px;
		}
	}

	@for $i from 1 through 10 {
		.desktop\:pb-#{ $i * 5 } {
			padding-bottom: #{round($i * 5 / 2)}px;
		}
	}

	@for $i from 1 through 10 {
		.desktop\:pl-#{ $i * 5 } {
			padding-left: #{round($i * 5 / 2)}px;
		}
	}
}
