.wp-block[data-type="core/image"] .block-editor-block-list__block-edit {
	figure {
		transition: opacity 0.1s linear;
	}

	.is-cropping {
		opacity: 0.3;
	}
}

.wp-block[data-type="core/cover"] .block-editor-block-list__block-edit {
	.wp-block-cover {
		transition: opacity 0.1s linear;
	}

	.is-cropping {
		opacity: 0.3;
	}
}
