.wp-block-coblocks-banner {
	position: relative;

	.has-left-content {
		text-align: left;
	}

	.has-center-content {
		text-align: center;

		.wp-block-coblocks-buttons__inner {
			justify-content: center;
		}

		h1::before,
		h2::before {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.has-right-content {
		text-align: right;

		.wp-block-coblocks-buttons__inner {
			justify-content: flex-end;
		}

		h1::before,
		h2::before {
			margin-left: auto;
		}
	}

	&__inner{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		&.banner-left-align,
		&.banner-right-align{
			flex-direction: initial;
			> div{
				flex: 1 0 50%;
			}
		}

		&.banner-left-align{
			flex-flow: row-reverse;
		}

		.wp-block-coblocks-banner-title{
			margin-top: 0px;
			padding-top: 0px;
		}

		.wp-block-button{
			margin-bottom: 0px;
		}
	}
}
