.block-editor-block-list__block[data-type="coblocks/faq-item"] {
	min-height: 140px; // For the custom appender not to overlap.

	&.wp-block {
		margin: 0 !important;

		.wp-block-coblocks-faq-item {
			&__question {
				&:hover {
					cursor: text;
				}
			}
		}

		.wp-block-coblocks-faq-item__answer p {
			margin-top: 0;
		}
	}
}
