.wp-block-coblocks-accordion-item {
	// Remove hover and focus, as the title is now a text field.
	&__title {
		&::after {
			display: none;
		}

		&:focus {
			outline: none !important;
		}
	}

	&--open &__title {
		border-radius: $accordion-border-radius $accordion-border-radius 0 0;
	}

	// Set proper margin for the first and last item within the accordion item.
	.wp-block:first-of-type .editor-block-list__block-edit {
		margin-top: 4px;
	}

	.wp-block:nth-last-child(2) .editor-block-list__block-edit {
		margin-bottom: 4px;
	}
}
