.wp-block-coblocks-accordion-item {
	border-radius: $accordion-border-radius;
	margin: 0 0 1em;

	p:first-of-type {
		margin-top: 0;
	}

	p:last-of-type {
		margin-bottom: 0;
	}

	&__title {
		background: $accordion-background;
		border-radius: $accordion-border-radius;
		padding: 10px 15px;
		position: relative;

		&::after {
			border-radius: $accordion-border-radius;
			bottom: 0;
			content: "";
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			transition: background 100ms cubic-bezier(0.694, 0, 0.335, 1);
		}

		&:hover::after {
			background: rgba($black, 0.0275);
		}

		&:focus {
			outline: 1px dotted $light-gray-900;
			outline-offset: -4px;
		}
	}

	details[open] summary {
		border-radius: $accordion-border-radius $accordion-border-radius 0 0;
	}

	&__content {
		border: 1px solid $accordion-background;
		border-radius: 0 0 $accordion-border-radius $accordion-border-radius;
		margin-top: -1px;
		padding: 15px 20px;
	}
}
