.wp-block-coblocks-accordion-item {
	border-radius: $accordion-border-radius;
	list-style: none;
	margin: 0 0 1em;
	word-break: break-word;

	&__title {
		background: $accordion-background;
		border-radius: $accordion-border-radius;
		cursor: pointer;
		padding: 10px 15px;
		position: relative;

		&::after {
			border-radius: $accordion-border-radius;
			bottom: 0;
			content: "";
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			transition: background 100ms cubic-bezier(0.694, 0, 0.335, 1);
		}

		&:hover::after {
			background: rgba($black, 0.0275);
		}

		&:focus {
			outline: 1px dotted $light-gray-900;
			outline-offset: -4px;
		}

		p {
			display: inline;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	details[open] summary {
		border-radius: $accordion-border-radius $accordion-border-radius 0 0;
	}

	&__content {
		border: 1px solid $accordion-background;
		border-radius: 0 0 $accordion-border-radius $accordion-border-radius;
		margin-top: -1px;
		padding: 15px 20px;

		p.has-background {
			padding: 20px 30px;
		}

		p:last-of-type {
			margin-bottom: 0;
		}

		> .wp-block-coblocks-accordion {
			margin-top: 0.95em;
		}
	}

	&__text {
		margin-bottom: 0.25em;
		margin-top: 0;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
