.wp-block-coblocks-accordion-item {
	border-radius: 4px;
	margin: 0 0 1em;

	p:first-of-type {
		margin-top: 0;
	}

	p:last-of-type {
		margin-bottom: 0;
	}

	&__title,
	&__title.has-background {
		border-radius: 4px;
		padding: 10px 15px;
		position: relative;

		&::after {
			border-radius: 4px;
			bottom: 0;
			content: "";
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			transition: background 100ms cubic-bezier(0.694, 0, 0.335, 1);
		}

		&:not(.has-background) {
			background: hsla(240, 5%, 57%, 0.1);
		}

		&:hover::after {
			background: rgba($black, 0.0275);
		}

		&:focus {
			outline: 1px dotted;
			outline-offset: -4px;
		}
	}

	details[open] summary {
		border-radius: 4px 4px 0 0;
	}

	&__content {
		border: 1px solid hsla(240, 5%, 57%, 0.1);
		border-radius: 0 0 4px 4px;
		border-top: 0;
		padding: 15px 20px;

		> div {
			max-width: 100%;
		}
	}

	.alignfull img {
		max-width: 100% !important;
	}
}
