.editor-block-list__block[data-type="coblocks/layout"] {
	.components-placeholder__label {
		svg {
			margin-right: 0.5em;
			position: relative;
			top: -0.075em;
		}
	}

	.components-placeholder {
		.components-button {
			font-size: 13px;
			height: 33px;
			line-height: 30px;
		}
	}
}

.components-modal--coblocks-layouts.components-modal__frame {
	min-height: 60%;

	@media (min-width: 600px) {
		max-width: 860px;
		width: 100%;
	}

	.components-modal__header {
		margin-bottom: 0;
	}

	.coblocks-tab-panel {
		margin: 0 -16px;
	}

	.components-tab-panel__tabs {
		align-items: center;
		background: #f3f4f5;
		border-bottom: 1px solid #e2e4e7;
		display: flex;
		justify-content: flex-start;
		position: sticky;
		top: 56px;
		z-index: 9;

		.edit-post-sidebar__panel-tab {
			margin-bottom: -1px;
		}
	}

	.components-tab-panel__tab-content {
		padding: 16px;
	}
}

.coblocks-layouts__list {
	align-items: flex-start;
	box-sizing: border-box;
	clear: both;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	&-item {
		background-color: #fff;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
		box-sizing: border-box;
		margin: 10px;
		padding: 6px;
		position: relative;
		transition: box-shadow 50ms ease-in-out;
		width: calc(33.333% - 20px);

		&:hover {
			.coblocks-layouts__list-item-screenshot {
				opacity: 0.3;
			}
		}
	}

	&-item-screenshot {
		display: block;
		max-width: 100%;
		transition: opacity 200ms cubic-bezier(0.694, 0, 0.335, 1), visibility 300ms step-end;
	}

	&-item-action-button.components-button {
		background: transparent;
		border: 0;
		border-radius: 2px;
		bottom: 0;
		box-shadow: none;
		color: #23282d !important;
		height: 100%;
		justify-content: center;
		left: 0;
		opacity: 0;
		padding: 0;
		position: absolute;
		right: 0;
		text-align: center;
		text-shadow: none;
		top: 0;
		transition: opacity 200ms cubic-bezier(0.694, 0, 0.335, 1), visibility 300ms step-end;
		width: 100%;

		&:hover,
		&:active:enabled,
		&:focus:enabled {
			background: transparent;
			border: 0;
			box-shadow: none;
			opacity: 1;
		}
	}

	&-item-title {
		display: none;
	}

	&-item-tags {
		display: none;
	}

	// 				&:hover {
	// 					box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06), 0 0 0 1px rgba(0, 0, 0, 0.3) inset, 0 0 0 4px #fff, 0 0 0 6px #00a0d2;
	// 				}

	// 				img {
	// 					display: block;
	// 					max-width: 100%;
	// 				}

	// 				span {
	// 					position: absolute;
	// 					text-align: center;
	// 					top: 0;
	// 					left: 0;
	// 					right: 0;
	// 					bottom: 0;
	// 					width: 100%;
	// 					height: 100%;

	// 					button {
	// 						box-shadow: none;
	// 						top: 0;
	// 						left: 0;
	// 						right: 0;
	// 						bottom: 0;
	// 						width: 100%;
	// 						height: 100%;
	// 						opacity: 0;
	// 						padding: 0;
	// 						border: 0;
	// 					}
	// 				}

	// 				.hidden {
	// 					display: none;
	// 				}

	// 				div {
	// 					// background: #fff;
	// 					// padding: 8px 10px 5px;

	// 					h3 {
	// 						font-size: 13px;
	// 						margin: 0 !important;
	// 						padding: 0 !important;
	// 					}
	// 				}

	// 				&:hover {
	// 					img {
	// 						border-color: #01a0d2;
	// 					}

	// 					// span:not(.hidden){
	// 					// 	display: block;
	// 					// }

	// 					// div:not(.coblocks-placeholder){
	// 					// 	background: #fdfdfd;
	// 					// }
	// 				}

	// 				&.coblocks-pro {
	// 					&::before {
	// 						z-index: 99999;
	// 						position: absolute;
	// 						content: "pro";
	// 						text-transform: uppercase;
	// 						top: 7px;
	// 						right: 7px;
	// 						background-color: #ffb310;
	// 						color: #fff;
	// 						padding: 2px 9px 0;
	// 						font-size: 9px;
	// 						-webkit-border-radius: 2px;
	// 						border-radius: 2px;
	// 					}
	// 				}

	// 				.coblocks-placeholder {
	// 					border: 0px;
	// 					height: 100px;
	// 					background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAALElEQVQYGWO8d+/efwYkoKioiMRjYGBC4WHhUK6A8T8QIJt8//59ZC493AAAQssKpBK4F5AAAAAASUVORK5CYII=);
	// 					transition: opacity 0.2s ease-in-out;
	// 				}
	// 			}
	// 		}
	// 		.coblocks-table {
	// 			tbody {
	// 				tr {
	// 					&:hover {
	// 						background: #d8dbde;
	// 					}
	// 				}
	// 			}
	// 		}

	// 		.coblocks-nolists {
	// 			text-align: center;
	// 			padding-top: 50px;
	// 			padding-bottom: 50px;
	// 		}
	// 	}
}
//Modal search and category filters.
.coblocks__modal-controls {
	align-items: center;
	display: flex;
	display: none;
	justify-content: space-between;
	margin: 0 0 20px;

	&--templates {
		justify-content: flex-end;
	}

	.components-base-control__field {
		margin: 0;
	}

	// Select field.
	.components-select-control__input {
		height: 30px;
		line-height: 30px;
	}

	&--search,
	.components-select-control__input {
		min-width: 180px;
	}
}
