.coblocks-swiper-container {
	position: relative;
	height: 100%;
	width: 100%;
}

.swiper-container,
.swiper-wrapper {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
}

.swiper-plugin-pagination {
	height: auto;
	width: auto;
}

/* basic */
.swiper-container {
	overflow: hidden;
}

.swiper-container-thumbnails {
	overflow: hidden;
	position: relative;

	height: 80px;
}

.swiper-wrapper-thumbnails {
	transform: none !important;
	transition: none !important;

	background-color: blue;
}

.coblocks-gallery--caption {
	width: 100% !important;
	position: absolute !important; 
	bottom: 0 !important;
}


.swiper-slide {

	flex-shrink: 0;
	font-size: 18px;
}

.swiper-slide-thumbnail {
	align-items: center;
	display: flex;
	flex-shrink: 0;
	font-size: 18px;
	
	justify-content: center;
	position: relative;
	width: 100px;
	height: 80px;
}

.nav-button  {
		&__prev {
			background-color: var(--wp-admin-theme-color, #007cba);

			transform: translateY(-50%);
			margin: 0 1%;
			padding: 15px;
			height: 62px;
			left: 0;
			width: 62px;
			top: 50%;
			position: absolute;
			cursor: pointer;

			border-radius: 100%;
			border: none;
		}

		&__next {
			background-color: var(--wp-admin-theme-color, #007cba);

			transform: translateY(-50%);
			margin: 0 1%;
			padding: 15px;
		    height: 62px;
			width: 62px;
			top: 50%;
			position: absolute;
			right: 0;
			cursor: pointer;
			border-radius: 100%;
			border: none;
		}
}

.icon {
	mask-image: url(images/lightbox/arrow-right.svg);
	height: 32px;
	width: 32px;

	background-color: white;
}
