.editor-block-list__block[data-type="coblocks/gallery-offset"] {

	.coblocks-gallery--item .is-selected::after {
		bottom: -0.05em;
	}

	// Fixes an issue where figures are set to display 100% if alignfull is set.
	.coblocks-gallery--figure {
		width: auto !important;
	}

	// Fullwidth upload image button.
	.coblocks-gallery--item-uploader {

		.components-form-file-upload,
		.components-coblocks-gallery-item__upload {
			height: 100%;
			width: 100%;
			min-width: 300px;
		}
	}

	// Captions.
	.editor-rich-text {
		bottom: 0;
		left: 0;
		max-height: 100%;
		overflow-y: auto;
		position: absolute;
		right: 0;
		width: 100%;

		.editor-rich-text__tinymce {
			color: inherit;

			a {
				color: inherit;
			}

			&:not(.mce-content-body) {
				opacity: 0.6;
			}

			&:focus a[data-mce-selected] {
				opacity: 0.2;
			}
		}
	}

	.editor-rich-text figcaption:not([data-is-placeholder-visible="true"]) {
		position: relative !important;
		overflow: hidden;
	}

	.is-selected .editor-rich-text {
		// IE calculates this incorrectly, so leave it to modern browsers.
		@supports (position: sticky) {
			bottom: 3px;
			left: 3px;
			right: 3px;
			width: calc(100% - 6px);
			margin-top: -3px;
		}

		figcaption {
			padding-bottom: 5px !important;
		}

		// Make extra space for the inline toolbar.
		.editor-rich-text__tinymce {
			padding-top: 48px;
		}
	}

	.coblocks-gallery {
		list-style: none !important;
		margin-left: auto !important;
		margin-right: auto !important;
		padding: 0
	}

	.coblocks-gallery--item {
		list-style: none !important;
		margin: 0;
		padding: 0 !important
	}

	.coblocks-gallery--item figure {
		position: relative
	}

	.coblocks-gallery--item img {
		vertical-align: middle;
		opacity: 1 !important
	}

	.coblocks-gallery .coblocks-gallery--item figcaption {
		margin: 0 !important
	}

	.coblocks-gallery:not(.has-padding) {
		padding: 0 !important
	}

	.coblocks-gallery:not(.has-margin) .coblocks-gallery--item {
		margin: auto !important
	}

	.coblocks-gallery.is-cropped .coblocks-gallery--item a,
	.coblocks-gallery.is-cropped .coblocks-gallery--item img,
	.coblocks-gallery.is-cropped .coblocks-gallery--item-thumbnail a,
	.coblocks-gallery.is-cropped .coblocks-gallery--item-thumbnail img {
		width: 100%
	}

	@supports ((position: -webkit-sticky) or (position: sticky)) {
		.coblocks-gallery.is-cropped .coblocks-gallery--item a,
		.coblocks-gallery.is-cropped .coblocks-gallery--item img,
		.coblocks-gallery.is-cropped .coblocks-gallery--item-thumbnail a,
		.coblocks-gallery.is-cropped .coblocks-gallery--item-thumbnail img {
			-ms-flex: 1;
			flex: 1;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover
		}
	}

	.alignfull ul.coblocks-gallery,
	.alignwide ul.coblocks-gallery {
		max-width: 100%
	}
}