.editor-block-list__block[data-type="coblocks/highlight"] {

	p {
		margin: 0;
	}

	.wp-block-coblocks-highlight {
		padding: 0;
	}

	.wp-block-coblocks-highlight__content[data-is-placeholder-visible="true"] {
		line-height: 1.4;
	}
}
