.wp-block-coblocks-highlight {
	background: transparent !important;

	&:empty {
		display: none;
	}

	& + & {
		padding-top: 7px;
	}

	&__content {
		padding: 2px 5px 2px 3px;
		position: relative;
	}

	&__content:not(.has-background) {
		background-color: #fff8e5;
	}
}
