.wp-block-coblocks-accordion-item {
	margin-bottom: 0;

	&__title {
		cursor: inherit;
		padding: 10px 15px !important;

		&::after {
			display: none;
		}

		&:focus {
			outline: none;
		}
	}

	&--open &__title,
	&.is-selected &__title {
		border-radius: $accordion-border-radius $accordion-border-radius 0 0;
	}
}
