.wp-block[data-type="coblocks/service"] {

	> .block-editor-block-list__block-edit {
		margin-bottom: 0;
		margin-top: 0;

		> [data-block] {
			margin-bottom: 0;
			margin-top: 0;
		}
	}

	.block-editor-block-mover {
		display: none;
	}

	.rich-text:last-of-type {
		margin-bottom: 0;
	}

	.wp-block:nth-last-child(2) [data-block] {
		margin-bottom: 0;
	}

	.is-selected .components-coblocks-gallery-item__remove-menu {
		background: $white;
		border: 1px solid #1e1e1e;
		border-radius: 3px;
		margin: 6px;
		transition: box-shadow 0.2s ease-out;

		.coblocks-gallery-item__button {
			color: #1e1e1e !important;
			height: 22px;
			width: auto !important;
			min-width: auto !important;
			padding: 2px;

			&:hover {
				color: #191e23 !important;
			}
		}
	}
}

.wp-block-coblocks-service {

	.components-placeholder.components-placeholder {
		padding: calc(3 / 4 * 100%) 0 0;
	}

	.is-style-sixbynine & .components-placeholder.components-placeholder {
		padding-top: calc(9 / 16 * 100%);
	}

	.is-style-circle & .components-placeholder.components-placeholder {
		border-radius: 100%;
		padding-top: 100%;

		img {
			border-radius: 100%;
		}
	}

	.is-style-square & .components-placeholder.components-placeholder {
		padding-top: 100%;
	}

	.block-editor-media-placeholder {
		background: $dark-opacity-light-200;
		min-height: inherit;

		.components-placeholder__label,
		.components-placeholder__instructions {
			display: none;
		}

		.components-placeholder__fieldset {
			align-content: center;
			align-items: center;
			flex-direction: column;
			height: 100%;
			justify-content: center;
			left: 0;
			max-width: 100%;
			position: absolute;
			top: 0;
			width: 100%;

			.components-button {
				margin-bottom: 0 !important;
				margin-left: 0;
				margin-right: 0;
			}

			.components-form-file-upload {
				margin-bottom: 6px;
			}
		}

		.components-drop-zone {
			bottom: -1px;
			left: -1px;
			right: -1px;
			top: -1px;

			.is-style-circle & {
				border-radius: 100%;
			}
		}
	}

	.wp-block-coblocks-service__figure {

		&.is-selected {

			&::after {
				bottom: 0;
				border-radius: 2px;
				box-shadow: 0 0 0 2px theme(primary), inset 0 0 0 1px $white;
				content: "";
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 1;
			}

			.is-style-circle &::after {
				border-radius: 100%;
			}
		}
	}

	.components-placeholder.wp-block-coblocks-service__figure {
		border-radius: 0;
		margin: 0 0 1.5em;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {

		&.rich-text {
			margin-bottom: 0.5em;
		}
	}

	.wp-block[data-type="core/button"] {
		margin-top: 1.7em;
	}
}

.wp-block[data-type="coblocks/service"].is-selected.block-editor-block-list__block:focus:after {
	box-shadow: 0 0 0 1.5px transparent;

}

.wp-block[data-type="coblocks/service"].is-selected.block-editor-block-list__block .wp-block-coblocks-service .wp-block-coblocks-service__figure:not(figure) {
    box-shadow: inset 0 0 0 4px #0085ba;
}
