.wp-block[data-type="coblocks/service"] {
	flex: 1 100%;
	max-width: 100%;

	> .editor-block-list__block-edit {
		margin-bottom: 0;
		margin-top: 0;

		> [data-block] {
			margin-bottom: 0;
			margin-top: 0;
		}
	}

	.editor-block-mover {
		display: none;
	}

	.rich-text:last-of-type {
		margin-bottom: 0;
	}

	.wp-block:nth-last-child(2) [data-block] {
		margin-bottom: 0;
	}
}

.wp-block-coblocks-service {
	display: block;
	flex: 1 100%;

	.editor-media-placeholder {
		min-height: unset;
		padding: calc(9 / 16 * 100%) 0 0 0;
		position: relative;

		.is-style-circle & {
			border-radius: 100%;
			padding-top: 100%;
		}

		.is-style-square & {
			padding-top: 100%;
		}

		.components-placeholder__label,
		.components-placeholder__instructions {
			display: none;
		}

		.components-placeholder__fieldset {
			align-items: center;
			height: 100%;
			left: 0;
			max-width: 100%;
			position: absolute;
			top: 0;
			width: 100%;

			.components-button {
				margin-bottom: 0 !important;
			}
		}

		.components-drop-zone {
			bottom: -1px;
			left: -1px;
			right: -1px;
			top: -1px;

			.is-style-circle & {
				border-radius: 100%;
			}
		}
	}

	&__figure {
		margin-bottom: 0;

		&.is-selected {
			&::after {
				bottom: 0;
				box-shadow: inset 0 0 0 4px theme(primary);
				content: "";
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 1;
			}

			.is-style-circle &::after {
				border-radius: 100%;
			}
		}
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		&.rich-text {
			margin-bottom: 0.5em;
		}
	}

	.wp-block[data-type="core/button"] {
		margin-top: 1.7em;
	}
}
