.wp-block-coblocks-service {
	&__figure {
		display: flex;
		margin: 0;
		padding-top: calc(9 / 16 * 100%);
		position: relative;
		width: 100%;

		.is-style-circle & {
			padding-top: 100%;
			border-radius: 100%;

			img {
				border-radius: 100%;
			}
		}

		.is-style-square & {
			padding-top: 100%;
		}

		> img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			vertical-align: middle;
		}
	}

	&__content {
		h3 {
			margin-bottom: 0;
		}

		p {
			margin-top: 0.5em;
		}

		.wp-block-button {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}
