.wp-block-coblocks-service {
	flex: 1 100%;
	margin: 0 0 3em;
	max-width: 100%;

	@include break-small() {
		margin: 0;
	}

	&__figure {
		display: flex;
		margin: 0 0 1.5em;
		padding-top: calc(3 / 4 * 100%);
		position: relative;
		width: 100%;

		.is-style-sixbynine & {
			padding-top: calc(9 / 16 * 100%);
		}

		.is-style-circle & {
			border-radius: 100%;
			padding-top: 100%;

			img {
				border-radius: 100%;
			}
		}

		.is-style-square & {
			padding-top: 100%;
		}

		> img {
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			vertical-align: middle;
			width: 100%;
		}
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 0.5em;
		margin-top: 0;
	}

	p {
		&:first-of-type {
			margin-top: 0;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.wp-block-button {
		margin-bottom: 0;
		margin-top: 1.5em;
	}
}
