@import "node_modules/@wordpress/base-styles/variables";
@import "node_modules/@wordpress/base-styles/colors";
@import "node_modules/@wordpress/base-styles/mixins";
@import "node_modules/@wordpress/base-styles/breakpoints";

.coblocks-modal__content {

	@include break-small() {
		max-width: 310px;
	}

	.components-base-control__help {
		color: $gray-900;
		display: block;
		font-style: normal;
		padding-left: 36px;
		padding-top: 2px;

		@include break-small() {
			padding-left: 32px;
		}
	}
}
