.coblocks-dashboard-widget {
	&__header {
		display: table;
		width: 100%;
		margin: 0 -12px 8px;
		padding: 0 12px 12px;
	}

	&__version,
	&__create {
		display: table-cell;
		vertical-align: middle;
	}

	&__create {
		text-align: right;

		.button {
			padding-left: 5px;
		}

		.dashicons {
			font-size: 17px;
			position: relative;
			top: 1px;
			vertical-align: middle;
		}
	}

	&__feed {
		@media screen and (min-width: 355px) {
			&--content {
				display: table-row;
				float: left;
				max-width: 69%;
			}

			&--date {
				float: right;
				max-width: 29%;
			}
		}

		h3 {
			font-weight: 600 !important;
			margin: 0 0 20px !important;
		}

		ul {
			background-color: $light-gray-100;
			margin-bottom: -6px;
			margin-left: -12px;
			margin-right: -12px;
			margin-top: -10px;

			li {
				border-top: 1px solid #eee;
				padding: 9px 12px;
				margin-bottom: 0;
				color: #72777c;

				a {
					font-weight: 600;
				}

				p {
					margin-top: 3px;
					margin-bottom: 0;
				}

				&:last-child {
					margin-bottom: 6px;
				}
			}
		}
	}

	&__footer {
		border-top: 1px solid #eee;
		margin: 5px -12px -12px;
		padding: 12px;

		ul {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				padding: 0 10px;
				margin: 0;
				border-right: 1px solid #eee;

				.dashicons {
					position: relative;
					top: -2px;
				}

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					border-right: 0;
				}
			}
		}
	}
}
