.post-type-coblocks {

	table.widefat {
		border-radius: 3px;
	}

	.search-box {
		position: relative;
		top: 7px;

		input[name="s"] {
			border-radius: 3px;
		}
	}

	.tablenav {
		height: 40px;
		padding-top: 4px;

		&.top .tablenav-pages {
			display: none;
		}
	}

	table.wp-list-table {

		span.template-image {
			@include ir();
			margin: 0 auto;
			font-size: 1.1em;

			&::before {
				@include icon_dashicons( "\f128" );
			}
		}

		.column-template_type {
			width: 150px;
		}

		.row-actions {
			color: #999;
		}

		.column-thumb {
			line-height: 1;
			text-align: center;
			white-space: nowrap;
			width: 160px;

			img {
				border-radius: 3px;
				height: auto;
				margin: 0;
				max-height: 40px;
				max-width: 40px;
				vertical-align: middle;
				width: auto;
			}

			a {
				background: #f0f0f0;
				border-radius: 3px;
				display: inline-block;
				height: 40px;
				position: relative;
				width: 40px;

				&::before {
					border-radius: 3px;
					bottom: 0;
					content: "";
					left: 0;
					pointer-events: none;
					position: absolute;
					right: 0;
					top: 0;
				}

				&:hover::before {
					background: rgba(0, 0, 0, 0.025);
				}
			}
		}
	}

	#coblocks-library-tabs-wrapper.nav-tab-wrapper {
		padding-top: 1.45em;
	}
}
