// Mixins.
@mixin ir() {
	display: block;
	text-indent: -9999px;
	position: relative;
	height: 1em;
	width: 1em;
}

@mixin icon_dashicons( $glyph: "\f333" ) {
	-webkit-font-smoothing: antialiased;
	content: $glyph;
	font-family: Dashicons, sans-serif;
	font-variant: normal;
	font-weight: 400;
	height: 100%;
	left: 0;
	line-height: 1;
	margin: 0;
	position: absolute;
	speak: none;
	text-align: center;
	text-indent: 0;
	text-transform: none;
	top: 0;
	width: 100%;
}
