.coblocks-default-ui {

	.media-modal {
		// top: 5vw;
		// left: 5vw;
		// right: 5vw;
		// bottom: 5vw;
		// max-width: 400px;
	}

	.media-modal-content {
		// max-width: 400px;
		// left: 50%;
		// margin-left: -200px;
		// border-radius: 8px;
	}

	.media-modal-backdrop {
		background-color: #222528;
	}

	.coblocks-create.attachments {
		top: 0;
	}
}