.coblocks--template-count {
	padding: 0 0 0 15px;
	font-size: 14px;
	color: $gray;
	position: relative;
	top: -2px;
}

// In the modal.
.coblocks-create {
	.coblocks--template-count {
		font-size: 14px;
		top: 27px;
	}
}

// Remove the little dropdown arrow next to the template count/limit.
.split-page-title-action {
	.expander {
		display: none;
	}

	.button {
		vertical-align: initial;
	}
}
