.wp-block[data-type="coblocks/hero"] {
	background: transparent !important;

	.wp-block-coblocks-hero {
		width: 100%;

		&__inner {
			> .editor-inner-blocks{
				> .editor-block-list__layout{
					> .wp-block{
						width: 100%;
						max-width: none;
					}
				}
			}
		}
	}
}