
.wp-block-coblocks-hero {
	position: relative;

	.has-left-content {
		text-align: left;
	}

	.has-center-content {
		text-align: center;

		.wp-block-coblocks-buttons__inner {
			justify-content: center;
		}

		h1::before,
		h2::before {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.has-right-content {
		text-align: right;

		.wp-block-coblocks-buttons__inner {
			justify-content: flex-end;
		}

		h1::before,
		h2::before {
			margin-left: auto;
		}
	}

	&__inner {
		display: flex;
		position: relative;

		&.is-fullscreen {
			height: 100vh;
		}

		.wp-block-coblocks-hero__box {
			position: relative;
		}

		//grid alignment
		&.hero-top-left-align {
			align-items: flex-start;
			justify-content: flex-start;
		}

		&.hero-top-center-align {
			align-items: flex-start;
			justify-content: center;
		}

		&.hero-top-right-align {
			align-items: flex-start;
			justify-content: flex-end;
		}

		&.hero-center-left-align {
			align-items: center;
			justify-content: flex-start;
		}

		&.hero-center-center-align {
			align-items: center;
			justify-content: center;
		}

		&.hero-center-center-align.is-fullscreen {
			align-items: center;
			justify-content: center;
		}

		&.hero-center-right-align {
			align-items: center;
			justify-content: flex-end;
		}

		&.hero-bottom-left-align {
			align-items: flex-end;
			justify-content: flex-start;
		}

		&.hero-bottom-center-align {
			align-items: flex-end;
			justify-content: center;
		}

		&.hero-bottom-right-align {
			align-items: flex-end;
			justify-content: flex-end;
		}
	}

	.wp-block-button {
		margin-bottom: 0;
	}
}
