.wp-block-coblocks-hero {
	position: relative;

	.has-left-content {
		text-align: left;
	}

	.has-center-content {
		text-align: center;

		.wp-block-coblocks-buttons__inner {
			justify-content: center;
		}

		h1::before,
		h2::before {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.has-right-content {
		text-align: right;

		.wp-block-coblocks-buttons__inner {
			justify-content: flex-end;
		}

		h1::before,
		h2::before {
			margin-left: auto;
		}
	}

	&__inner {
		display: grid;
		grid-template-columns: repeat(3, auto);
		grid-template-rows: repeat(3, 1fr);
		position: relative;

		&.is-fullscreen {
			height: 100vh;
		}

		.wp-block-coblocks-hero__box {
			position: relative;
		}

		//grid alignment
		&.hero-top-left-align {
			> .wp-block-coblocks-hero__box {
				grid-column: 1;
				grid-row: 1;
				margin-right: auto;
			}
		}

		&.hero-top-center-align {
			> .wp-block-coblocks-hero__box {
				grid-column: 2;
				grid-row: 1;
				margin: auto;
			}
		}

		&.hero-top-right-align {
			> .wp-block-coblocks-hero__box {
				grid-column: 3;
				grid-row: 1;
				margin-left: auto;
			}
		}

		&.hero-center-left-align {
			> .wp-block-coblocks-hero__box {
				grid-column: 1;
				grid-row: 2;
				margin-right: auto;
			}
		}

		&.hero-center-center-align {
			> .wp-block-coblocks-hero__box {
				grid-column: 2;
				grid-row: 1;
				margin: auto;
			}
		}

		&.hero-center-center-align.is-fullscreen {
			> .wp-block-coblocks-hero__box {
				grid-row: 2;
			}
		}

		&.hero-center-right-align {
			> .wp-block-coblocks-hero__box {
				grid-column: 3;
				grid-row: 2;
				margin-left: auto;
			}
		}

		&.hero-bottom-left-align {
			> .wp-block-coblocks-hero__box {
				grid-column: 1;
				grid-row: 3;
				margin-right: auto;
			}
		}

		&.hero-bottom-center-align {
			> .wp-block-coblocks-hero__box {
				grid-column: 2;
				grid-row: 3;
				margin: auto;
			}
		}

		&.hero-bottom-right-align {
			> .wp-block-coblocks-hero__box {
				grid-column: 3;
				grid-row: 3;
				margin-left: auto;
			}
		}

		&:not(.is-fullscreen) {
			&.hero-top-left-align,
			&.hero-top-center-align,
			&.hero-top-right-align,
			&.hero-center-left-align,
			&.hero-center-center-align,
			&.hero-center-right-align,
			&.hero-bottom-left-align,
			&.hero-bottom-center-align,
			&.hero-bottom-right-align {
				grid-template-rows: auto;
			}
		}
	}

	.wp-block-button {
		margin-bottom: 0;
	}
}
