.wp-block-coblocks-dynamic-separator {
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;

	.editor-inner-blocks {
		width: 100%;
		margin-right: 0px !important;
		margin-left: 0px !important;
		padding-right: 0px !important;
		padding-left: 0px !important;
	}
}