.wp-block-coblocks-dynamic-separator.wp-block-separator {
	background: none !important;
	border: 0 !important;
	max-width: 100% !important;
	position: relative;
	width: 100%;

	&::before {
		left: 0;
		position: absolute !important;
		right: 0;
		top: calc(50% - 18px);
	}
}

.wp-block-coblocks-dynamic-separator {
	&.is-style-line::before,
	&.is-style-fullwidth::before {
		background: currentColor;
		content: "";
		display: block;
		height: 1px;
		left: 50%;
		max-width: 120px;
		top: 50%;
		transform: translateX(-50%);
		width: 15vw;
	}

	&.is-style-line::after,
	&.is-style-fullwidth::after {
		display: none;
	}

	&.is-style-fullwidth::before {
		max-width: 100%;
		width: 100%;
	}

	&:not(.has-text-color)::before {
		color: currentColor;
	}

	&.is-style-line:not(.has-text-color),
	&.is-style-fullwidth:not(.has-text-color) {
		&::before {
			background: currentColor;
		}
	}
}
