.wp-block-coblocks-dynamic-separator {

	.wp-block-separator {
		bottom: -50% !important;
	}
}

// Used for deprecated blocks before they are converted to new style.
hr.wp-block-coblocks-dynamic-separator {
	background: none !important;
}

.is-twentynineteen {
	.wp-block-coblocks-dynamic-separator{ 
		.wp-block-separator {
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}
}