.is-twentytwenty {

	.entry-content hr.wp-block-coblocks-dynamic-separator {

		&::before {
			background: none;
			content: "...";
			left: 0;
			top: calc(50% - 18px);
			transform: none;
			width: auto;
		}

		&::after {
			display: none;
		}

		&.is-style-line::before,
		&.is-style-fullwidth::before {
			background: currentColor;
			content: "";
			display: block;
			height: 1px;
			margin-left: auto;
			max-width: 120px;
			top: 50%;
			width: 15vw;
		}

		&.is-style-fullwidth::before {
			max-width: 100%;
			width: 100%;
		}
	}

	.wp-block-coblocks-dynamic-separator.is-style-line:not(.has-background),
	.wp-block-coblocks-dynamic-separator.is-style-fullwidth:not(.has-background) {

		&::before {
			background: #6d6d6d; // Color from TwentyTwenty
		}
	}
}
