@use "sass:math";
@import "node_modules/@wordpress/base-styles/variables";

.wp-block-gallery.is-style-compact figure.wp-block-image,
.wp-block-gallery.is-style-compact figure.wp-block-image img { margin: 0 !important; }

.wp-block-gallery.is-style-masonry {
	column-fill: initial;
	column-gap: var(--gallery-block--gutter-size, #{$grid-unit-20});
	transition: all 0.5s ease-in-out;

	&.has-nested-images {
		display: block;
	}

	@for $i from 1 through 8 {
		&.columns-#{ $i } {
			column-count: #{ $i };

			figure.wp-block-image {
				width: 100% !important;
			}
		}
	}

	.blocks-gallery-media-placeholder-wrapper {
		column-span: all;
	}
}

// Set the aspect size of an image so that it spans the defined "grid units".
@mixin collage-image-force-aspect( $selector, $col_span, $row_span, $total_cols ) {
	// Base width to calculate percentages from.
	$collage-frame-width: 1000;

	#{$selector} {
		flex-basis: calc( ( ((#{$collage-frame-width}/#{$total_cols})*#{$col_span}) / #{$collage-frame-width} * 100% ) - var( --gallery-block--gutter-size, #{$grid-unit-20} ) );
		padding-top: calc( ((250*#{$row_span}) / #{$collage-frame-width} * 100%) - var( --gallery-block--gutter-size, #{$grid-unit-20} ) );
	}
}

.wp-block-gallery.has-nested-images.is-style-collage,
.wp-block-gallery.has-nested-images.is-style-tiled {
	gap: var(--gallery-block--gutter-size, #{$grid-unit-20});

	figure.wp-block-image:not(#individual-image) {
		margin: 0;
		width: unset;
		height: 0;

		// This forces the aspect ratio of the figure container.
		img {
			position: absolute;
			top: 0;
		}

		// By default each image spans 1x1 grid.
		@include collage-image-force-aspect('&', 1, 1, 4);
	}

	// By default each image spans 1x1 grid.
	@for $i from 1 through 8 {
		&.columns-#{$i} figure.wp-block-image:not(#individual-image) {
			@include collage-image-force-aspect('&', 1, 1, $i);
		}
	}
}

.wp-block-gallery.has-nested-images.is-style-collage {
	&.columns-2 {
		figure.wp-block-image:not(#individual-image) {

			@include collage-image-force-aspect('&:nth-child(4n+1)', 1, 2, 2);
			@include collage-image-force-aspect('&:nth-child(4n+4)', 1, 2, 2);

			&:nth-child(4n+2) {
				align-self: flex-end;
			}
		}
	}

	&.columns-3 {
		figure.wp-block-image:not(#individual-image) {
			@include collage-image-force-aspect('&:nth-child(6n+1)', 1, 2, 3);
			@include collage-image-force-aspect('&:nth-child(6n+2)', 1, 1.5, 3);
			@include collage-image-force-aspect('&:nth-child(6n+3)', 1, 1.5, 3);
			@include collage-image-force-aspect('&:nth-child(6n+4)', 1, 1.5, 3);
			@include collage-image-force-aspect('&:nth-child(6n+5)', 1, 1.5, 3);
			@include collage-image-force-aspect('&:nth-child(6n+6)', 1, 2, 3);

			&:nth-child(6n+2),
			&:nth-child(6n+5) {
				align-self: flex-end;
			}
		}
	}

	&.columns-4 {
		figure.wp-block-image:not(#individual-image) {
			flex-grow: unset;

			@include collage-image-force-aspect('&:nth-child(5n+1)', 3, 2, 4);
			@include collage-image-force-aspect('&:nth-child(5n+5)', 1, 1.5, 4);

			&:nth-child(5n+1) {
				flex-grow: 1;
			}

			&:nth-child(5n+2) {
				align-self: flex-end;
			}
			&:nth-child(5n+3) {
				margin-left: auto;
			}
		}
	}
}

.wp-block-gallery.has-nested-images.is-style-tiled {
	&.columns-2 {
		figure.wp-block-image:not(#individual-image) {
			align-self: flex-end;

			@include collage-image-force-aspect('&:nth-child(4n+2)', 1, 2, 2);
			@include collage-image-force-aspect('&:nth-child(4n+3)', 1, 2, 2);
		}
	}

	&.columns-3 {
		figure.wp-block-image:not(#individual-image) {
			align-self: flex-end;

			@include collage-image-force-aspect('&:nth-child(4n+1)', 2, 2, 3);
			@include collage-image-force-aspect('&:nth-child(4n+2)', 1, 1.3, 3);
			@include collage-image-force-aspect('&:nth-child(4n+3)', 1, 1.3, 3);
			@include collage-image-force-aspect('&:nth-child(4n+4)', 2, 2, 3);
		}
	}
}
