.coblocks__button {
	padding: 14px 16px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	text-decoration: none !important;
	box-shadow: none !important;

	&:not(.has-background) {
		background: $black;
	}

	&:not(.has-text-color) {
		color: $white;
	}

	&:hover {
		color: $white !important;
	}

	&-wrapper {
		display: inline-block;
	}

	&-wrapper--flex {
		margin-top: 15px;
	}

	.editor-rich-text__tinymce {
		cursor: text;
	}
}
