.columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&-2 > * {
		flex-basis: 50%;
		max-width: calc(100% / 2 - #{map-get($margin, 5)});
	}

	&-3 > * {
		flex-basis: 33.33%;
		max-width: calc(100% / 3 - #{map-get($margin, 5)});
	}

	&-4 > * {
		flex-basis: 25%;
		max-width: calc(100% / 4 - #{map-get($margin, 5)});
	}
}
