.m {
	@include utilities($margin, "margin", "-");
}

.mt {
	@include utilities($margin, "margin-top", "-");
}

.mb {
	@include utilities($margin, "margin-bottom", "-");
}

.mr {
	@include utilities($margin, "margin-right", "-");
}

.ml {
	@include utilities($margin, "margin-left", "-");
}

.-mb-1 {
	margin-bottom: -#{map-get($margin, 1)};
}

.-mb-2 {
	margin-bottom: -#{map-get($margin, 2)};
}

.-mb-3 {
	margin-bottom: -#{map-get($margin, 3)};
}

.-mb-4 {
	margin-bottom: -#{map-get($margin, 4)};
}

// 600px +
@include break-small() {
	.sm\:mt {
		@include utilities($margin, "margin-top", "-");
	}

	.sm\:mb {
		@include utilities($margin, "margin-bottom", "-");
	}

	.sm\:mr {
		@include utilities($margin, "margin-right", "-");
	}

	.sm\:ml {
		@include utilities($margin, "margin-left", "-");
	}

	.sm\:-mb-1 {
		margin-bottom: -#{map-get($margin, 1)};
	}

	.sm\:-mb-2 {
		margin-bottom: -#{map-get($margin, 2)};
	}

	.sm\:-mb-3 {
		margin-bottom: -#{map-get($margin, 3)};
	}

	.sm\:-mb-4 {
		margin-bottom: -#{map-get($margin, 4)};
	}
}

// 782px+
@include break-medium() {
	.md\:mt {
		@include utilities($margin, "margin-top", "-");
	}

	.md\:mb {
		@include utilities($margin, "margin-bottom", "-");
	}

	.md\:mr {
		@include utilities($margin, "margin-right", "-");
	}

	.md\:ml {
		@include utilities($margin, "margin-left", "-");
	}

	.md\:-mb-1 {
		margin-bottom: -#{map-get($margin, 1)};
	}

	.md\:-mb-2 {
		margin-bottom: -#{map-get($margin, 2)};
	}

	.md\:-mb-3 {
		margin-bottom: -#{map-get($margin, 3)};
	}

	.md\:-mb-4 {
		margin-bottom: -#{map-get($margin, 4)};
	}
}

// 1280px+
@include break-wide() {
	.lg\:mt {
		@include utilities($margin, "margin-top", "-");
	}

	.lg\:mb {
		@include utilities($margin, "margin-bottom", "-");
	}

	.lg\:mr {
		@include utilities($margin, "margin-right", "-");
	}

	.lg\:ml {
		@include utilities($margin, "margin-left", "-");
	}

	.lg\:-mb-1 {
		margin-bottom: -#{map-get($margin, 1)};
	}

	.lg\:-mb-2 {
		margin-bottom: -#{map-get($margin, 2)};
	}

	.lg\:-mb-3 {
		margin-bottom: -#{map-get($margin, 3)};
	}

	.lg\:-mb-4 {
		margin-bottom: -#{map-get($margin, 4)};
	}
}

//Old utitlies.
body {
	.has-margin {
		&.has-small-margin {
			margin-bottom: 14px;
			margin-top: 14px;
		}

		&.has-medium-margin {
			margin-bottom: 24px;
			margin-top: 24px;
		}

		&.has-large-margin {
			margin-bottom: 24px;
			margin-top: 24px;

			@include break-small() {
				margin-bottom: 34px;
				margin-top: 34px;
			}
		}

		&.has-huge-margin {
			margin-bottom: 34px;
			margin-top: 34px;

			@include break-small() {
				margin-bottom: 60px;
				margin-top: 60px;
			}
		}
	}
}
