.mb-0 {
	margin-bottom: 0 !important;
}

.mt-0 {
	margin-top: 0 !important;
}

body {
	.has-margin {
		&.has-small-margin {
			margin-bottom: 14px;
			margin-top: 14px;
		}

		&.has-medium-margin {
			margin-bottom: 24px;
			margin-top: 24px;
		}

		&.has-large-margin {
			margin-bottom: 34px;
			margin-top: 34px;
		}

		&.has-huge-margin {
			margin-bottom: 60px;
			margin-top: 60px;
		}
	}
}
