.pb-0 {
	padding-bottom: 0 !important;
}

.pt-0 {
	padding-top: 0 !important;
}

.has-small-padding {
	padding: 14px;
}

.has-medium-padding {
	padding: 24px;
}

.has-large-padding {
	padding: 34px;
}

.has-huge-padding {
	padding: 60px;
}