.pt {
	@include utilities($padding, "padding-top", "-");
}

.pr {
	@include utilities($padding, "padding-right", "-");
}

.pb {
	@include utilities($padding, "padding-bottom", "-");
}

.pl {
	@include utilities($padding, "padding-left", "-");
}

.pt-full {
	padding-top: 100%;
}

// 600px +
@include break-small() {
	.sm\:pt {
		@include utilities($padding__sm, "padding-top", "-");
	}

	.sm\:pr {
		@include utilities($padding__sm, "padding-right", "-");
	}

	.sm\:pb {
		@include utilities($padding__sm, "padding-bottom", "-");
	}

	.sm\:pl {
		@include utilities($padding__sm, "padding-left", "-");
	}
}

// 1440 +
@include break-huge() {
	.lg\:pt {
		@include utilities($padding__lg, "padding-top", "-");
	}

	.lg\:pr {
		@include utilities($padding__lg, "padding-right", "-");
	}

	.lg\:pb {
		@include utilities($padding__lg, "padding-bottom", "-");
	}

	.lg\:pl {
		@include utilities($padding__lg, "padding-left", "-");
	}
}

// Old utilities.
.has-small-padding {
	padding: 14px;
}

.has-medium-padding {
	padding: 24px;
}

.has-large-padding {
	padding: 24px;

	@include break-small() {
		padding: 34px;
	}
}

.has-huge-padding {
	padding: 34px;

	@include break-small() {
		padding: 60px;
	}
}
