.has-shadow {
	box-shadow: 0 1.5vw 3vw -0.7vw rgba(0, 0, 0, 0.125);
}

.has-shadow-sml {
	box-shadow: 0 0.5vw 2vw -0.25vw rgba(0, 0, 0, 0.2);
}

.has-shadow-med {
	box-shadow: 0 1vw 3vw -0.5vw rgba(0, 0, 0, 0.2);
}

.has-shadow-lrg {
	box-shadow: 0 1.8vw 3vw -0.7vw rgba(0, 0, 0, 0.2);
}
