div {
	@media (max-width: #{ ($break-small) }) {
		&.is-stacked-on-mobile {
			flex-direction: column;

			> [class*="wp-block-coblocks-"] {
				width: 100% !important;

				&.wp-block-coblocks-column:last-child {
					margin-bottom: 0;
				}
			}

			// Assign row gutters as margin on the frontend.
			&.has-no-gutter {
				> [class*="wp-block-coblocks-"] {
					&:not(:last-child) {
						margin-bottom: 0;
					}
				}
			}

			// Assign row gutters as margin on the frontend.
			&.has-small-gutter {
				> [class*="wp-block-coblocks-"] {
					&:not(:last-child) {
						margin-bottom: $gutter--small * 2;
					}
				}
			}

			&.has-medium-gutter {
				> [class*="wp-block-coblocks-"] {
					&:not(:last-child) {
						margin-bottom: $gutter--medium * 2;
					}
				}
			}
			&.has-large-gutter {
				> [class*="wp-block-coblocks-"] {
					&:not(:last-child) {
						margin-bottom: $gutter--large * 2;
					}
				}
			}
			&.has-huge-gutter {
				> [class*="wp-block-coblocks-"] {
					&:not(:last-child) {
						margin-bottom: $gutter--huge * 2;
					}
				}
			}
		}
	}
}
