.coblocks-animate {
	opacity: 0;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;

	&.animate-loop {
		animation-iteration-count: infinite;
	}

	&.fadeIn {
		animation-name: fadeIn;
		animation-duration: 2s;
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 1;
		}

		100% {
			opacity: 1;
		}
	}

	&.slideInLeft {
		animation-name: slideInLeft;
		animation-duration: 2s;
	}

	@keyframes slideInLeft {
		0% {
			opacity: 0;
			transform: translateX(-10rem);
		}

		50% {
			opacity: 1;
			transform: translateX(0rem);
		}

		100% {
			opacity: 1;
			transform: translateX(0rem);
		}
	}

	&.slideInRight {
		animation-name: slideInRight;
		animation-duration: 2s;
	}

	@keyframes slideInRight {
		0% {
			opacity: 0;
			transform: translateX(10rem);
		}

		50% {
			opacity: 1;
			transform: translateX(0rem);
		}

		100% {
			opacity: 1;
			transform: translateX(0rem);
		}
	}
}
