.has-columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;

	&.has-2-columns > *:not(.block-editor-inner-blocks),
	&.has-2-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > *,
	&.has-3-columns > *:not(.block-editor-inner-blocks),
	&.has-3-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > *,
	&.has-4-columns > *:not(.block-editor-inner-blocks),
	&.has-4-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > * {
		@include break-small() {
			flex-basis: 50%;
		}
	}

	&.has-3-columns > *:not(.block-editor-inner-blocks),
	&.has-3-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > *,
	&.has-4-columns > *:not(.block-editor-inner-blocks),
	&.has-4-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > * {
		@include break-medium() {
			flex-basis: 33.33%;
		}
	}

	&.has-4-columns > *:not(.block-editor-inner-blocks),
	&.has-4-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > * {
		@include break-large-max() {
			flex-basis: 50%;
		}
		@include break-wide() {
			flex-basis: 25%;
		}
	}

	.alignfull & {
		padding-left: var(--coblocks-spacing--2, map-get($spacing, 2));
		padding-right: var(--coblocks-spacing--2, map-get($spacing, 2));

		@include break-small() {
			padding-left: var(--coblocks-spacing--4, map-get($spacing, 4));
			padding-right: var(--coblocks-spacing--4, map-get($spacing, 4));
		}
	}
}
