.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-0 {
	flex: 0 0 auto;
}

.flex-auto {
	flex: 1 1 auto;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.self-start {
	align-self: self-start;
}

.self-center {
	align-self: center;
}

.items-stretch {
	align-items: stretch;
}

.justify-center {
	justify-content: center;
}
