// WordPress variables and mixins
@import "~@wordpress/base-styles/variables";
@import "~@wordpress/base-styles/mixins";
@import "~@wordpress/base-styles/breakpoints";
@import "~@wordpress/base-styles/animations";
@import "~@wordpress/components/src/modal/style";
@import "~@wordpress/components/src/button-group/style";
@import "~@wordpress/components/src/button/style";
@import "~@wordpress/components/src/checkbox-control/style";
@import "~@wordpress/components/src/text-control/style";

.common-deactivate-modal {
	.components-modal__content {
		width: 600px;
	}

	.components-modal__header .components-modal__header-heading {
		font-size: 20px;
	}

	.common-deactivate-modal__text {
		display: none;
		margin: 0 0 0 32px;
		width: 93%;

		&.show {
			display: block;
		}
	}

	.components-modal__content::before {
		margin-bottom: 16px;
	}

	.common-deactivate-modal__checkbox {
		padding: 0 0 24px 0;
	}

	.common-deactivate-modal__checkbox .components-checkbox-control {
		font-size: 14px;
		height: 40px;
		line-height: 24px;
	}

	.components-button-group {
		width: 100%;

		.common-deactivate-modal__button {
			font-size: 14px;

			&.is-link {
				text-decoration: none;
			}

			&.is-primary {
				border-radius: 6px;
				box-shadow: none;
				margin: 0 15px 0 0;
			}
		}
	}

	.common-deactivate-modal__footer {
		font-size: 12px;
		line-height: 18px;
		padding: 16px 0 0;
	}
}
