.components-coblocks-responsive__tabs {
	align-items: center;
	display: flex;
	flex-direction: row-reverse;
	position: relative;

	.components-base-control,
	.components-base-control__field {
		margin-bottom: 0 !important;
	}

	.components-tab-panel__tab-content {
		width: 100%;
	}

	&-item {
		color: color(theme(button) shade(6%));
		border-color: color(theme(button) shade(6%));
		background: #f3f5f6;
		align-items: center;
		appearance: none;
		border: 1px solid;
		border-radius: 4px;
		height: 28px;
		line-height: 1;
		margin: 0;
		padding-left: 7px;
		padding-right: 7px;

		@media (max-width: 782px) {
			height: 40px;
			padding-left: 17px;
			padding-right: 17px;
		}

		@media (max-width: 514px) {
			padding-left: 10px;
			padding-right: 10px;
		}

		&:hover {
			background: #f1f1f1;
			border-color: color(theme(button) shade(25%));
			color: color(theme(button) shade(25%));
			text-decoration: none;
		}

		&:focus:enabled {
			background: #f3f5f6;
			color: color(theme(button) shade(25%));
			border-color: color(theme(button) shade(5%));
			box-shadow: 0 0 0 $border-width color(theme(button) shade(5%));
			text-decoration: none;

		}

		&:active:enabled {
			background: #f3f5f6;
			color: color(theme(button) shade(5%));
			border-color: #7e8993;
			box-shadow: none;
		}

		&.is-active {
			background: color(theme(button));
			border-color: color(theme(button));
			color: $white;
			text-decoration: none;
			text-shadow: none;

			&:hover,
			&:focus:enabled {
				background: color(theme(button) shade(10%));
				border-color: color(theme(button) shade(10%));
				color: $white;
			}

			&:active:enabled {
				background: color(theme(button) shade(20%));
				border-color: color(theme(button) shade(20%));
				color: $white;
			}
		}

		&:first-of-type {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;

			&:not(.is-active) {
				border-right: none;
			}
		}

		&:last-of-type {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;

			&:not(.is-active) {
				border-left: none;
			}
		}

		svg {
			height: 15px;
			width: 15px;
		}
	}

	.components-tab-panel__tabs {
		align-items: center;
		display: flex;
		margin-left: 7px;
		margin-right: 1px;
		position: relative;
		top: 11px;
	}
}
