
.edit-post-header__settings .edit-post-more-menu {
	order: 4;
}

.edit-post-header__settings .editor-post-publish-button__button {
	margin-left: 25px;
	order: 3;
}

.interface-pinned-items {
	display: flex;

	.components-button:first-child {
		order: 1;
	}
}
