.wp-block-coblocks-divider {
	&.is-vertically-flipped svg {
		transform: scaleY(-1);
	}

	&.is-horizontally-flipped svg {
		transform: scaleX(-1);
	}

	&.is-horizontally-flipped.is-vertically-flipped svg {
		transform: scaleX(-1) scaleY(-1);
	}
}
