.wp-block-coblocks-gist {
	&.wp-block-shortcode {
		display: flex;
		flex-direction: row;
	}

	> label {
		svg {
			margin-right: 1ch;
		}
	}

	.block-editor-plain-text {
		margin-left: 10px;
		padding: 8px;
	}

	.gist {
		margin-bottom: 0;
	}

	&__file {
		margin: 3px;
		padding-bottom: 4px;
		padding-top: 4px;
	}

	&__file-label {
		align-items: center;
		display: flex;
		flex-basis: 0;
		font-size: 12px;
		padding-left: 5px;
		padding-right: 2px;
		white-space: nowrap;

		svg {
			fill: $dark-gray-500;
		}
	}
}
