.wp-block-coblocks-gist {
	.gist {
		&-file {
			border-color: rgba(0, 0, 0, 0.125) !important;
			border-radius: 4px !important;
			margin-bottom: 0 !important;

			a {
				&,
				&:hover {
					box-shadow: none;
				}
			}

			+ .gist-file {
				margin-top: 5px !important;
			}
		}

		&-data {
			border-radius: 3px 3px 0 0;

			tr,
			td {
				border: none;
			}

			td.blob-num {
				padding: 1px 15px 1px 20px !important;
			}

			td.blob-code {
				padding-left: 0 !important;
			}
		}

		&-meta {
			border-radius: 0 0 3px 3px;
		}
	}

	&.no-meta {
		.gist .gist-data {
			border-bottom: 0;
			border-radius: 3px;
		}

		.gist .gist-meta {
			display: none;
		}
	}

	figcaption {
		color: $dark-gray-500;
		font-size: 13px;
		margin-bottom: 1em;
		margin-top: 0.5em;
		text-align: center;
	}

	table {
		table-layout: auto;
	}
}
