@import "style/mixins";

// Common
@import "../common";

// Style various inspector region and block toolbar controls
@import "editor/is-transient";

// Mobile classes
@import "editor/stacked";

// Adjust dropZone component labels for our blocks.
@import "editor/dropzone";

@import "../components/**/editor.scss";
@import "../extensions/**/editor.scss";
@import "../blocks/**/editor.scss";

// Shim as Gutenberg removes margin-bottom from lists.
// @todo, this should be moved into the editor styles.
.editor-styles-wrapper {
	.m {
		@include utilities($margin, "margin", "-");
	}
	.mt {
		@include utilities($margin, "margin-top", "-");
	}
	.mb {
		@include utilities($margin, "margin-bottom", "-");
	}
	.mr {
		@include utilities($margin, "margin-right", "-");
	}
	.ml {
		@include utilities($margin, "margin-left", "-");
	}

	// 600px +
	@include break-small() {
		.sm\:m {
			@include utilities($margin, "margin", "-");
		}

		.sm\:mt {
			@include utilities($margin, "margin-top", "-");
		}

		.sm\:mb {
			@include utilities($margin, "margin-bottom", "-");
		}

		.sm\:mr {
			@include utilities($margin, "margin-right", "-");
		}

		.sm\:ml {
			@include utilities($margin, "margin-left", "-");
		}
	}

	// 782px+
	@include break-medium() {
		.md\:m {
			@include utilities($margin, "margin", "-");
		}

		.md\:mt {
			@include utilities($margin, "margin-top", "-");
		}

		.md\:mb {
			@include utilities($margin, "margin-bottom", "-");
		}

		.md\:mr {
			@include utilities($margin, "margin-right", "-");
		}

		.md\:ml {
			@include utilities($margin, "margin-left", "-");
		}
	}

	// 1280px+
	@include break-wide() {
		.lg\:m {
			@include utilities($margin, "margin", "-");
		}

		.lg\:mt {
			@include utilities($margin, "margin-top", "-");
		}

		.lg\:mb {
			@include utilities($margin, "margin-bottom", "-");
		}

		.lg\:mr {
			@include utilities($margin, "margin-right", "-");
		}

		.lg\:ml {
			@include utilities($margin, "margin-left", "-");
		}
	}

	.p {
		@include utilities($padding, "padding", "-");
	}

	.pt {
		@include utilities($padding, "padding-top", "-");
	}

	.pr {
		@include utilities($padding, "padding-right", "-");
	}

	.pb {
		@include utilities($padding, "padding-bottom", "-");
	}

	.pl {
		@include utilities($padding, "padding-left", "-");
	}
}

// Global styles for our modals.
.coblocks-modal-component {
	// Position the CoBlocks icon in our modals a bit better.
	.components-modal__icon-container {
		margin-right: 0.7em;

		svg {
			fill: $dark-gray-800; // Same color as modal headings.
			position: relative;
			top: 0.16em;
		}
	}
	// Use the same style as core, without the extra classes.
	.components-modal__header {
		h1 {
			font-size: 1rem;
			font-weight: 700;
		}
	}
}

// Hide the position display fields.
.components-focal-point-picker--coblocks {
	margin-bottom: 1.9em !important;
	.components-focal-point-picker_position-display-container {
		display: none;
	}
}

.components-background-display-select--coblocks {
	margin-top: -1.05em !important;
}

.components-panel__body--coblocks-background-panel {
	> .components-base-control:first-of-type {
		margin-bottom: 1.3em !important;
		margin-top: 0.7em !important;
	}
}

.components-coblocks-icon-dropdown__popover {
	.components-popover__content {
		min-width: 80px !important;
		text-align: center;
		width: 80px;
	}
}

.components-coblocks-icon-menu-dropdown {
	padding: 3px;
}

.components-coblocks-block-settings-sidebar {
	.components-external-link {
		color: theme(outlines);

		&:hover {
			color: color(theme(outlines) shade(25%));
		}
	}
}

.wp-block[data-align="full"] > .editor-block-list__block-edit [data-block] > div > .columns {
	padding-left: map-get($padding, 2);
	padding-right: map-get($padding, 2);

	@media (min-width: 480px) {
		padding-left: map-get($padding, 3);
		padding-right: map-get($padding, 3);
	}

	&.columns-3,
	&.columns-4 {
		// 1280px+
		@include break-medium() {
			padding-left: map-get($padding, 4);
			padding-right: map-get($padding, 4);
		}
	}
}
