// Grab all gallery blocks
@mixin coblocksGalleryEditorBlocks {

	[data-type="coblocks/carousel"],
	[data-type="coblocks/collage"],
	[data-type="coblocks/masonry"],
	[data-type="coblocks/offset"],
	[data-type="coblocks/stacked"] {
		@content;
	}
}

@mixin utilities($map, $attribute, $prefix: "-", $separator: "-", $base: "base") {

	@each $key, $value in $map {

		&#{if($key != $base, #{$prefix}#{$key}, '')} {

			@if type-of($value) == "map" {

				@include utilities($value, $attribute, $separator);
			} @else {
				#{$attribute}: $value;
			}
		}
	}
}

// Mixins to better support mobile
@mixin break-large-max() {

	@media (max-width: #{ ($break-large-max) }) {
		@content;
	}
}

@mixin break-small-max() {

	@media (max-width: #{ ($break-small-max) }) {
		@content;
	}
}
