// Background classes
@import "style/background-classes";

// Background overlay
@import "style/background-overlay";

// Background parallax
@import "style/background-parallax";

// Editor formatting
@import "style/formatting";

// Utility classes
@import "style/padding";
@import "style/margin";
@import "style/max-width";

.has-shadow {
	box-shadow: 0 1.5vw 3vw -0.7vw rgba(0, 0, 0, 0.125);
}

//Utility Classes
.coblocks__heading--no-bottom-spacing {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.coblocks__heading--no-top-spacing {
	margin-top: 0 !important;
	padding-top: 0 !important;
}
