// Background
@import "style/background-classes";
@import "style/background-overlay";
@import "style/background-parallax";

// Editor formatting
@import "style/formatting";

// Mobile classes
@import "style/stacked";

// Utility classes
@import "style/padding";
@import "style/margin";
@import "style/gutter";
@import "style/shadow";

// Utility tooltips
@import "style/tooltips";

.has-text-align-right {
	text-align: right;
}

.has-text-align-left {
	text-align: left;
}

.has-text-align-center {
	text-align: center;
}

.h-full {
	height: 100%;
}

.w-full {
	width: 100%;
}

.pin-t {
	top: 0;
}

.pin-r {
	right: 0;
}

.pin-b {
	bottom: 0;
}

.pin-l {
	left: 0;
}

.overflow-hidden {
	overflow: hidden;
}

.position-absolute {
	position: absolute;
}

.object-cover {
	object-fit: cover;
}

.object-position {
	object-position: 50% 50%;
}
