.header__search-toggle {
	background-color: #0000;
	border: none;
	border-radius: 0;
	box-shadow: none;
	cursor: pointer;
	padding: 0.75rem;
	position: relativel;
}

.header__search-toggle:active,
.header__search-toggle:focus,
.header__search-toggle:hover {
	background-color: #0000;
	border: none;
	box-shadow: none;
}

.coblocks-search-modal {
	background: #00000040;
	bottom: 0;
	display: none;
	left: -9999rem;
	opacity: 0;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	position: fixed;
	top: 0;
	transition: opacity 0.15s linear, left 0s linear 0.15s;
	width: 100%;
	z-index: 10001;
}

@media (prefers-reduced-motion: reduce) {
	.coblocks-search-modal {
		transition: 0;
	}
}

.coblocks-search-modal::-webkit-scrollbar {
	display: none !important;
}

.coblocks-search-modal.show-modal {
	display: block;
	left: 0;
}

.coblocks-search-modal.active {
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.2s linear;
}

.coblocks-search-modal.active > * {
	cursor: default;
}

.coblocks-search-modal.active .coblocks-search-modal-inner {
	background: hsl(0, 0%, 100%);
	box-shadow: 0 0 2rem 0 #00000014;
	transform: translateY(0);
	transition: transform 0.25s ease-in-out, box-shadow 0.1s linear 0.25s;
}

.coblocks-search-modal-inner {
	padding: 3vw;
	transform: translateY(-100%);
	transition: transform 0.15s linear, box-shadow 0.15s linear;
}

@media only screen and (min-width: 782px) {
	.coblocks-search-modal-inner {
		padding: 2em 5em;
	}
}

.admin-bar .coblocks-search-modal.active {
	top: 2pc;
}

@media only screen and (max-width: 781px) {
	.admin-bar .coblocks-search-modal.active {
		top: 46px;
	}
}

.coblocks-search-modal .site-search .search-form {
	display: flex;
}

.coblocks-search-modal .site-search .search-form__input {
	margin-bottom: 0;
	padding: 1rem 1.35rem;
	width: 100%;
}

.coblocks-search-modal .site-search .search-input__button {
	border: none;
	border-radius: var(--go-search-button--border-radius, var(--go-button--border-radius));
	box-shadow: none;
	color: var(--go-search-button--color--text, inherit);
	margin: 0 0 0 0.5rem;
	padding: 0 1.75rem;
	position: relative;
	transition: var(--go-button--transition, background-color 0.2s cubic-bezier(0.7, 0, 0.3, 1), box-shadow 0.2s cubic-bezier(0.7, 0, 0.3, 1), border-color 0.2s cubic-bezier(0.7, 0, 0.3, 1), color 0.2s cubic-bezier(0.7, 0, 0.3, 1), fill 0.2s cubic-bezier(0.7, 0, 0.3, 1));
}

.coblocks-search-modal .site-search .search-input__button .search-input__label {
	left: -5000px;
	position: absolute;
}

.coblocks-search-modal .site-search .search-input__button .search-input__arrow-icon {
	height: auto;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	width: 20px;
}

.coblocks-search-modal .site-search .search-input__button::after {
	display: none !important;
}

.coblocks-search-modal .site-search .search-input__button:active,
.coblocks-search-modal .site-search .search-input__button:hover {
	background-color: var(--go-search-button--color--background-interactive);
	border-color: var(--go-search-button--color--background-interactive);
	box-shadow: none;
	cursor: pointer;
}

.coblocks-search-modal .site-search .search-input__button:active .search-input__arrow-icon,
.coblocks-search-modal .site-search .search-input__button:hover .search-input__arrow-icon {
	fill: var(--go-search-button--color--text, var(--go--color--white));
}

.coblocks-search-modal .site-search .search-input__button:focus {
	outline-color: var(--go-outline--color--text);
	outline-offset: 2px;
	outline-style: var(--go-outline--style, dotted);
	outline-width: var(--go-outline--width, 1px);
}
