.components-coblocks-grid-dropdown {
	padding: 16px !important;

	.components-coblocks-css-grid-selector {
		width: 100%;

		.components-button-group {
			margin-bottom: 0;
		}

		.components-base-control__label {
			display: none;
		}
	}

	.components-toggle-control {
		margin: 16px -16px -16px;
		padding: 18px 16px 14px;
		width: calc(100% + 32px);
	}
}

:-ms-fullscreen .components-coblocks-css-grid-selector,
:root .components-coblocks-css-grid-selector {
	.components-button-group {
		display: flex;
		flex-wrap: wrap;

		.components-button {
			display: table-cell;
			padding: 18px;
			width: 50%;
		}
	}
}
