[data-type="coblocks/author"] {

	.block-editor-inner-blocks {

		.block-editor-block-list__block-edit {
			margin-bottom: 0;
			margin-top: 0;
		}
	}

	[data-type="core/button"] {
		display: block;

		[data-block] {
			margin-bottom: 0;
		}

		.block-editor-block-list__block-edit::before {
			border: none;
			box-shadow: none;
		}
	}

	// Show the inline button control only when editing the button block.
	&.is-selected .wp-block-button__inline-link {
		display: none;
	}

	&.has-child-selected .wp-block-button__inline-link {
		display: block;
	}

	.wp-block-button {
		margin-bottom: 10px;
		margin-top: 10px;
	}
}

.wp-block-coblocks-author {

	&__avatar {
		background: $white;
		position: relative;

		.components-button {
			border-radius: 100%;
			height: 100%;
			left: 0;
			padding: 0;
			position: absolute;
			width: 100%;

			&:focus:not(:disabled) {
				box-shadow: 0 0 0 1px $white, 0 0 0 3px var(--wp-admin-theme-color);
			}

			.block-editor-block-icon {
				margin: auto;

				svg {
					margin: auto auto;
					pointer-events: none;
					transform: translate3d(0, 0, 0);
					transition: transform 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
				}
			}
		}
	}
}

// Shim to fix styles in the previewer.
.block-editor-inserter__preview-content .wp-block-coblocks-author {

	.components-button {
		opacity: 1;
	}

	.wp-block-coblocks-author__avatar {
		height: 110px;
		width: 110px;
	}

	.block-editor-block-list__layout {
		margin-left: 0;
	}
}
