.editor-block-list__block[data-type="coblocks/author"] {

	.editor-inner-blocks {

		.editor-block-list__block-edit {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.block-library-button__inline-link {
		margin-top: 5px;
	}

	.editor-block-list__layout .editor-block-list__block > .editor-block-list__block-edit::before {
		outline: none;
	}
}

.wp-block-coblocks-author {

	&__avatar {
		background: $white;
		position: relative;

		button {
			border-radius: 100%;
			height: 100%;
			left: 0;
			padding: 0;
			position: absolute;
			width: 100%;
			z-index: 50;

			&:focus {
				background: none;
				border: none;
				box-shadow: none;
				outline: none;
			}

			svg {
				fill: #444;
				margin: 0 auto;
				pointer-events: none;
				transform: translate3d(0, 0, 0);
				transition: transform 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
			}
		}
	}

	&__name {
		margin: 0.2em 0 0.1em 0;
	}
}

