.wp-block-coblocks-author {
	align-items: flex-start;
	background: $dark-opacity-light-200;
	display: flex;
	padding: 30px 25px;
	position: relative;

	@include break-small() {
		padding: 40px 35px;
	}

	&__avatar,
	figure.wp-block-coblocks-author__avatar {
		border-radius: 100%;
		flex: 0 0 auto;
		height: 70px;
		margin: 0 25px 0 0;
		position: relative;
		width: 70px;

		@include break-small() {
			height: 150px;
			margin-right: 35px;
			width: 150px;
		}
	}

	&__avatar-img {
		border-radius: 100%;
		display: inline-block;
		height: 100% !important;
		object-fit: cover;
		position: absolute;
		top: 0;
		vertical-align: middle;
		width: 100%;
	}

	&__content {
		flex: 1 1 auto;

		// Nested for increased selector specificity.
		> .wp-block-coblocks-author__name {
			display: block;
			font-size: 1.5em;
			margin: 0;
			padding: 0;
		}

		> .wp-block-coblocks-author__biography {
			font-size: inherit;
			margin: 0 0 1em;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	.wp-block-button {
		margin: 1em 0 0 0;
	}

	&[class*="-color"],
	&[style*="color"] {
		span {
			color: inherit;
		}
	}
}
