.wp-block-coblocks-author {
	align-items: flex-start;
	display: flex;
	position: relative;
	margin: 1.5em 0;
	padding: 30px 20px;
	background: $accordion-background;
	border-radius: $accordion-border-radius;

	@media (min-width: 600px) {
		padding: 40px 30px;
	}

	&__avatar {
		border-radius: 100%;
		flex: 0 0 auto;
		margin-right: 20px;

		@media (min-width: 600px) {
			margin-right: 30px;
		}
	}

	&__avatar-img {
		border-radius: 100%;
		display: inline-block;
		vertical-align: middle;
		height: 100% !important;
	}

	&__avatar,
	&__avatar-img {
		height: 70px;
		width: 70px;

		@media (min-width: 600px) {
			width: 150px;
			height: 150px;
		}
	}

	&__content {
		flex: 1 1 auto;
	}

	&__heading {
		margin: 0 0 0.5em;
		padding: 0;
	}

	&__name {
		display: block;
		margin: 0 0 0.5em;
		padding: 0;
	}

	&__biography {
		margin: 0 0 1em;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.wp-block-button {
		margin: 1em 0 0 0;
	}
}
