.wp-block-coblocks-author {
	align-items: flex-start;
	background: $accordion-background;
	display: flex;
	padding: 30px 25px;
	position: relative;

	@media (min-width: 600px) {
		padding: 40px 35px;
	}

	&__avatar {
		border-radius: 100%;
		flex: 0 0 auto;
		height: 70px;
		margin: 0 25px 0 0;
		position: relative;
		width: 70px;

		@media (min-width: 600px) {
			height: 150px;
			margin-right: 35px;
			width: 150px;
		}
	}

	.block-editor__container &__avatar-img,
	&__avatar-img {
		border-radius: 100%;
		display: inline-block;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		vertical-align: middle;
		width: 100%;
	}

	&__content {
		flex: 1 1 auto;
	}

	&__name {
		display: block;
		font-size: 1.5em;
		margin: 0;
		padding: 0;
	}

	&__biography {
		margin: 0 0 1em;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.wp-block-button {
		margin: 1em 0 0 0;
	}
}
