.components-modal--coblocks-block-manager {
	min-height: 92%;

	@media (min-width: 600px) {
		width: 560px;
	}

	.coblocks-block-manager__search {
		background: #fff;
		margin: -16px -16px 0;
		padding: 16px;
		position: sticky;
		top: 56px;
		z-index: 10;

		.components-base-control__field {
			margin: 0;
		}

		input[type="search"] {
			border-radius: 4px;
			display: block;
			font-size: 16px;
			margin: 0;
			padding: 11px 16px;
			position: relative;
			z-index: 1;

			@media (min-width: 600px) {
				font-size: 13px;
			}
		}
	}

	// Block category wrappers.
	.coblocks-block-manager__section {
		border-top: 1px solid #e2e4e7;
		margin-top: 2.1em;

		&:first-of-type {
			margin-top: 1px;
		}

		&:last-of-type {
			margin-bottom: 0.45em;
		}

		&-header {
			align-items: center;
			display: flex;
			justify-content: space-between;
			min-height: 54.5px;
			padding: 1.35em 0 1.2em;

			.components-base-control__field {
				flex-direction: row-reverse;
				margin-bottom: 0;

				.components-form-toggle {
					margin-left: 16px;
					margin-right: 0;
				}

				.components-toggle-control__label {
					margin-bottom: 0;
				}
			}
		}

		&-title {
			font-size: 0.9rem;
			font-weight: 600;
			margin: 0;
		}
	}

	// List of blocks within a category.
	.coblocks-block-manager__list {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0 -4px -12px;
		overflow: hidden;
		padding: 2px 0 0;

		&-item {
			display: block;
			margin: 0 0 8px;
			padding: 0 4px;
			width: 33.333%;
		}
	}

	.coblocks-block-manager__error {
		background: #fff;
		color: $red;
		margin-top: -16px;
		padding: 8px;
		position: sticky;
		text-align: center;
		top: 118px;
		z-index: 11;
	}

	// Individual toggleable buttons.
	.coblocks-block-manager__button.components-button {
		align-items: stretch;
		background: #f3f4f5;
		border: 1px solid transparent;
		border-radius: 4px;
		box-shadow: none;
		color: #32373c;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		font-size: 13px;
		height: auto;
		justify-content: center;
		padding: 0;
		position: relative;
		width: 100%;
		word-break: break-word;

		.coblocks-block-manager__button-icon {
			color: #555d66;
		}

		.coblocks-block-manager__button-label {
			color: #32373c;
		}

		// Reset for button states.
		&:hover,
		&:active:enabled,
		&:focus:enabled {
			background: transparent;
			border-color: transparent;
			box-shadow: none;
		}

		&:not(.block-disabled) {
			&:hover {
				background: #edeff0;

				.coblocks-block-manager__button-icon {
					color: #191e23;
				}
			}

			&:focus:enabled {
				background: #edeff0;

				&:hover {
					.coblocks-block-manager__button-icon {
						color: #191e23;
					}
				}
			}

			&:active:enabled,
			&:active:enabled:hover {
				background: #f8f9f9;

				.coblocks-block-manager__button-icon {
					color: #191e23;
				}

				.coblocks-block-manager__button-label {
					color: #32373c;
				}
			}
		}

		&:focus:enabled,
		&:active:enabled {
			background: #f8f9f9;
			box-shadow: 0 0 0 2px #00a0d2;
			outline: 2px solid transparent;
			outline-offset: -2px;
		}

		&.block-disabled {
			background: #fff;

			.coblocks-block-manager__button-icon,
			.coblocks-block-manager__button-label {
				color: #a2aab2 !important;
			}

			&:hover {
				background: #f8f9f9;

				.coblocks-block-manager__button-icon {
					color: #191e23 !important;
				}

				.coblocks-block-manager__button-label {
					color: #32373c !important;
				}
			}

			&:focus:enabled {
				background: #fff;

				&:hover {
					.coblocks-block-manager__button-icon,
					.coblocks-block-manager__button-label {
						color: #a2aab2 !important;
					}
				}
			}

			&:active:enabled,
			&:active:enabled:hover {
				background: #f8f9f9;

				.coblocks-block-manager__button-icon {
					color: #191e23 !important;
				}

				.coblocks-block-manager__button-label {
					color: #32373c !important;
				}
			}
		}
	}

	// Block icons.
	.coblocks-block-manager__button-icon {
		border-radius: 4px;
		padding: 12px 20px;

		.editor-block-icon {
			margin-left: auto;
			margin-right: auto;

			svg {
				fill: currentColor;
			}
		}
	}

	// Block label.
	.coblocks-block-manager__button-label {
		line-height: 1;
		padding: 4px 2px 8px;
	}
}
.coblocks-disable-block-warning {
	max-height: auto !important;

	.components-popover__content {
		color: #b52727;
		min-height: 80px;
		padding: 8px;
		text-align: center;
	}
}
