.components-modal--coblocks-block-manager{

	.coblocks-block-manager__search {
		border-bottom: 1px solid #e2e4e7;

		input[type="search"] {
			border-radius: 4px;
			display: block;
			font-size: 16px;
			margin: 16px 0;
			padding: 11px 16px;
			position: relative;
			z-index: 1;

			@media (min-width: 600px) {
				font-size: 13px;
			}
		}
	}

	// Block category wrappers.
	.coblocks-block-manager__section {
		border-bottom: 1px solid #e2e4e7;

		&-title {
			font-size: .9rem;
			font-weight: 600;
		}
	}

	// List of blocks within a category.
	.coblocks-block-manager__list {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		overflow: hidden;
		padding: 2px 0;

		&-item {
			display: block;
			margin: 0 0 25px;
			padding: 0 4px;
			width: 120px;
		}
	}

	// Individual toggleable buttons.
	.coblocks-block-manager__button {
		align-items: stretch;
		background: transparent;
		border: 1px solid rgba(25, 30, 35, 0.2);
		border-radius: 4px;
		box-shadow: none;
		color: #32373c;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		font-size: 13px;
		height: auto;
		justify-content: center;
		padding: 5px;
		position: relative;
		transition: all .05s ease-in-out;
		width: 100%;
		word-break: break-word;

		&:hover {
		}

		&:active:enabled {
		}

		&:focus:enabled {
			background: transparent;
			border: 0;
		}

		&.block-disabled {
			opacity: 0.3;

			&,
			&:focus:enabled {
				background: #e3e4e7;
				border-color: #e3e4e7;
			}
		}

		// Block icons.
		&-icon svg {
			max-height: 24px;
			max-width: 24px;
			min-height: 20px;
			min-width: 20px;
		}
	}
}

.coblocks-disable-block-warning {
	max-height: auto !important;

	.components-popover__content{
		color: #b52727;
		min-height: 80px;
		padding: 8px;
		text-align: center;
	}
}

