@import "~@wordpress/base-styles/variables";

.wp-block-paragraph,
p {
	&.is-style-info,
	&.is-style-success,
	&.is-style-warning,
	&.is-style-error {
		border-radius: 4px;
		box-sizing: border-box;
		padding: $grid-unit-40;

		// Nested for high-specificity override of core styles.
		&.coblocks-alert-paragraph {
			margin-bottom: var(--go--spacing--vertical);
			margin-top: var(--go--spacing--vertical);
		}
	}

	&:not(.has-background) {

		&.is-style-info {
			background-color: #d6efee;
		}

		&.is-style-warning {
			background-color: #fbe7dd;
		}

		&.is-style-error {
			background-color: #ffdede;
		}

		&.is-style-success {
			background-color: #d0eac4;
		}
	}

	&:not(.has-text-color) {

		&.is-style-info {
			color: #094264;
		}

		&.is-style-warning {
			color: #8a4b30;
		}

		&.is-style-error {
			color: #8b343c;
		}

		&.is-style-success {
			color: #154a28;
		}
	}
}
