.edit-post-sidebar .components-panel__body.is-opened ~ .coblocks-lightbox-controls {
	display: flex;
	margin-top: -8px;
	padding-left: 16px;
	padding-right: 16px;
}

.components-panel__row.coblocks-lightbox-controls {
	display: flex;
	margin-top: 0;
	padding-left: 16px;
	padding-right: 16px;
}
