.block-editor-block-list__block[data-type="coblocks/faq"] {
	.block-list-appender {
		bottom: 0;
		display: none;
		// This is to override 5.8 style
		margin: 0;
		padding: 0;

		// Those are 5.9 style that we force apply to 5.8
		position: absolute;
		right: 0;
		width: 100%;
		z-index: 2;
	}

	.coblocks-block-appender {
		display: flex;
		justify-content: space-between;
		margin: 1.75em 0 0;

		.block-editor-button-block-appender {
			flex-direction: row;
			width: 48%;
		}
	}

	&.is-selected,
	&.has-child-selected {
		.block-list-appender {
			display: block;
		}
	}
}
