.wp-block-coblocks-event-item {
  display: block;
  flex: 1 100%;
  padding: 0 !important;
  margin-bottom: 30px;

  .wp-block-coblocks-event-item__content {
	display: flex;
	justify-content: space-between;

	.wp-block-coblocks-event-item__dates {
	  flex-basis: 20%;
	}

	.wp-block-coblocks-event-item__heading-wrapper {
	  flex-basis: 60%;
	}

	.wp-block-coblocks-event-item__time-and-location {
	  flex-basis: 20%;
	}

	.wp-block-coblocks-event-item__time {
	  h5 {
		margin: 0;
	  }
	}
  }
}
