.wp-block-coblocks-event-item {
	background-color: #eee;
	flex: 1 100%;
	width: 100%;

	.wp-block-coblocks-events__date {
		flex-basis: 20%;
		max-width: 20%;
		padding-right: 24px;
		word-break: break-word;
	}

	.wp-block-coblocks-event-item__heading-wrapper {
		flex-basis: 50%;
		max-width: 50%;
		padding: 0 24px;
		word-break: break-word;
	}

	.wp-block-coblocks-events__details {
		flex-basis: 30%;
		max-width: 30%;
		padding-left: 24px;
		text-align: right;
		word-break: break-word;
	}

	.wp-block-coblocks-event-item__time {
	}

	.show-more-details::before {
		content: "+ ";
	}
}
