.editor-block-list__block[data-type="coblocks/image-card"] {
	background: transparent !important;

	.has-no-image {
		height: 70vw;
		max-height: 700px;
	}

	&[data-align="center"] {
		text-align: inherit;

		.components-placeholder__instructions {
			display: none;
		}
	}

	&[data-align="wide"] {
		.has-no-image {
			max-height: 900px;
		}
	}

	&[data-align="full"] {
		.has-no-image {
			max-height: 1024px;
		}
	}

	.wp-block-coblocks-image-card__intrinsic {
		.components-placeholder {
			background: transparent;

			&__instructions {
				max-width: 260px;

				@media (max-width: 960px) {
					display: none;
				}
			}
		}
	}

	// Child blocks should not have a max-width.
	.editor-inner-blocks .wp-block {
		max-width: none;
	}

	// Add border to the image if the block is selected.
	&.is-selected .wp-block-coblocks-image-card__img-wrapper:not(.has-no-image) {
		outline: 4px solid #0085ba;
	}

	.wp-block[data-type="coblocks/row"] .editor-block-list__block-edit::before {
		outline-style: solid !important;
	}

	// Remove image button.
	.block-library-gallery-item__inline-menu {
		right: -4px;
		top: -4px;

		.blocks-gallery-item__remove {
			&:hover {
				background-color: #0085ba !important;
				box-shadow: none !important;
				color: rgba($white, 0.66) !important;
			}
		}
	}

	// Fixes dropZone component z-index (#31).
	.components-drop-zone {
		z-index: 0;
	}

	// Remove editor margins that do not exist on the frontend.
	.wp-block-coblocks-image-card__card {
		> .editor-inner-blocks {
			> .editor-block-list__layout {
				> .wp-block {
					&:first-child {
						> .editor-block-list__block-edit {
							margin-bottom: 0;
							margin-top: 0;
						}
						> .editor-block-list__insertion-point {
							display: none;
						}
					}
				}
				> div {
					> .editor-default-block-appender {
						display: none;
					}
				}
			}
		}
	}
}

// Style the core styles preview (#35).
// As Gutenberg does not support innerBlocks content within the editor yet, we need
// to style the previews to look better for now.
.editor-block-preview,
.editor-block-styles__item-preview {
	.wp-block-coblocks-image-card__inner {
		display: flex;
		padding: 0;
	}

	.wp-block-coblocks-image-card__img-wrapper {
		width: 120%;
	}

	.wp-block-coblocks-image-card__card-wrapper {
		margin-bottom: 0;
		margin-top: inherit;
		width: 70%;
	}

	.wp-block-coblocks-image-card__intrinsic {
		width: 53%;
	}

	.wp-block-coblocks-image-card__card {
		background: #535c65;
		display: block;
		height: 50px;
		width: 100%;
	}

	.wp-block-coblocks-image-card,
	.wp-block-coblocks-image-card__inner,
	.wp-block-coblocks-image-card__img-wrapper {
		height: 100px;
	}

	.is-style-right .wp-block-coblocks-image-card__inner {
		flex-direction: row-reverse;

		.wp-block-coblocks-image-card__img-wrapper {
			left: -20%;
		}

		.wp-block-coblocks-image-card__card {
			margin-right: 0%;
		}
	}
}

.editor-block-preview {
	.wp-block-coblocks-image-card__card {
		height: 130px;
		margin-top: 120px;
	}
}

.wp-block-coblocks-image-card {
	.editor-block-toolbar .components-toolbar:nth-child(2) {
		display: none;
	}
}
