.editor-block-list__block[data-type="coblocks/image-card"] {

	.has-no-image {
		height: 70vw;
		max-height: 700px;
	}

	&[data-align="center"] {
		text-align: inherit;

		.components-placeholder__instructions {
			display: none;
		}
	}

	&[data-align="wide"] {

		.has-no-image {
			max-height: 900px;
		}
	}

	&[data-align="full"] {

		.has-no-image {
			max-height: 1024px;
		}

	}

	.components-placeholder {
		background: transparent;

		&__instructions {
			max-width: 260px;

			@media (max-width: 960px) {
				display: none;
			}
		}
	}

	.wp-block-coblocks-image-card__img-wrapper:hover .components-coblocks__delete-image-button {
		opacity: 1;
		pointer-events: auto;
	}

	.wp-block-coblocks-image-card__card{
		.wp-block.editor-default-block-appender{
			display: none;
		}
	}
}
