.wp-block-coblocks-image-card {
	position: relative;

	&__inner {
		position: relative;

		@media (min-width: 700px) {
			display: flex;
		}
	}

	&__heading {
		margin-bottom: 0;
		margin-top: 0;
	}

	&__intrinsic {
		max-width: initial;
		overflow: visible;
		position: relative;
		width: 100%;

		@media (min-width: 700px) {
			width: 60%;
		}

		@media (min-width: 900px) {
			width: 50%;
		}
	}

	&__img-wrapper {
		position: relative;

		@media (min-width: 700px) {
			width: 120%;
		}

		img {
			height: auto;
			position: static;
			vertical-align: middle;
			width: 100%;
		}
	}

	&__card-wrapper {
		align-items: center;
		display: flex;
		justify-content: flex-start;
		margin-bottom: 1em;
		margin-left: auto;
		margin-right: auto;
		margin-top: -25vw;
		pointer-events: none;
		position: relative;
		width: 90%;
		z-index: 29;

		@media (min-width: 700px) {
			margin-bottom: 0;
			margin-top: inherit;
			width: 70%;
		}

		@media (min-width: 900px) {
			width: 50%;
		}
	}

	&__card {
		box-sizing: border-box;
		pointer-events: auto;
		width: 100%;
		word-break: break-word;

		p:last-of-type {
			margin-bottom: 0;
		}
	}

	&__button-wrapper {
		display: inline-block;
		margin-top: 10px;
	}

	// Right style option.
	&.is-style-right &__inner {
		flex-direction: row-reverse;

		.wp-block-coblocks-image-card__img-wrapper {
			@media (min-width: 700px) {
				left: -20%;
			}
		}

		.wp-block-coblocks-image-card__card {
			margin-right: 0%;
		}
	}

	// Card image placeholder, if there is no image added.
	.has-no-image {
		align-items: center;
		background: hsla(240, 5%, 57%, 0.1);
		display: flex;
		height: 100vw;
		justify-content: center;
		max-height: 1024px;
	}

	&.has-background-image .has-no-image {
		background: #f4f5f6;
	}
}
