.has-filter-grayscale img {
	filter: grayscale(1);
}

.has-filter-saturation img {
	filter: saturate(1.75);
}

.has-filter-sepia img {
	filter: sepia(0.5);
}

.has-filter-dim img {
	filter: brightness(0.5);
}

.has-filter-vintage img {
	filter: contrast(1.3) saturate(1.5) sepia(0.6);
}
