[class*="wp-block-"] {
	&.mt-0 {
		> .has-margin {
			margin-top: 0 !important;
		}
	}
	&.mb-0 {
		> .has-margin {
			margin-bottom: 0 !important;
		}
	}
}

[class*="wp-block"].mt-0 {
	margin-top: 0 !important;
}

[class*="wp-block"].mb-0 {
	margin-bottom: 0 !important;
}
