[data-type="coblocks/testimonials"] {
	.coblocks-block-appender {
		flex: 1 100%;
		margin-top: 28px;
		max-width: 100% !important;
	}

	// Hide this on Gutenberg 5.9+
	.block-list-appender {
		display: none !important;
	}

	.wp-block-coblocks-testimonial__image > .components-button {
		height: 100%;
		justify-content: center;
		width: 100%;
	}
}
