.wp-block-image.is-style-service {
	display: flex;
	margin: 0 0 1.5rem;
	padding: 75% 0 0;
	position: relative;
	width: 100%;

	img, .block-editor-media-placeholder {
		position: absolute;
		height: 100%;
		width: 100%;
		object-fit: cover;
		top: 0;
	}
}


