.m {

	@include utilities($spacing, "margin", "-");
}

.mt {

	@include utilities($spacing, "margin-top", "-");
}

.mb {

	@include utilities($spacing, "margin-bottom", "-");
}

.mr {

	@include utilities($spacing, "margin-right", "-");
}

.ml {

	@include utilities($spacing, "margin-left", "-");
}

.-mb-1 {
	margin-bottom: -#{map-get($spacing, 1)};
}

.-mb-2 {
	margin-bottom: -#{map-get($spacing, 2)};
}

.-mb-3 {
	margin-bottom: -#{map-get($spacing, 3)};
}

.-mb-4 {
	margin-bottom: -#{map-get($spacing, 4)};
}

// 600px +
@include break-small() {

	.sm\:mt {

		@include utilities($spacing, "margin-top", "-");
	}

	.sm\:mb {

		@include utilities($spacing, "margin-bottom", "-");
	}

	.sm\:mr {

		@include utilities($spacing, "margin-right", "-");
	}

	.sm\:ml {

		@include utilities($spacing, "margin-left", "-");
	}

	.sm\:-mb-1 {
		margin-bottom: -#{map-get($spacing, 1)};
	}

	.sm\:-mb-2 {
		margin-bottom: -#{map-get($spacing, 2)};
	}

	.sm\:-mb-3 {
		margin-bottom: -#{map-get($spacing, 3)};
	}

	.sm\:-mb-4 {
		margin-bottom: -#{map-get($spacing, 4)};
	}
}

// 782px+
@include break-medium() {

	.md\:mt {

		@include utilities($spacing, "margin-top", "-");
	}

	.md\:mb {

		@include utilities($spacing, "margin-bottom", "-");
	}

	.md\:mr {

		@include utilities($spacing, "margin-right", "-");
	}

	.md\:ml {

		@include utilities($spacing, "margin-left", "-");
	}

	.md\:-mb-1 {
		margin-bottom: -#{map-get($spacing, 1)};
	}

	.md\:-mb-2 {
		margin-bottom: -#{map-get($spacing, 2)};
	}

	.md\:-mb-3 {
		margin-bottom: -#{map-get($spacing, 3)};
	}

	.md\:-mb-4 {
		margin-bottom: -#{map-get($spacing, 4)};
	}
}

// 1280px+
@include break-wide() {

	.lg\:mt {

		@include utilities($spacing, "margin-top", "-");
	}

	.lg\:mb {

		@include utilities($spacing, "margin-bottom", "-");
	}

	.lg\:mr {

		@include utilities($spacing, "margin-right", "-");
	}

	.lg\:ml {

		@include utilities($spacing, "margin-left", "-");
	}

	.lg\:-mb-1 {
		margin-bottom: -#{map-get($spacing, 1)};
	}

	.lg\:-mb-2 {
		margin-bottom: -#{map-get($spacing, 2)};
	}

	.lg\:-mb-3 {
		margin-bottom: -#{map-get($spacing, 3)};
	}

	.lg\:-mb-4 {
		margin-bottom: -#{map-get($spacing, 4)};
	}
}
