.editor-block-list__block[data-type="coblocks/pricing-table-item"] {
	width: 100%;

	.wp-block-coblocks-pricing-table-item {
		margin: 0;

		.pricing-table__price {
			display: flex !important;

			.blocks-editable {
				display: inline-block;
			}
		}
	}

	.editor-block-list__block-edit {
		margin-bottom: 12px;
		margin-top: 12px;
		height: 100%;
	}

	.editor-inner-blocks {

		.editor-block-list__insertion-point {
			display: none;
		}
	}

	.block-library-button__inline-link {
		margin-top: 5px;
		width: 100%;

		> div {
			width: calc(100% - 72px);
		}

		input[type="text"] {
			width: 100%;
		}
	}
}

