[data-type="coblocks/testimonial"] {
	.wp-block-coblocks-testimonial__image-container {
		position: relative;
	}

	.wp-block-coblocks-testimonial__image > .components-button {
		height: 100%;
		justify-content: center;
		width: 100%;
	}
}

// Fix for superfluous margin-bottom.
[data-type="coblocks/testimonials"] [data-type="coblocks/testimonial"] {
	&.wp-block-coblocks-testimonial {
		margin-bottom: 0;
	}
}
