.coblocks-layout-selector .block-editor-block-list__layout .block-editor-block-list__block.is-focus-mode:not(.is-multi-selected) {
	opacity: 1 !important;
}

.coblocks-layout-selector .coblocks-layout-selector__layout .block-editor-block-preview__container.editor-styles-wrapper {
	--go--font-size: 0.5rem;
	--go-button--font-size: 0.5rem;
	--go--viewport-basis: 1800;
	--editor-max-w-base: 400px;
	--editor-max-w-wide: 85%;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.block-editor-block-list__layout .wp-block:not([data-type="core/heading"]):first-of-type {
		margin-top: 0 !important;
	}

	.block-editor-block-list__layout .wp-block:not([data-type="core/heading"]):last-of-type {
		margin-bottom: 0 !important;
	}

	[data-type="core/paragraph"] {
		font-size: 0.75rem;
	}
}

.coblocks-layout-selector-modal {
	background-color: #f5f5f5;
	height: 85vh;
	position: relative;
	width: 1200px;

	.components-modal__content {
		height: auto;
		padding: 0;
	}

	.components-modal__header {
		border-bottom: none;
		height: 96px;
		margin: 0;
		padding: 0;
		
		.components-modal__header-heading-container {
			height: 100%;

			.components-modal__header-heading {
				display: flex;
				flex-direction: row;
				font-size: 1rem;
				justify-content: start;
				background-color: #f5f5f5;
				margin: 0;
				padding: 0;
				height: 100%;
				width: 220px;

				> div {
					flex: 1 0 auto;
					align-self: center;
					padding: 0 0 0 24px;
				}
	
	
				> span {
					display: block;
					font-size: 14px;
					font-weight: 400;
					left: 125px;
					margin-bottom: 13px;
					margin-top: 0.8em;
					position: relative;
					flex: 1 0 auto;
					align-self: center;
				}
			}
		}
	}
}

[data-type="core/buttons"] {

	.block-list-appender {
		margin-bottom: 0;
		position: relative;
		top: -10px;
	}
}

[data-type="core/buttons"]:not(.is-selected):not(.has-child-selected) {

	.block-list-appender {
		display: none !important;
	}
}

.coblocks-layout-selector {
	align-items: flex-start;
	display: flex;
	justify-content: space-around;

	@media (max-width: 782px) {
		flex-direction: column;
	}

	&__sidebar {
		padding: 0 0 0 24px;
		position: -webkit-sticky;
		position: sticky;
		top: 12px;
		width: 220px;

		@media (max-width: 782px) {
			display: none;
		}

		&__items {
			font-size: 14px;
			margin-bottom: 2.5em;
			margin-top: 0;
		}

		&__item {
			margin-bottom: 0.85em;

			> a {
				color: $gray-900;
				text-decoration: none;

				&:hover,
				&:focus,
				&.is-selected {
					box-shadow: none;
					color: var(--wp-admin-theme-color, #007cba);
					outline: none;
				}
			}
		}
	}

	&__topbar {
		display: none;

		@media (max-width: 782px) {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin-bottom: 1em;
			width: 100%;

			.components-dropdown-menu__toggle {

				&:hover {
					border: 0;
					box-shadow: none !important;
				}
			}

			&__left {
				align-items: center;
				display: flex;

				> strong {
					display: inline-block;
					margin-right: 0.5em;
				}
			}
		}
	}

	&__add-button {
		align-items: center;
		color: $gray-900 !important;
		display: inline-flex;
		font-weight: 500;
		height: 32px;
		min-width: 32px;
		text-decoration: none !important;
		transition-duration: 0;
		vertical-align: middle;

		> span {
			align-items: center;
			background-color: $gray-900;
			border-radius: $radius-block-ui;
			color: $white;
			display: inline-flex;
			height: 32px;
			justify-content: center;
			margin-right: 8px;
			min-width: 32px;
			position: relative;
			transition: all 0.1s;
			vertical-align: middle;
			width: 32px;
		}

		&:hover,
		&:focus {
			box-shadow: none;
			color: var(--wp-admin-theme-color, #007cba) !important;
			outline: none;

			> span {
				background-color: var(--wp-admin-theme-color, #007cba);
				color: $white;
			}
		}
	}

	&__content {
		background: $white;
		flex-grow: 1;
		overflow-y: auto;
		padding: 12px 24px 24px 24px;

		> span {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 0 0 0 6%;
			padding: 20px 0 20px 0;

		}
	}

	&__layouts {
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 3px;
	}

	&__layouts-column {
		width: 50%;
	}

	&__layout {
		background-color: var(--go--color--background, $white);
		border-radius: $radius-block-ui;
		display: flex;
		flex-basis: 50%;
		flex-grow: 1;
		margin: 0 0 12% 12%;
		position: relative;
		text-decoration: none;


		@media (max-width: 1024px) {
			flex-basis: 100%;
			margin-right: 0;
			max-width: 100%;
		}

		.block-editor-block-preview__container {
			margin-bottom: 2rem;
			margin-top: 2rem;
		}

		&::after {
			border: 1px solid rgba(0, 0, 0, 0.15);
			border-radius: $radius-block-ui;
			content: "";
			height: 100%;
			position: absolute;
			width: 100%;
			z-index: 1;
		}

		&:hover {
			box-shadow: 0 0 0 1px $white, 0 0 0 3px var(--wp-admin-theme-color, #007cba);
		}

		&.is-selected::after {
			box-shadow: 0 0 0 1px $white, 0 0 0 3px var(--wp-admin-theme-color, #007cba);
		}

		&:hover,
		&:focus {
			outline: none;
		}
	}

	&__layout--overlay {
		align-items: center;
		background: rgba(255, 255, 255, 0.75);
		border: 2px solid var(--wp-admin-theme-color, #007cba);
		bottom: 0;
		display: none !important; // Hide this temp.
		display: flex;
		flex-direction: column;
		justify-content: center;
		left: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		transition: opacity 0.1s linear;
		z-index: 1;

		&.is-active {
			opacity: 1;
		}
	}
}
