.wp-block-coblocks-reviews {
	margin: 1em 0;

	.components-placeholder {
		min-height: 0;
	}

	.search_button {
		padding-top: 16px;
	}

	.edit_search_button {
		color: #1e90ff;
		margin-left: 24px;
	}

	.component-is-loading-reviews {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding: 24px;

		.loader-status-text {
			font-size: 18;
			font-weight: 600;
			margin: 0;
		}
	}
}
