.wp-block-coblocks-reviews {

	.search_button {
		padding-top: 16px;
	}

	.edit_search_button {
		color: #1e90ff;
		margin-left: 24px;
	}

	.components-business-selector__container {
		padding: 16px;
	}

	.components-business-selector__business_item {
		column-gap: 16px;
		display: flex;
		flex-direction: row;

		padding: 16px;

		.information_box {

			.business_title {
				font-weight: 700;
				margin: 0;
			}

			.business_location {
				margin: 0;
			}

		}
	}

}
