.wp-block-coblocks-social {
	&__button {
		&:active {
			animation: none !important;
		}
	}
}

.block-editor-block-styles {
	.wp-block-coblocks-social {
		align-content: center;
		align-items: center;
		background: transparent !important;
		display: flex;
		height: 100%;
		justify-content: center;
		text-align: center !important;

		&.is-style-mask {
			.wp-block-coblocks-social__icon {
				height: 32px !important;
				width: 32px !important;
			}
		}

		&.is-style-text,
		&.is-style-icon-and-text {
			.wp-block-coblocks-social__button {
				width: 61%;
			}
		}

		&.is-style-circular {
			.wp-block-coblocks-social__icon {
				height: 18px !important;
				width: 18px !important;
			}
			.wp-block-coblocks-social__button {
				padding: 14px !important;
			}
		}

		ul {
			margin: 0;
		}

		li {
			display: none;
			margin: 0 !important;

			&:first-child {
				display: block;
			}

			&::before,
			&::after {
				display: none;
			}
		}

		&__text {
			max-width: 70%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&__button {
			margin: 0;
			max-width: 100%;
			padding-left: 10px;
			padding-right: 10px;
			width: 100%;

			&.is-empty {
				opacity: 1 !important;
			}
		}
	}

	.wp-block-coblocks-social-profiles {
		&.is-style-text,
		&.is-style-icon-and-text {
			.wp-block-coblocks-social__button {
				width: 96%;
			}
		}
	}

	// Gutenberg 5.9+ tweaks.
	[data-type="coblocks/social"] [data-block],
	[data-type="coblocks/social-profiles"] [data-block] {
		margin-bottom: 0;

		.wp-block-coblocks-social {
			margin-top: 10px;

			&.is-style-icon {
				margin-top: 8px;
			}

			&.is-style-circular {
				margin-top: 5px;
			}
		}
	}
}

.components-range-control + .components-coblocks-inspector__social-button-size {
	margin-top: -13px !important;
}

.components-social-icons-list__label {
	margin-bottom: 6px;
}

.edit-post-settings-sidebar__panel-block .components-social-icons-list {
	.components-base-control {
		margin-bottom: 8px;
	}
}

.edit-post-settings-sidebar__panel-block .components-social-links-list {
	.components-base-control {
		margin-bottom: 8px;
	}
}

// Shim to get buttons to display correctly in G 6.3+ only.
.components-panel__body .block-editor-block-preview__container .wp-block-coblocks-social__button {
	transform: scale(4.2);
}
