.wp-block-coblocks-menu {
	display: block;

	.block-list-appender {
		display: none;
	}

	.block-editor-block-list__layout {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		.wp-block[data-type="core/heading"] {
			flex: 1 100%;

			.block-editor-block-list__block-edit {
				margin-bottom: 10px !important;
				margin-top: 0 !important;
			}
		}
	}

	&.is-style-list {
		.block-editor-block-list__layout {
			flex-direction: column;
		}

		.wp-block[data-type="coblocks/menu-item"] {
			flex: 1 100%;
			max-width: 100% !important;
		}
	}

	.coblocks-list-appender {
		flex: 1 100%;
	}

	.coblocks-list-appender__toggle {
		align-items: center;
		background: rgba(139, 139, 150, 0.1) !important;
		color: $dark-gray-500;
		display: flex;
		justify-content: center;
		outline: 1px dashed $dark-gray-150;
		padding: 16px;
		width: 100%;

		&:hover {
			box-shadow: inset 0 0 0 1px $light-gray-500, 0 1px 1px rgba($dark-gray-900, 0.2) !important;
			outline: 1px dashed $dark-gray-500;
		}
	}

	&:not(.child-selected) .wp-block[data-type="coblocks/menu-item"] .is-empty {
		display: none;
	}
}

/* On small screens, we are no longer using row direction but column */
@media all and (max-width: 514px) {
	.wp-block-coblocks-menu .block-editor-block-list__layout {
		flex-direction: column;
	}
}

.coblocks-editor-block-styles .editor-block-styles__item-preview {
	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		fill: $dark-gray-500;
	}
}
