.wp-block-coblocks-menu {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	/* On small screens, we are no longer using row direction but column */
	@media all and (max-width: 514px) {
		flex-direction: column;
	}

	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		flex: 1 100%;
		padding: 25px;
	}

	figure {
		display: flex;
		width: 100%;
		padding-top: 100%;
		position: relative;
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&:not(.is-style-justify):not(.is-style-list) {
		.wp-block-coblocks-menu-item {
			text-align: center;
		}
	}

	&.is-style-justify {
		.wp-block-coblocks-menu-item {
			text-align: left;
		}
	}

	&.is-style-list {
		.wp-block-coblocks-menu-item {
			display: flex;
			flex: 1 100%;
			max-width: 100%;
		}

		figure,
		.components-placeholder {
			flex: 0 0 auto;
			margin: 0 20px 0 0 !important;
			max-width: 130px;
			max-height: 130px;
			padding-top: 130px;
		}
	}
}
