.wp-block-coblocks-menu {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 20px;

	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		flex: 1 100%;
		padding: 25px;
	}

	&:not(.is-style-justify):not(.is-style-list) {
		.wp-block-coblocks-menu-item {
			text-align: center;
		}
	}

	&.is-style-justify {
		.wp-block-coblocks-menu-item {
			text-align: left;
		}
	}

	&.is-style-list {
		.wp-block-coblocks-menu-item {
			flex: 1 100%;
			max-width: 100%;
		}
	}
}

/* On small screens, we are no longer using row direction but column */
@media all and (max-width: 514px) {
	.wp-block-coblocks-menu {
		flex-direction: column;
	}
}
