// stylelint-disable function-url-quotes

.wp-block-paragraph {
	&.is-style-info,
	&.is-style-success,
	&.is-style-warning,
	&.is-style-error {
		border-radius: 4px;
		padding: 2em;
	}

	&:not(.has-background) {

		&.is-style-info {
			background-color: $color-alert-default-bg;
		}

		&.is-style-warning {
			background-color: $color-alert-warning-bg;
		}

		&.is-style-error {
			background-color: $color-alert-error-bg;
		}

		&.is-style-success {
			background-color: $color-alert-success-bg;
		}
	}

	&:not(.has-text-color) {

		&.is-style-info {
			color: $color-alert-default-color;
		}

		&.is-style-warning {
			color: $color-alert-warning-color;
		}

		&.is-style-error {
			color: $color-alert-error-color;
		}

		&.is-style-success {
			color: $color-alert-success-color;
		}
	}
}
