.wp-block-coblocks-logo {

  &.greyscale img {
    -webkit-filter: grayscale( 100% );
    filter: grayscale( 100% );
  }

  .wrapper {
    display: inline-flex;
    flex-direction: row;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }

  .components-placeholder.block-editor-media-placeholder {
    border: 1px dashed #bfbfbf;
    min-height: 115px;

    .components-placeholder__label,
    .components-placeholder__instructions {
      display: none;
    }
  }

  .resize {
    text-align: center;

    .holder {
      display: block;
      margin: 0 auto;
      position: relative;
    }

    &.selected {
      position: relative;

      .handle {
        z-index: 999;
        display: block;
        width: 16px;
        padding: 0;
        cursor: ew-resize;
        position: absolute;
        top: 50%;
        transform: translateY( -50% );
        right: -10px;

        &:before {
          position: relative;
          z-index: 999;
          display: block;
          content: "";
          width: 16px;
          height: 16px;
          border: 2px solid #fff;
          border-radius: 50%;
          background: #0085ba;
          cursor: inherit;
        }

        &:first-child {
          right: calc( 100% - 10px );
        }
      }
    }
  }
}
