.wp-block-coblocks-logos {

	img:focus {
		outline: none;
	}

	.block-editor-media-placeholder.is-appender {
		margin-bottom: 0;
		margin-top: 16px;
		min-height: 100px;
		outline: 1px dashed $dark-gray-150;

		.components-placeholder__label,
		.components-placeholder__instructions {
			display: none;
		}

		.components-button {
			margin-bottom: 1px;
		}
	}

	.components-resizable-box__handle-left {
		padding: 0 1.75vw;

		&::before {
			right: calc( 41% + .25vw );
		}
	}

	.components-resizable-box__handle-right {
		padding: 0 1.75vw;

		&::before {
			right: calc( 39% + .25vw );
		}
	}
}
