.wp-block-coblocks-logo {

  .holder {
    display: block;
    margin: 0 auto;
  }

  .wrapper {
    /* Use flexbox */
    display: inline-flex;
    flex-direction: row;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
}
