.wp-block-coblocks-logos {
	.wrapper {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: center;

		> div {
			margin: 0.5em;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		img {
			vertical-align: middle;
			width: 100%;
		}
	}
}
