.components-coblocks-inspector__tabs {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;

	.components-base-control,
	.components-base-control__field {
		margin-bottom: 0 !important;
	}

	.components-tab-panel__tab-content {
		width: 100%;
	}

	&-item {
		appearance: none;
		background: $white;
		border-radius: 4px;
		border: 1px solid #8d96a0;
		color: #6c7781;
		height: 28px;
		line-height: 1;
		margin: 0;
		padding-left: 7px;
		padding-right: 7px;

		@media (max-width: 782px) {
			height: 40px;
			padding-left: 17px;
			padding-right: 17px;
		}

		@media (max-width: 514px) {
			padding-left: 10px;
			padding-right: 10px;
		}

		&:focus {
			border-color: #00a0d2 !important;
			color: #00a0d2;
			outline-offset: -2px;
			outline: 2px solid transparent;
		}

		&:not(.is-active):active:enabled {
			background: #eee;
			border-color: #999;
			box-shadow: inset 0 1px 0 #999;
		}

		&:not(.is-active):hover {
			background: #fafafa;
			border-color: #999;
			box-shadow: inset 0 -1px 0 #999;
			color: #555d66;
			cursor: pointer;
		}

		&.is-active {
			background: #555d66;
			border-color: #555d66;
			color: $white;
			z-index: 1;

			&:focus {
				background: #00a0d2;
			}
		}

		&:first-of-type {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;

			&:not(.is-active) {
				border-right: none;
			}
		}

		&:last-of-type {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;

			&:not(.is-active) {
				border-left: none;
			}
		}

		svg {
			height: 15px;
			position: relative;
			width: 15px;
			top: 0.08em;
		}
	}

	.components-tab-panel__tabs {
		align-items: center;
		display: flex;
		margin-left: 7px;
		margin-right: 1px;
		position: relative;
		top: 11px;
	}
}
