.components-toolbar-coblocks-numeral-controls {
	.components-toolbar__control.components-button[data-subscript]::after {
		bottom: 0.77em;
		font-size: 16px;
		right: 13px;
	}

	.components-toolbar__control.components-button[data-subscript="1"]::after {
		right: 14px;
	}
}
