@media (max-width: $break-small) {
	div[class*="wp-block-coblocks-"] {
		&.is-stacked-on-mobile {
			> .editor-inner-blocks {
				> .editor-block-list__layout {
					flex-direction: column;

					> .wp-block {
						width: 100% !important;

						// Hide the vertical resizer on mobile
						> .editor-block-list__block-edit {
							> div {
								.components-resizable-box__container {
									> span,
									& {
										> .components-resizable-box__handle {
											display: none !important;
										}
									}

									&::after {
										display: none !important;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
