div[class*="wp-block-coblocks-"] {
	@media (max-width: $break-small) {
		&.is-stacked-on-mobile {
			> .editor-inner-blocks{
				> .editor-block-list__layout{
					flex-direction: column;
					> .wp-block{
						width: 100% !important;

						//hide resizer on mobile
						> .editor-block-list__block-edit{
							> div{
								> .components-resizable-box__handle{
									display: none !important;
								}
							}
						}
					}
				}
			}
		}
	}
}
