.editor-block-styles__item-preview {

	// Call to Action block
	.wp-block-coblocks-call-to-action {
		overflow: hidden;
		padding: 0;
		height: auto !important;

		.cta__inner {
			max-width: 70px !important;
		}

		.cta__heading {
			font-size: 10px !important;
			line-height: 1.2;
		}

		.cta__content {
			font-size: 8px !important;
			line-height: 1.2;
		}
	}
}
