.has-small-gutter {

	&.has-2-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		max-width: calc(100% / 2.015 - #{map-get($spacing, 1)} + 0.75em );
	}

	&.has-3-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		max-width: calc(100% / 3 - #{map-get($spacing, 2)} + 1em );
	}

	&.has-4-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		max-width: calc(100% / 4 - #{map-get($spacing, 2)} + 1.25em );
	}
}

.has-medium-gutter {

	&.has-2-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		max-width: calc(100% / 2 - #{map-get($spacing, 2)} + 0.75em );
	}

	&.has-3-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		max-width: calc(100% / 2.975 - #{map-get($spacing, 3)} + 1em );
	}

	&.has-4-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		max-width: calc(100% / 4 - #{map-get($spacing, 3)} + 1.25em );
	}
}


.has-large-gutter {

	&.has-2-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		max-width: calc(100% / 2.01 - #{map-get($spacing, 3)} + 0.75em );
	}

	&.has-3-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		max-width: calc(100% / 3.03 - #{map-get($spacing, 4)} + 1em );
	}

	&.has-4-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		max-width: calc(100% / 4.08 - #{map-get($spacing, 4)} + 1.25em );
	}
}


.has-huge-gutter {

	&.has-2-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		max-width: calc(100% / 2.02 - #{map-get($spacing, 4)} + 0.75em );
	}

	&.has-3-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		max-width: calc(100% / 3.09 - #{map-get($spacing, 5)} + 1em );
	}

	&.has-4-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		max-width: calc(100% / 4.15 - #{map-get($spacing, 5)} + 1.25em );
	}
}
