.columns {

	> .block-editor-inner-blocks {
		width: 100%;
	}

	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	> .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		margin: 0;
	}

	&.columns-2 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
	&.columns-3 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
	&.columns-4 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		@include break-small() {
			flex-basis: 50%;
		}
	}

	&.columns-3 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block,
	&.columns-4 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		@include break-medium() {
			flex-basis: 33.33%;
		}
	}

	&.columns-4 > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block {
		@include break-wide() {
			flex-basis: 25%;
		}
	}
}

// Ensure editor .columns does not flex, as we have innerBlocks
[data-block] > [class*="coblocks"] > .columns {
	display: inherit;
	width: inherit;
}

// Fullwidth alignment
[data-align="full"] > .block-editor-block-list__block-edit [data-block] > div > .columns {
	padding-left: map-get($spacing, 2);
	padding-right: map-get($spacing, 2);

	@media (min-width: 480px) {
		padding-left: map-get($spacing, 4);
		padding-right: map-get($spacing, 4);
	}
}
