.editor-block-list__block[data-custom-fontsize="1"] {
	.wp-block-heading {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: inherit !important;
		}
	}

	.wp-block-button {
		.wp-block-button__link {
			font-size: inherit;
		}
	}

	.editor-block-contextual-toolbar {
		line-height: 0;
	}

	.editor-rich-text {
		.wp-block-cover-text,
		.wp-block-paragraph {
			font-size: inherit;
		}
	}
}

.editor-block-list__block[data-coblocks-font="1"] {
	.wp-block-heading {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: inherit;
		}
	}

	&:not([data-type="coblocks/pricing-table"]) {
		.wp-block-button {
			.wp-block-button__link {
				font-family: inherit;
			}
		}
	}

	.editor-rich-text {
		.wp-block-cover-text,
		.wp-block-paragraph {
			font-family: inherit;
		}
	}
	.wp-block-pullquote,
	.wp-block-quote {
		.editor-rich-text__tinymce {
			&,
			p {
				font-family: inherit;
			}
		}
	}
	.wp-block-coblocks-pricing-table {
		.wp-block-coblocks-pricing-table-item__title,
		.wp-block-coblocks-pricing-table-item__amount {
			font-family: inherit;
		}
	}
}

.editor-block-list__block[data-custom-fontweight="1"] {
	.wp-block-heading {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: inherit;
		}
	}
	.wp-block-button {
		.wp-block-button__link {
			font-weight: inherit;
		}
	}
	.editor-rich-text {
		.wp-block-cover-text,
		.wp-block-paragraph {
			font-weight: inherit;
		}
	}
	.wp-block-pullquote,
	.wp-block-quote {
		.editor-rich-text__tinymce {
			&,
			p {
				font-weight: inherit;
			}
		}
	}
}

.editor-block-list__block[data-custom-texttransform="1"] {
	.wp-block-heading {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			text-transform: inherit;
		}
	}

	.wp-block-button {
		.wp-block-button__link {
			text-transform: inherit;
		}
	}

	.editor-rich-text {
		.wp-block-cover-text,
		.wp-block-paragraph {
			text-transform: inherit;
		}
	}

	.wp-block-pullquote,
	.wp-block-quote {
		.editor-rich-text__tinymce {
			&,
			p {
				text-transform: inherit;
			}
		}
	}

	.block-library-button__inline-link,
	.editor-block-list__breadcrumb {
		text-transform: none;
	}
}

.editor-block-list__block[data-custom-textcolor="1"] {
	.wp-block-heading {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: inherit !important;
		}
	}
}

.editor-block-list__block[data-custom-fontweight="1"] {
	.block-library-button__inline-link,
	.editor-block-list__breadcrumb {
		font-weight: normal;
	}
}

.editor-block-list__block[data-custom-letterspacing="1"] {
	.block-library-button__inline-link,
	.editor-block-list__breadcrumb {
		letter-spacing: normal;
	}
}

body {
	.editor-block-list__block[data-custom-lineheight="1"] {
		.wp-block-heading {
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				line-height: inherit !important;
			}
		}

		.wp-block-button {
			.wp-block-button__link {
				line-height: inherit;
			}
		}

		.block-library-list {
			ul,
			li {
				line-height: inherit;
			}
		}

		.editor-rich-text {
			p {
				line-height: inherit !important;
			}

			.editor-rich-text__tinymce,
			.wp-block-cover-text {
				line-height: inherit;
			}
		}

		.editor-block-contextual-toolbar {
			line-height: 0;
		}
	}
}
