.wp-block-cover {
	&.has-custom-size {
		p {
			font-size: inherit !important;
		}
	}

	&.has-custom-font {
		p {
			font-family: inherit !important;
		}
	}

	&.has-custom-lineheight {
		p {
			line-height: inherit !important;
		}
	}
}

.wp-block-button {
	&.has-custom-lineheight {
		.wp-block-button__link {
			line-height: inherit;
		}
	}

	&.has-custom-size {
		.wp-block-button__link {
			font-size: inherit;
		}
	}

	&.has-custom-font {
		.wp-block-button__link {
			font-family: inherit !important;
		}
	}
}

ul{
	&.has-custom-lineheight {
		li{
			line-height: inherit;
		}
	}
	&.has-custom-size {
		li{
			font-size: inherit;
		}
	}

	&.has-custom-font {
		li{
			font-family: inherit;
		}
	}
}

.has-custom-transform{
	&.wp-block-coblocks-click-to-tweet{
		.wp-block-coblocks-click-to-tweet__twitter-btn{
			text-transform: none;
		}
	}
}
