.components-panel__body {
	.components-coblocks-dimensions-control {
		position: relative;

		&__mobile-controls-item {
			background: #fff;
			border: 1px solid #8d96a0;
			border-radius: 4px 0 0 4px;
			box-shadow: none;
			color: $dark-gray-500;
			display: none;
			font-size: 10px;
			height: 30px;
			justify-content: center;
			left: 0;
			line-height: 20px;
			padding: 0;
			position: absolute;
			text-align: center;
			text-shadow: none;
			top: 23px;
			width: 26px;
			z-index: 1;
			display: none;

			&.is-active {
				display: block;
			}

			&:hover {
				border-color: $dark-gray-500;
				color: #191e23;
			}

			&:focus:enabled {
				background: $dark-gray-500 !important;
				border-color: $dark-gray-500;
				box-shadow: inset 0 0 0 1px $white;

				svg {
					fill: #fff;
				}
			}

			svg {
				position: relative;
			}

			&--default svg {
				top: 3px;
			}

			&--desktop svg {
				top: 3px;
			}

			&--tablet svg {
				top: 3px;
			}

			&--mobile svg {
				top: 3px;
			}
		}

		.edit-post-settings-sidebar__panel-block & {
			margin-bottom: 1.5em;
		}

		.components-font-size-picker__selector {
			width: 115px;
		}

		.components-base-control__label {
			margin-bottom: 5px;
		}

		.components-base-control__help {
			margin-top: -5px;
		}

		&__header,
		&__inputs {
			display: flex;
		}

		&__inputs {
			margin-left: 25px;
		}

		input[type="number"].components-coblocks-dimensions-control__number {
			border-radius: 0;
			height: 30px;
			margin: 0 -1px 0 0;
			padding-right: 1px;
			width: 25%;

			&:focus {
				z-index: 1;
			}
		}

		&__input-labels {
			display: flex;
			margin-left: 26px; // Same value as &__inputs + 1

			span {
				text-align: center;
				width: 25%;

				&:last-of-type {
					width: 30px;
				}
			}
		}

		&__number-label {
			display: block;
			font-size: 11px;
			margin-bottom: 1px;
			margin-top: 3px;
			opacity: 0.66;
		}

		&__label {
			margin-bottom: 0;
		}

		&__header {
			justify-content: space-between;
			margin-bottom: 1px;
		}

		&__actions {
			position: relative;
			top: -2px;
		}

		&__units--Pixel,
		&__units--Em {
			border-radius: 3px !important;
			margin-right: 2px;
		}

		&__units--Percentage {
			border-radius: 3px !important;
		}

		.components-coblocks-dimensions-control__header .components-color-palette__clear {
			background: #fff;
			border: 1px solid #e2e4e7;
			box-shadow: none;
			color: $dark-gray-500;
			height: 22px;
			line-height: 20px;
			margin-left: 12px;
			padding-left: 6px;
			padding-right: 6px;
			position: relative;
			top: -1px;

			&:hover {
				border-color: $dark-gray-500;
				color: #191e23;
			}

			&:active:enabled {
				border-color: #999;
				background: #fff;
				box-shadow: none;
			}

			&:focus {
				background: #fff;
				box-shadow: 0 0 0 0 $dark-gray-500, inset 0 0 0 1px #fff;
				outline-offset: -2px;
				outline: 2px solid transparent;
			}
		}

		&__units {
			.components-button {
				background: #fff;
				border-color: #e2e4e7;
				text-transform: uppercase;
				line-height: 20px;
				font-size: 10px;
				padding: 0;
				text-shadow: none;
				box-shadow: none;
				color: #6c7781;
				width: 22px;
				height: 22px;
				text-align: center;
				justify-content: center;
				position: relative;
				top: -1px;
				box-shadow: none !important;

				&:hover {
					color: #191e23;
					border-color: $dark-gray-500;
				}

				&:focus {
					outline-offset: -2px;
					background: $dark-gray-500;
					outline: 2px solid transparent;
					box-shadow: 0 0 0 0 $dark-gray-500, inset 0 0 0 1px #fff;
				}

				&:not(.is-primary):hover {
					background: #fff;
					color: #191e23;
					box-shadow: none;
				}

				&.is-primary {
					background: $dark-gray-500;
					border-color: $dark-gray-500;
					color: $white;
					z-index: 1;
					cursor: default;

					&:focus {
						background: $dark-gray-500;
						box-shadow: 0 0 0 0 $dark-gray-500, inset 0 0 0 1px #fff;
					}

					&:active:enabled {
						background: $dark-gray-500;
						border-color: $dark-gray-500;
						box-shadow: none;
					}
				}
			}
		}

		&_sync.components-button.is-small {
			background: #fff;
			border: 1px solid #8d96a0;
			border-radius: 0;
			border-bottom-right-radius: 4px;
			border-top-right-radius: 4px;
			box-shadow: none;
			color: $dark-gray-500;
			height: auto;
			justify-content: center;
			padding: 0;
			text-align: center;
			text-shadow: none;
			width: 30px;

			svg {
				fill: $dark-gray-500;
				height: 18px;
				width: 18px;
			}

			&:focus {
				background: $dark-gray-500 !important;
				border-color: $dark-gray-500;
				box-shadow: 0 0 0 0 $dark-gray-500, inset 0 0 0 1px #fff;
				color: #fff !important;
				outline-offset: -2px;
				outline: 2px solid transparent;

				svg {
					fill: $white !important;
				}
			}

			&:not(.is-primary) {
				cursor: default;
			}

			&:not(.is-primary):active:enabled,
			&:not(.is-primary):focus:enabled {
				box-shadow: none;
				color: #fff !important;
			}

			&:not(.is-primary):hover {
				background: #fff;
				border-color: $dark-gray-500;
				box-shadow: none;
				color: $dark-gray-500;
				cursor: pointer;

				svg {
					fill: $dark-gray-500;
				}
			}

			&.is-primary {
				background: $dark-gray-500;
				border-color: $dark-gray-500;
				color: $white !important;

				svg {
					fill: $white !important;
				}

				&:focus {
					background: $dark-gray-500;
				}

				&:active:enabled {
					background: $dark-gray-500;
					border-color: $dark-gray-500;
					box-shadow: none;
				}
			}
		}
	}
}

.components-coblocks-dimensions-control__dropdown-content .components-button {
	padding-bottom: 8px;
	padding-top: 8px;

	&.is-no-size {
		font-size: 12px;
	}

	&.is-small-size {
		font-size: 14px;
	}

	&.is-medium-size {
		font-size: 20px;
	}

	&.is-large-size {
		font-size: 26px;
	}

	&.is-huge-size {
		font-size: 34px;
	}
}
