[data-type="coblocks/food-and-drinks"] {

	.has-columns > .block-editor-inner-blocks [data-type="core/heading"],
	.block-editor-inner-blocks [data-type="core/heading"] {
		max-width: 100% !important;
		flex-basis: 100% !important;
	}

	.coblocks-list-appender {
		flex: 1 100%;
		max-width: 100% !important;

		&__toggle {
			align-items: center;
			background: rgba(139, 139, 150, 0.1) !important;
			border-radius: 0;
			box-shadow: none;
			color: $dark-gray-500;
			display: flex;
			height: auto;
			justify-content: center;
			margin-top: 14px;
			outline: 1px dashed $dark-gray-150;
			padding: 16px;
			width: 100%;

			&:hover {
				box-shadow: none !important;
				outline: 1px dashed $dark-gray-500;
			}
		}
	}

	// Hide this on Gutenberg 5.9+
	.block-list-appender {
		display: none !important;
	}

	.is-style-list {

		[data-type="coblocks/food-item"] {
			flex: 1 100%;
			max-width: 100% !important;
		}
	}

	// Hides the food item placeholder if it's not the first row of blocks.
	&:not(.is-selected):not(.has-child-selected) {

		.block-editor-block-list__layout > [data-type="coblocks/food-item"] .is-empty {
			display: none;
		}

		.has-2-columns .block-editor-block-list__layout > [data-type="coblocks/food-item"]:nth-child(n+2):nth-child(-n+3) .is-empty,
		.has-3-columns .block-editor-block-list__layout > [data-type="coblocks/food-item"]:nth-child(n+2):nth-child(-n+4) .is-empty,
		.has-4-columns .block-editor-block-list__layout > [data-type="coblocks/food-item"]:nth-child(n+2):nth-child(-n+5) .is-empty {
			display: block;
		}
	}

	> .block-editor-block-list__block-edit > [data-block] {
		margin-bottom: 0;
	}

	&.is-selected > .block-editor-block-list__block-edit > [data-block] > div > .block-editor-inner-blocks {
		padding: 14px;
		padding-bottom: 0;
	}
}

// Adjust the editor preview to display our icons properly.
.coblocks-editor-block-styles .block-editor-block-styles__item-preview {
	align-items: center;
	display: flex;
	justify-content: center;

	svg {
		fill: $dark-gray-500;
	}
}
