.wp-block-coblocks-food-and-drinks {

	&.has-columns {

		&.has-2-columns,
		&.has-3-columns,
		&.has-4-columns {

			> h1,
			> h2,
			> h3,
			> h4,
			> h5,
			> h6 {
				flex-basis: 100%;
				max-width: 100%;
			}
		}
	}

	&:not(.is-style-list) .wp-block-coblocks-food-item {

		&__content {

			@include break-small() {
				flex-flow: column;
				justify-content: center;
				text-align: center;
			}
		}

		&__heading-wrapper {

			@include break-small() {
				justify-content: center;
			}
		}

		&__price {
			margin-top: 0;
			text-align: right;

			@include break-small() {
				text-align: inherit;
			}
		}
	}

	&.is-style-list .wp-block-coblocks-food-item {
		display: flex;
		flex: 1 100% !important;
		margin-top: 1.5em;
		max-width: 100%;

		@include break-small() {
			align-items: center;
		}

		figure,
		.components-placeholder {
			flex: 0 0 auto;
			margin: 0 20px 0 0 !important;
			max-height: 75px;
			max-width: 75px;
			padding-top: 75px;

			@include break-small() {
				max-height: 100px;
				max-width: 100px;
				padding-top: 100px;
			}
		}

		&__attributes {
			margin-left: 0.6em;
		}

		&__description {
			max-width: calc(100% - 50px);
		}

		&__price {
			margin-top: 0;
			text-align: right;
		}
	}
}
