.components-coblocks-image-control {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  background-color: #ccc;

  > img {
    display: block;
    opacity: 0;
    padding: 20px;
  }

  > div {
    position: absolute;
    top: 0;
    margin: 20px;
    overflow: hidden;

    &:first-child {
      opacity: 0.5;
      overflow: visible;
    }

    &:last-child {
      margin: 19px;
      border: 1px solid black;
      cursor: move;
    }

    img {
      display: block;
      will-change: transform;
    }
  }
}
