.wp-block-coblocks-services {
	.block-editor-inner-blocks {
		width: 100%;
	}

	.block-editor-block-list__layout {
		display: flex;
		flex-flow: row;
		justify-content: space-between;

		.block-editor-block-list__layout {
			display: block;
		}
	}

	.wp-block[data-type="coblocks/service"] {
		flex: 1 100%;
		max-width: 100%;
	}

	&[data-columns="2"] .wp-block[data-type="coblocks/service"] {
		flex: 1 calc(100% / 2);
		max-width: calc(100% / 2);
	}

	&[data-columns="3"] .wp-block[data-type="coblocks/service"] {
		flex: 1 calc(100% / 3);
		max-width: calc(100% / 3);
	}

	.wp-block-image .block-editor-rich-text,
	.block-editor-block-list__insertion-point,
	.block-editor-inserter,
	.block-list-appender {
		display: none !important;
	}
}
