[data-type="coblocks/services"] {
	width: 100%;

	&.block-editor-block-list__block:focus::after {
		box-shadow: 0 0 0 $border-width-focus transparent !important;
	}

	&:focus::after {
		box-shadow: 0 0 0 $border-width-focus transparent !important;
	}


	[data-type="coblocks/service"] [data-type="core/buttons"] .wp-block {
		margin-bottom: 0;
		margin-top: 0;

		[data-type="core/button"] {
			margin-top: 0;
		}
	}

	.has-1-columns .block-editor-block-list__layout {
		justify-content: center;
	}

}

.wp-coblocks-services {
	[data-type="core/column"] {
		padding: 0 !important;

		:first-child {
			margin-bottom: 0 !important;
		}
	}
}

.wp-block-coblocks-services {

	.block-editor-media-placeholder {
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.block-list-appender {
		display: none !important;
	}

	.is-selected .wp-block-coblocks-service .wp-block-coblocks-service__figure:not(figure) {
		border-radius: $radius-block-ui;
		box-shadow: 0 0 0 $border-width $white, 0 0 0 3px var(--wp-admin-theme-color, #007cba) !important;
	}
}

// CoBlocks style previewer
.coblocks-editor-block-styles {

	.align-center {

		.service-svg-moving-path {
			transform: translateX(4px);
		}
	}

	.align-left {

		.service-svg-moving-path {
			transform: translateX(0);
		}
	}

	.align-right {

		.service-svg-moving-path {
			transform: translateX(8px);
		}
	}

	.block-editor-block-styles__item-preview {
		height: 82px;
		padding: 0;
	}
}

// Tweak inspector panel
.components-toggle-control--services-action-button {
	margin-top: 30;
}

// TwentyTwentyOne compatibility
.is-twentytwentyone .wp-block-coblocks-service img {
	height: 100%;
}
