$gutter: 0.3em;

.coblocks-editor-block-styles {
	.align-center {
		.service-svg-moving-path {
			transform: translateX(4px);
		}
	}

	.align-left {
		.service-svg-moving-path {
			transform: translateX(0);
		}
	}

	.align-right {
		.service-svg-moving-path {
			transform: translateX(8px);
		}
	}

	.block-editor-block-styles__item-preview {
		height: 82px;
		padding: 0;
	}
}

.wp-block-coblocks-services {
	[data-align="full"] & {
		padding-left: $gutter * 6;
		padding-right: $gutter * 6;
	}

	.block-editor-inner-blocks {
		width: 100%;
	}

	.block-editor-block-list__layout {
		@include break-small() {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.block-editor-block-list__layout {
			display: block;
		}
	}

	@include break-small() {
		&[data-columns="2"] .wp-block[data-type="coblocks/service"] {
			flex-basis: 50%;
			max-width: calc(100% / 2 - #{$gutter});
		}

		&[data-columns="3"] .wp-block[data-type="coblocks/service"] {
			flex-basis: 33.333%;
			max-width: calc(100% / 3 - #{$gutter});
		}
	}

	@media (min-width: #{ ($break-small) }) and (max-width: #{ ($break-wide) }) {
		&[data-columns="4"] .wp-block[data-type="coblocks/service"] {
			flex-basis: 50%;
			margin-bottom: 3em;
			max-width: calc(100% / 2);

			&:nth-child(1),
			&:nth-child(3) {
				margin-left: 0;
			}

			&:nth-child(2),
			&:nth-child(4) {
				margin-right: 0;
			}

			&:nth-child(3),
			&:nth-child(4) {
				margin-bottom: 0;
			}
		}
	}

	@include break-wide() {
		&[data-columns="4"] .wp-block[data-type="coblocks/service"] {
			flex-basis: 25%;
			max-width: calc(100% / 4 - #{$gutter});
		}
	}

	.block-editor-inserter,
	.block-list-appender {
		display: none !important;
	}
}

.components-toggle-control--services-action-button {
	margin-top: 40px;
}

// Added for Gutenberg 6.3+
.block-editor-block-list__block[data-type="coblocks/services"].has-child-selected
	> .block-editor-block-list__block-edit
	> [data-block]
	> div
	> .block-editor-inner-blocks,
.block-editor-block-list__block[data-type="coblocks/services"].is-selected
	> .block-editor-block-list__block-edit
	> [data-block]
	> div
	> .block-editor-inner-blocks {
	padding: 14px 10px;
}
