.wp-block-coblocks-services {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	// On small screens, we are no longer using row direction but column.
	@media all and (max-width: 514px) {
		flex-direction: column;
	}

	> div {
		flex: 1 100%;
		margin: 0 0 3rem;
		max-width: 100%;
	}

	@media all and (min-width: 514px) {
		> .wp-block-coblocks-service {
			margin: 0 1em 0;
		}

		&[data-columns="2"] > .wp-block-coblocks-service {
			flex: 1 calc(100% / 2);
			max-width: calc(100% / 2);
		}

		&[data-columns="3"] > .wp-block-coblocks-service {
			flex: 1 calc(100% / 3);
			max-width: calc(100% / 3);
		}
	}
}
