.wp-block-coblocks-menu-item {
	flex: 1 50%;
	margin-bottom: 1.5em;

	.wp-block-coblocks-menu:not(.is-style-list) & {
		margin-bottom: 2.5em;

		&:nth-child(even) {
			padding-right: 25px;
		}

		&:nth-child(odd) {
			padding-left: 25px;
		}
	}

	figure {
		margin: 0 0 1.25em;

		img {
			vertical-align: middle;
		}
	}

	&__heading {
		margin: 0 0 0.25em;
	}

	p {
		margin: 0 0 0.6em;
	}

	&__price {
		margin: 0;
		opacity: 0.7;
	}
}
