.wp-block-coblocks-menu-item {
	flex: 1 50%;
	margin-bottom: 1.5em;

	.wp-block-coblocks-menu:not(.is-style-list) & {
		margin-bottom: 2.5em;

		&:nth-child(even) {
			padding-right: 25px;
		}

		&:nth-child(odd) {
			padding-left: 25px;
		}

		.wp-block-coblocks-menu-item__content {
			display: block;
		}

		&__price {
			text-align: center;
		}
	}

	figure {
		margin: 0 0 1.25em;
		position: relative;

		img {
			vertical-align: middle;
		}
	}

	&__heading-wrapper {
		align-items: center;
		display: flex;
		flex: 1 85%;
		margin: 0 0 0.25em;
		order: 1;
	}

	&__heading {
		margin: 0;
		padding: 0;
	}

	&__content {
		align-content: flex-start;
		display: flex;
		flex: 1 100%;
		flex-wrap: wrap;
	}

	&__attributes {
		display: flex;
		margin-left: 0.4em;

		svg {
			height: 18px;
			width: 18px;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	&__attribute {
		margin-right: 0.2em;

		&--gf {
			margin-left: 0.1em;
		}
	}

	&__description {
		flex: 1 100%;
		margin: 0 0 0.6em;
		order: 3;
	}

	&__price {
		flex: 1 15%;
		margin: 0;
		opacity: 0.7;
		order: 2;
		text-align: right;
	}
}
