[data-type="coblocks/post-carousel"] {

	.wp-block-coblocks-post-carousel__more-link {

		&:focus {
			box-shadow: none;
			color: inherit;
			outline: none;
		}
	}

	.components-placeholder__fieldset {
		flex-direction: column;
	}

	.editor-block-list__block-edit .components-placeholder__fieldset {
		flex-direction: row;
	}

	.components-placeholder__cancel-button {
		align-self: flex-start;
		margin-top: 10px;
	}
}

.wp-block-coblocks-post-carousel__image div {
	padding-top: 100%;
	width: 100%;
}

body.rtl {

	.slick-slider.coblocks-slick {
		text-align: left; // opposite, rtl converts left to right.
	}

	.wp-block-coblocks-post-carousel:not(.alignwide) {

		.slick-prev::before {
			background-image: url(/assets/lightbox/arrow-right.svg);
		}

		.slick-next::before {
			background-image: url(/assets/lightbox/arrow-left.svg);
		}
	}
}

.wp-coblocks-post-carousel-nav-button {
	&__prev,
	&__next {
		background-color: transparent;
		background-image: url(/assets/lightbox/arrow-right.svg);
		border: none;
		border-radius: 100%;
		cursor: pointer;
		height: 62px;
		margin: 0 1%;
		padding: 15px;
		position: absolute;
		top: 50%;
		width: 62px;
	}

	&__prev {
		left: -5em;
		transform: rotate(180deg);
	}

	&__next {
		right: -5em;
	}
}
