.wp-block-coblocks-post-carousel {
	.wp-block-coblocks-blogroll__image {
		background-position-x: center;
		background-position-y: center;
		background-size: cover;
		min-height: 140px;
		position: relative;
		width: 100%;

		a {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}

.wp-block-coblocks-blogroll__date {
	color: $dark-gray-300;
	display: block;
	font-size: $editor-font-size;
}

@import "slick";
