.is-twentynineteen {

	.wp-block-coblocks-post-carousel {
		line-height: 1.6;

		&__content a {
			font-family: $default-font;
			font-size: calc(22px * 1.125);
			font-weight: 700;
			line-height: 1.2;
			margin-bottom: 0.5rem;
			margin-top: 0.5rem;
			text-decoration: none !important;
		}

		&__date {
			font-family: $default-font;
			font-weight: 700;
		}
	}
}

.is-twentytwenty {

	.wp-block-coblocks-post-carousel {
		color: #6d6d6d;
	}

	.wp-block-coblocks-post-carousel .columns {
		margin-bottom: 0.5em;
	}

	.wp-block-coblocks-post-carousel a {
		font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
		font-weight: 700;
		letter-spacing: -0.025em;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.wp-block-coblocks-post-carousel__date {
		color: #6d6d6d;
		font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 0.7em;
		font-weight: 600;
		letter-spacing: normal;
		margin-bottom: 0.2em;
	}
}
