.coblocks-labs-modal {
    &-controls {
        hr {
            margin: 30px 0;
            &:last-of-type {
                display: none;
            }
        }

        figure {
            margin: 0;
        }
    }

    &__section {
        max-width: 1000px;
        display: flex;
        justify-content: space-between;

        &__vertical-group {
            display: flex;
            flex-direction: column;
            width: 50%;
            justify-content: center;

            .components-base-control {
                display: flex;
                align-items: flex-end;
            }
        }

        &__heading {
            margin-top: 0;
        }

        &__description {
            color: #5e5e5e;
        }
    }
}
