.wp-block-coblocks-social-profiles {

	.wp-block-coblocks-social__button {
		transition: opacity 0.2s ease;

		&.is-empty {
			opacity: 0.4;
		}

		&.is-selected {
			opacity: 1;
		}

		&:not(.is-selected):hover {
			opacity: 100;
		}

		&:focus {
			box-shadow: 0 0 0 1px $white, 0 0 0 3px var(--wp-admin-theme-color, #007cba) !important;
			outline: 2px solid transparent;
			outline-offset: -2px;
		}
	}

	&.has-button-size-med {
		// Icon only style.
		&:not(.is-style-text):not(.is-style-icon-and-text):not(.is-style-circular) .wp-block-coblocks-social__button {
			padding: 12px 20px;
		}

		.wp-block-coblocks-social__icon {
			height: 18px;
			width: 18px;
		}

		.wp-block-coblocks-social__button {
			font-size: 15px;
			padding: 12px 14px;
		}
	}
}

.block-library-button__inline-link--coblocks {
	align-items: center;
	background: $white;
	display: flex;
	flex-wrap: wrap;
	font-family: $default-font;
	font-size: 13px;
	line-height: 1.4;
	margin-bottom: 0;
	margin-top: 0;
	width: 338px;

	.dashicon {
		flex: 0 1 auto;
		margin: 0 0.25em 0 0.5em;
	}

	.is-save {
		&:hover {
			color: var(--wp-admin-theme-color);
			cursor: pointer;
		}

		&:focus {
			box-shadow: none;
			color: var(--wp-admin-theme-color);
			outline: none;
		}
	}

	.components-base-control__field {
		margin-bottom: 0;
	}

	.components-text-control__input {
		flex: 1 1 100%;
		padding: 8px 0 !important;
		width: 100% !important;

		&:focus {
			box-shadow: none;
			outline: 0;
		}
	}

	svg {
		margin: 0 8px 0 8px;
	}
}
