.wp-block-coblocks-social-profiles {
	.wp-block-coblocks-social__button {
		transition: opacity 0.2s ease;

		&.is-empty {
			opacity: 0.4;
		}

		&.is-selected {
			opacity: 1;
		}

		&:not(.is-selected):hover {
			opacity: 100;
		}

		&:focus {
			box-shadow: 0 0 0 1px $white, 0 0 0 3px theme(primary) !important;
			outline: 2px solid transparent;
			outline-offset: -2px;
		}
	}
}

.block-library-button__inline-link--coblocks {
	align-items: center;
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 13px;
	line-height: 1.4;
	margin-bottom: 0;
	margin-top: 0;
	width: 338px;

	.components-base-control__field {
		margin-bottom: 0;
	}

	svg {
		margin: 0px 8px 0px 8px;
	}
}
