.wp-block[data-type="coblocks/accordion"] {
	&[data-align="wide"],
	&[data-align="full"] {
		.editor-block-list__block {
			max-width: none;
		}
	}

	&[data-align="full"] .wp-block-coblocks-accordion {
		padding: 0 12px;
	}

	.block-editor-inner-blocks .block-list-appender {
		display: none;
	}
}

// The "Add Accordion Item" button
.components-coblocks-add-accordion-item {
	margin-top: -14px;
}

.components-coblocks-add-accordion-item__button.components-button {
	align-items: center;
	background: rgba(237, 239, 240, 0.8);
	border: none;
	border-radius: 0;
	box-shadow: none !important;
	color: $dark-gray-500;
	display: flex;
	flex-direction: column;
	height: 62px;
	justify-content: center;
	line-height: 31px;
	outline: 1px dashed $dark-gray-150;
	padding: 21px;
	text-align: center;
	width: 100%;

	svg {
		margin-right: 5px;
	}

	&:hover {
		background: rgba(237, 239, 240, 0.8);
		color: $dark-gray-900;
		outline: 1px dashed $dark-gray-500;
	}

	&.block-editor-button-block-appender:focus {
		background-color: #fff;
		box-shadow: inset 0 0 0 1px #6c7781, inset 0 0 0 2px #fff !important;
		color: #191e23;
		outline: 2px solid transparent;
	}
}
