.wp-block[data-type="coblocks/accordion"] {

	.editor-block-list__layout .editor-block-list__block>.editor-block-list__block-edit:before {
		outline: none;
	}

	.wp-block[data-type="coblocks/accordion-item"] {
		margin-top: 0 !important;

		&:not(:last-child) {
			margin-bottom: -15px !important;
		}

		.editor-block-list__insertion-point {
			display: none;
		}
	}

	&[data-align="wide"],
	&[data-align="full"] {

		.editor-block-list__block {
			max-width: none;
		}
	}

	&[data-align="full"] {

		.wp-block-coblocks-accordion {
			padding: 0 12px;
		}
	}

	.block-list-appender {
		padding: 0 16px;
	}

	.block-list-appender__toggle {
		border-radius: $accordion-border-radius;
		padding: 13px;
		outline: none;
		border: 1px dashed #8d96a0;

		&:hover {
			border-color: #555d66;
		}
	}
}

.coblocks-logo--svg {
	fill: currentColor;
	position: relative;

	&.components-panel__icon {
		margin-left: 7px;
		top: 1px;
	}
}
