.wp-block-coblocks-accordion.alignfull {
	padding: 0 12px;
}

_:-ms-fullscreen, :root .wp-block-coblocks-accordion summary {
	display: block;
}

_:-ms-lang(x), _:-webkit-full-screen, .wp-block-coblocks-accordion summary {
	display: block;
}
