// stylelint-disable selector-type-no-unknown

.wp-block-coblocks-accordion.alignfull {
	padding: 0 12px;
}

_:-ms-fullscreen,
:root .wp-block-coblocks-accordion summary {
	display: block;
}

_:-ms-lang(x),
_:-webkit-full-screen,
.wp-block-coblocks-accordion summary {
	display: block;
}

.accordion-icon-container {
	& > .dashicons {
		align-items: center;
		display: flex;
		flex-direction: column;
		font-size: 40px;
		justify-content: center;
		left: 5px;
		position: absolute;
		top: 20px;
	}
}

.wp-block-coblocks-accordion-item__title {
	padding-left: 45px;
}
