// Gutenberg modules
@import "styles/editor/core/colors";
@import "styles/editor/core/variables";
@import "styles/editor/core/breakpoints";
@import "styles/editor/core/mixins";

// Spacing utility
$spacing: (
	0: 0,
	1: 0.5em,
	2: 1em,
	3: 1.5em,
	4: 2em,
	5: 2.5em,
	6: 3em,
	7: 3.5em,
	8: 4em
);

// Colors
$color-twitter: #1da1f2;
$color-alert-default-bg: #d6efee;
$color-alert-default-color: #094264;
$color-alert-warning-bg: #fbe7dd;
$color-alert-warning-color: #8a4b30;
$color-alert-error-bg: #ffdede;
$color-alert-error-color: #8b343c;
$color-alert-success-bg: #d0eac4;
$color-alert-success-color: #154a28;

@import "styles/mixins";
