// This SCSS file loads per every instance of each block.

// Fonts & basics
$default-font: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;

// CoBlocks branding color.
$coblocks: #555eff;

// Colors.
$black: rgb(41, 41, 41);
$black-000: #000;
$gray: #555d66;
$red: #d94f4f;
$lightred: #f9e2e2;
$lightgreen: #eff9f1;
$darkgreen: #337f46;
$darkred: #a00;
$green: #4ab866;
$white: #fff;
$lightgray: rgba(0, 0, 0, 0.15);

// Accordion.
$accordion-border-radius: 4px;
$accordion-background: #f2f2f2;

// Social.
$twitter: #1da1f2;

// Variables from core.
$block-padding: 10px;
$border-width: 1px;
$break-small: 600px;
$grid-size-large: 11px;
$dark-gray-500: #555d66; // Use this most of the time for dark items.

@mixin break-small() {
	@media (min-width: #{ ($break-small) }) {
		@content;
	}
}

$gutter--small: 18px;
$gutter--medium: 22px;
$gutter--large: 33px;
