$gutter: 1em;

.editor-block-list__block[data-type="coblocks/pricing-table"] {
	.editor-inner-blocks {
		width: 100%;

		> .editor-block-list__layout {
			@include break-small() {
				display: flex;
				flex: 0 1 auto;
				flex-direction: row;
				flex-wrap: wrap;
				position: relative;
			}
		}
	}

	.has-2-columns .wp-block[data-type="coblocks/pricing-table-item"] {
		@include break-small() {
			flex-basis: 50%;
			max-width: calc(100% / 2);
		}
	}

	.has-3-columns .wp-block[data-type="coblocks/pricing-table-item"] {
		@include break-small() {
			flex-basis: 33.333%;
			max-width: calc(100% / 3);
		}
	}

	.has-4-columns .wp-block[data-type="coblocks/pricing-table-item"] {
		@include break-small() {
			flex-basis: 25%;
			max-width: calc(100% / 4);
		}

		@media (min-width: 600px) and (max-width: 1200px) {
			flex-basis: 50%;
			max-width: calc(100% / 2);
		}
	}

	.editor-block-mover,
	.block-list-appender {
		display: none;
	}
}

// Added for Gutenberg 6.3+
.block-editor-block-list__block[data-type="coblocks/pricing-table"].has-child-selected .wp-block-coblocks-pricing-table,
.block-editor-block-list__block[data-type="coblocks/pricing-table"].is-selected .wp-block-coblocks-pricing-table {
	padding: 14px;
}

.block-editor-block-list__block[data-type="coblocks/pricing-table"].is-selected
	[data-type="coblocks/pricing-table-item"]:not(.is-selected)
	> .block-editor-block-list__block-edit::before,
.block-editor-block-list__block[data-type="coblocks/pricing-table"].has-child-selected
	[data-type="coblocks/pricing-table-item"]:not(.is-selected)
	> .block-editor-block-list__block-edit::before {
	border: 1px dashed rgba(123, 134, 162, 0.3);
}
