.editor-block-list__block[data-type="coblocks/pricing-table"] {
	margin-bottom: -15px;
	margin-top: -15px;

	[data-block] {
		margin-bottom: 0;
		margin-top: 0;
	}

	.wp-block-coblocks-pricing-table {
		&__inner {
			margin-left: 0 !important;
			margin-right: 0 !important;
		}

		.editor-inner-blocks {
			width: 100%;

			> .editor-block-list__layout {
				@media (min-width: 600px) {
					display: flex;
					flex: 0 1 auto;
					flex-direction: row;
					flex-wrap: wrap;
					position: relative;
				}
			}
		}
	}

	.editor-block-mover,
	.block-list-appender {
		display: none;
	}

	// Tweak the position of the selection border.
	> .block-editor-block-list__block-edit::before {
		bottom: 1px;
		top: 1px;
	}

	.wp-block[data-type="coblocks/pricing-table-item"] {
		margin-bottom: 15px;
		margin-top: 15px;

		@media (min-width: 600px) {
			flex-basis: 40%;
			flex-grow: 1;
			max-width: 100%;
		}
	}

	&[data-align="wide"],
	&[data-align="full"] {
		.editor-block-list__block {
			max-width: none;
		}

		.wp-block[data-type="coblocks/pricing-table-item"] {
			@media (min-width: 600px) {
				flex-basis: 33%;
			}
		}

		.has-4-columns {
			.wp-block[data-type="coblocks/pricing-table-item"] {
				@media (min-width: 600px) {
					flex-basis: 25%;
				}
			}
		}
	}
}

.components-toolbar-coblocks-numeral-controls {
	display: inline-flex;

	.components-button[data-subscript]::after {
		bottom: 0.68em;
		font-size: 17px;
		right: 13px;
	}

	.components-button[data-subscript="1"]::after {
		right: 14px;
	}
}
