$gutter: 1em;

.editor-block-list__block[data-type="coblocks/pricing-table"] {
	.editor-inner-blocks {
		width: 100%;

		> .editor-block-list__layout {
			@include break-small() {
				display: flex;
				flex: 0 1 auto;
				flex-direction: row;
				flex-wrap: wrap;
				position: relative;
			}
		}
	}

	.has-2-columns .wp-block[data-type="coblocks/pricing-table-item"] {
		@include break-small() {
			flex-basis: 50%;
			max-width: calc(100% / 2);
		}
	}

	.has-3-columns .wp-block[data-type="coblocks/pricing-table-item"] {
		@include break-small() {
			flex-basis: 33.333%;
			max-width: calc(100% / 3);
		}
	}

	.has-4-columns .wp-block[data-type="coblocks/pricing-table-item"] {
		@include break-small() {
			flex-basis: 25%;
			max-width: calc(100% / 4);
		}

		@media (min-width: 600px) and (max-width: 1200px) {
			flex-basis: 50%;
			max-width: calc(100% / 2);
		}
	}

	.editor-block-mover,
	.block-list-appender {
		display: none;
	}
}

.components-toolbar-coblocks-numeral-controls {
	display: inline-flex;

	.components-button[data-subscript]::after {
		bottom: 0.68em;
		font-size: 17px;
		right: 13px;
	}

	.components-button[data-subscript="1"]::after {
		right: 14px;
	}
}

// Added for Gutenberg 6.3+
.block-editor-block-list__layout
	.block-editor-block-list__block[data-type="coblocks/pricing-table"].has-child-selected
	> .block-editor-block-list__block-edit
	> [data-block]
	> div
	.editor-inner-blocks {
	padding: 14px;
}

.block-editor-block-list__block[data-type="coblocks/pricing-table"].has-child-selected
	[data-type="coblocks/pricing-table-item"]:not(.is-selected)
	> .block-editor-block-list__block-edit::before {
	border: 1px dashed rgba(123, 134, 162, 0.3);
	left: -14px;
	right: -14px;
}
