.wp-block-coblocks-pricing-table {
	&.has-4-columns {
		.wp-block-coblocks-pricing-table-item {
			@media (min-width: 600px) and (max-width: 1100px) {
				flex-basis: 40%;
			}
		}
	}

	&__inner {
		@media (min-width: 600px) {
			display: flex;
			flex: 0 1 auto;
			flex-direction: row;
			flex-wrap: wrap;
			height: 100%;
			margin: -15px !important;
			position: relative;
		}
	}

	&.alignwide,
	&.alignfull {
		.wp-block-coblocks-pricing-table-item {
			@media (min-width: 600px) {
				flex-basis: inherit;
			}
		}
	}
}
