// Style the clickable areas for the column/layout placeholder.
.components-coblocks-visual-dropdown {
	text-align: center;

	&.components-dropdown-menu {
		padding: 0;
	}

	&.components-placeholder {
		.components-placeholder__label svg {
			position: relative;
			top: -1px;
		}

		.components-placeholder__fieldset {
			max-width: none;
		}
	}

	.components-button-group {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
	}

	&__button-wrapper {
		border-radius: 6px;
		cursor: pointer;
		margin: 0;
		padding: 4px;

		&:hover {
			background: rgba(139, 139, 150, 0.1);
			color: #191e23;
		}

		&:focus {
			box-shadow: 0 0 0 2px #00a0d2;
			color: #191e23;
			outline: 2px solid transparent;
			outline-offset: -2px;
		}
	}

	& &__button.components-button.is-default {
		align-items: center;
		background: #fff;
		border: 1px solid rgba(25, 30, 35, 0.2);
		border-radius: 4px !important;
		box-shadow: none;
		display: flex;
		flex-direction: column;
		font-size: 14px;
		height: 60px;
		justify-content: center;
		line-height: 1;
		outline: 1px solid transparent;
		padding: 0;
		text-align: center;
		width: 90px;

		svg {
			fill: $dark-gray-500;
		}

		&:focus {
			box-shadow: 0 0 0 4px #f4f4f5, 0 0 0 6px #00a0d2;
			color: #191e23;
			outline: 2px solid transparent;
			outline-offset: -2px;
		}

		&:active:enabled {
			background: #fff;
			border-color: rgba(25, 30, 35, 0.3);
			box-shadow: 0 0 0 4px #f4f4f5, 0 0 0 6px #00a0d2;
		}
	}

	.editor-block-styles__item-label {
		margin-top: 4px;
		text-align: center;
	}

	&__back.components-icon-button {
		background: #fff;
		border: 1px solid rgba(25, 30, 35, 0.2);
		margin-right: 4px;

		&:hover {
			box-shadow: 0 0 0 4px rgba(139, 139, 150, 0.1) !important;
			color: #191e23;
		}
	}

	// Inspector control for the layout selector.
	.edit-post-sidebar & {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		text-align: left;

		.components-button-group {
			justify-content: space-between;

			.components-coblocks-visual-dropdown__button-wrapper {
				flex-shrink: 0;
				margin: 4px 0;
				width: calc(50% - 4px);

				&:focus,
				&:active,
				&.is-selected {
					box-shadow: 0 0 0 2px #00a0d2;
					color: #191e23;
					outline: 2px solid transparent;
					outline-offset: -2px;

					&:hover {
						background: none;
					}
				}

				&.is-selected {
					box-shadow: 0 0 0 2px $dark-gray-500;
				}
			}

			.components-coblocks-visual-dropdown__button {
				width: 100%;

				&:active:enabled {
					background: #fff;
					border-color: none;
					box-shadow: none !important;
				}

				&:focus {
					box-shadow: none;
					color: #191e23;
					outline: 2px solid transparent;
					outline-offset: -2px;
				}
			}
		}
	}

	.components-dropdown-menu__popover & {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 12px 9px 9px;
		text-align: left;

		.components-button-group {
			justify-content: space-between;
		}

		.components-coblocks-visual-dropdown__button-wrapper {
			flex-shrink: 0;
			margin: 0 4px 8px !important;
			width: calc(50% - 8px);

			&.is-selected {
				box-shadow: 0 0 0 2px $dark-gray-500;
			}
		}

		.components-coblocks-visual-dropdown__button.components-button {
			margin-bottom: 0;
			width: 100% !important;

			// &:focus {
			// 	box-shadow: none !important;
			// }

			&:focus {
				box-shadow: 0 0 0 4px #fff, 0 0 0 6px #00a0d2;
			}

			&:active:enabled {
				box-shadow: 0 0 0 4px #fff, 0 0 0 6px #00a0d2;
			}
		}
	}
}

// Remove excess padding from toolbar icon on the VisualDropdown component.
.components-coblocks-visual-dropdown {
	padding: 0;
}

// Make the column width numer input wider to accommodate two decimal places.
.components-panel__body--column-settings .components-range-control__number {
	width: 63px;
}

.components-coblocks-visual-dropdown__popover {
	.components-coblocks-visual-dropdown__button-wrapper:hover {
		background: #f8f9f9;
	}
}

.components-coblocks-visual-dropdown__popover:not(.is-mobile) {
	.components-popover__content {
		max-width: 340px;

		.editor-block-styles__item-label {
			color: #555d66;
			margin-top: 4px;
			text-align: center;
		}

		.components-coblocks-visual-dropdown__button-wrapper:hover {
			background: #f8f9f9;

			.editor-block-styles__item-label {
				color: #191e23;
			}
		}
	}
}
