.block-editor-block-styles .wp-block-coblocks-alert {
	background-color: $color-alert-default-bg !important;
	color: $color-alert-default-color !important;

	&.is-style-warning {
		background-color: $color-alert-warning-bg !important;
		color: $color-alert-warning-color !important;
	}

	&.is-style-error {
		background-color: $color-alert-error-bg !important;
		color: $color-alert-error-color !important;
	}

	&.is-style-success {
		background-color: $color-alert-success-bg !important;
		color: $color-alert-success-color !important;
	}
}
