.block-editor-block-styles .wp-block-coblocks-alert {
	background-color: $alert-default-background-color !important;
	color: $alert-default-color !important;

	&.is-style-warning {
		background-color: $alert-warning-background-color !important;
		color: $alert-warning-color !important;
	}

	&.is-style-error {
		background-color: $alert-error-background-color !important;
		color: $alert-error-color !important;
	}

	&.is-style-success {
		background-color: $alert-success-background-color !important;
		color: $alert-success-color !important;
	}
}
