.wp-block-coblocks-alert {
	background-color: #d6efee;
	border-radius: 0.25rem;
	color: #094264;
	padding: 1.1em 1.3em 1em;
	position: relative;

	&:not(.has-background) {
		&.is-style-warning {
			background-color: #fbe7dd;
		}

		&.is-style-error {
			background-color: #ffdede;
		}

		&.is-style-success {
			background-color: #d0eac4;
		}
	}

	&:not(.has-text-color) {
		&.is-style-warning {
			color: #8a4b30;
		}

		&.is-style-error {
			color: #8b343c;
		}

		&.is-style-success {
			color: #154a28;
		}
	}

	&__title {
		display: block;
		margin-bottom: 0.5em;

		&:empty {
			display: none;
		}
	}

	&__text {
		margin-bottom: 0;
		margin-top: 0;
	}
}
