.wp-block-coblocks-alert {
	border-radius: 0.25rem;
	padding: 1.1em 1.3em 1em;
	position: relative;

	&:not(.has-background) {
		background-color: #f5f5f5;
	}

	&.is-style-info {
		background-color: #d6efee;
		color: #094264;
	}

	&.is-style-warning {
		background-color: #fbe7dd;
		color: #8a4b30;
	}

	&.is-style-error {
		background-color: #ffdede;
		color: #8b343c;
	}

	&.is-style-success {
		background-color: #d0eac4;
		color: #154a28;
	}

	&.alignleft,
	&.alignright {
		max-width: 300px;
	}

	&__title {
		color: inherit;
		display: inline-block;
		line-height: 1;
		margin-bottom: 0.75em;
		width: 100%;

		&:empty {
			display: none;
		}
	}

	&__text {
		color: inherit;
		margin-bottom: 0;
	}
}
