.wp-block-coblocks-alert {
	border-radius: 0.25rem;
	padding: 1.1em 1.3em 1em;
	position: relative;

	&:not(.has-background) {
		background-color: #f5f5f5;
	}

	&.alignleft,
	&.alignright {
		max-width: 300px;
	}

	&__title {
		color: inherit;
		display: inline-block;
		line-height: 1;
		width: 100%;
		margin-bottom: 0.75em;

		&:empty {
			display: none;
		}
	}

	&__text {
		color: inherit;
		margin-bottom: 0;
	}
}
