@import "help-message.scss";

.editor-block-list__block[data-type="coblocks/form"] {
	.coblocks-field-label {
		display: flex;
		flex-direction: row;

		.components-base-control {
			margin-bottom: -3px;
			margin-top: -1px;

			&.coblocks-field-label__required {
				.components-form-toggle {
					margin: 2px 8px 0 0;
				}

				.components-toggle-control__label {
					word-break: normal;
				}
			}
		}

		.required {
			color: $alert-red;
			word-break: normal;
		}

		.components-toggle-control .components-base-control__field {
			margin-bottom: 0;
		}
	}

	.coblocks-field-label__input {
		flex-grow: 1;
		min-height: unset;
		padding: 0;
	}

	.coblocks-field-label__input.coblocks-field-label__input.coblocks-field-label__input {
		border-color: $white;
		border-radius: 0;
		font-weight: 600;
		margin: 0;
		margin-bottom: 2px;
		padding: 0;
		width: auto;

		&:focus {
			border-color: $white;
			box-shadow: none;
		}
	}

	input.components-text-control__input {
		line-height: 16px;
	}

	.coblocks-field {
		.components-text-control__input.components-text-control__input {
			width: 100%;
		}

		.components-text-control__input,
		.components-textarea-control__input {
			padding: 10px 8px;
		}
	}

	.coblocks-field-checkbox .components-base-control__label {
		align-items: center;
		display: flex;

		.coblocks-field-label {
			flex-grow: 1;
		}

		.coblocks-field-label__input {
			font-size: 13px;
			font-weight: 400;
			padding-left: 10px;
		}
	}
}
