.wp-block[data-type="coblocks/form"] {
	.components-base-control,
	.coblocks-option__input {
		font-family: inherit;
		font-size: inherit;
	}

	// Hide the appender in pre WP 5.3
	.block-list-appender {
		display: none;
	}

	.coblocks-field-label__input-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	.coblocks-field-label {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		label {
			cursor: text;
		}

		.components-base-control {
			&.coblocks-field-label__required {
				color: $dark-gray-500;
				margin-top: -5px;

				.components-form-toggle {
					margin: 2px 8px 0 0;
				}

				.components-toggle-control__label {
					font-size: 13px;
					font-family: system-ui;
					margin-bottom: 0;
					word-break: normal;
				}
			}
		}

		.components-toggle-control .components-base-control__field {
			margin-bottom: 0;
		}
	}

	.components-base-control {
		margin-bottom: 0;

		.components-base-control__field {
			margin-bottom: 15px;

			.components-base-control__label {
				width: 100%;
			}
		}
	}

	.coblocks-field {
		input,
		textarea {
			margin-bottom: 0;
		}

		.components-text-control__input.components-text-control__input {
			width: 100%;
		}
	}

	.components-text-control__input,
	.components-textarea-control__input {
		padding: 10px 8px;
		pointer-events: none;
	}

	.coblocks-form__subtext {
		margin-top: -0.5rem;
	}

	.coblocks-form__inline-fields .coblocks-form__inline-field {
		margin: 0 0 0.15rem;
	}

	.coblocks-option {
		align-items: center;
		display: flex;
		margin: 0;
	}

	.coblocks-field-multiple__list {
		margin: 0;
		padding-left: 0;

		&.is-inline {
			display: flex;
			flex-direction: row;
			flex-flow: row wrap;

			.coblocks-option {
				margin-right: 12px;
			}
		}
	}

	div[data-type="coblocks/field-checkbox"].is-selected,
	div[data-type="coblocks/field-radio"].is-selected,
	div[data-type="coblocks/field-checkbox"].is-typing,
	div[data-type="coblocks/field-radio"].is-typing {
		.is-inline {
			display: block;

			.coblocks-option {
				margin-right: 0;
			}
		}
	}

	.coblocks-option__type.coblocks-option__type {
		margin-top: 0;
	}

	.coblocks-option__input.coblocks-option__input.coblocks-option__input {
		background: transparent;
		border: 1px solid transparent;
		border-radius: 4px;
		flex-grow: 1;
		margin-bottom: 2px;
		padding: 6px 8px;
		transform: box-shadow 0.1s linear;
	}

	.is-typing .coblocks-option__input.coblocks-option__input.coblocks-option__input,
	.is-selected .coblocks-option__input.coblocks-option__input.coblocks-option__input {
		background: $white;
		border-color: $dark-gray-150;
	}

	.coblocks-option__input.coblocks-option__input.coblocks-option__input:focus {
		background: $white;
		border-color: $blue-medium-focus;
		box-shadow: 0 0 0 1px $blue-medium-focus;
	}

	.coblocks-option__remove.coblocks-option__remove {
		margin-left: 8px;
	}

	.coblocks-field-multiple__add-option {
		margin-left: 21px;
		margin-top: 5px;
		font-weight: 600;
	}

	.coblocks-field-multiple__add-option svg {
		margin-right: 5px;
	}
}

.wp-block[data-type="coblocks/field-select"] .coblocks-field-multiple__add-option {
	margin-left: 0;
}

@import "notice";

// Advanced forms filter.
.components-coblocks-advanced-forms-cta {
	h3 {
		margin-bottom: 0.5em;
	}
}

.edit-post-settings-sidebar__panel-block {
	.components-block-coblocks-form-recaptcha-key__custom-input {
		margin-bottom: 15px !important;
	}
}

// Shim to fix styles in the previewer.
.block-editor-inserter__preview-content .wp-block-coblocks-form {
	.block-editor-block-list__layout {
		margin-left: 0;
		margin-right: 0;
	}
}

// Core themes.
.is-twentynineteen {
	.coblocks-form {
		.components-text-control__input,
		.components-textarea-control__input {
			border-color: #ccc;
			border-radius: 0;
			padding: 1.2rem 0;
		}
	}

	.coblocks-form__submit.wp-block-button {
		margin-top: 0;
	}
}

.coblocks-form__submit {
	margin-top: 1em;
}

.is-twentyseventeen {
	.coblocks-label {
		font-weight: 800;
	}

	.coblocks-form__submit {
		margin-top: -0.75em;
	}
}

.is-twentysixteen {
	.coblocks-form {
		.components-text-control__input,
		.components-textarea-control__input {
			background-color: #f7f7f7;
			border-color: #d1d1d1;
			border-radius: 2px;
			padding: 0.75rem 0;
		}

		.components-base-control {
			margin-bottom: 0;

			.components-base-control__field {
				margin-bottom: 0;
			}
		}
	}

	.coblocks-form__submit.wp-block-button {
		margin-top: 0;
	}
}

// Added for Gutenberg 6.3+
.block-editor-block-list__layout .block-editor-block-list__block[data-type="coblocks/form"].is-selected,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="coblocks/form"].has-child-selected {
	.coblocks-form {
		[data-block] {
			margin-bottom: 42px;
		}
	}
}

.block-editor-block-list__layout .block-editor-block-list__block[data-type="coblocks/form"] .wp-block:first-child {
	[data-block] {
		margin-top: 2px;
	}
}

.block-editor-block-list__layout
	.block-editor-block-list__block[data-type="coblocks/form"].has-child-selected
	> .block-editor-block-list__block-edit
	> [data-block]
	> div
	.editor-inner-blocks,
.block-editor-block-list__block[data-type="coblocks/form"].is-selected
	> .block-editor-block-list__block-edit
	> [data-block]
	> div
	> .block-editor-inner-blocks {
	padding: 14px;
	padding-bottom: 0;
}
