.coblocks-form {
	label {
		display: block;
		float: none;
		margin-bottom: 3px;
	}

	input[type="text"],
	input[type="email"] {
		margin: 0 0 1.15rem 0;
		width: 100%;
	}

	textarea {
		float: none;
		height: 200px;
		margin: 0 0 1.15rem 0;
		resize: vertical;
		width: 100%;
	}

	.name-wrap {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		margin-bottom: 1.15rem;

		.wrap {
			margin-bottom: 0.15rem;
			width: 50%;

			input[type="text"] {
				margin-bottom: 3px;
				width: 100%;
			}

			&:first-child {
				padding-right: 10px;
			}

			&:last-child {
				padding-left: 10px;
			}
		}
	}

	.subtext {
		display: block;
		line-height: 1;
		margin-bottom: -0.3rem;
		margin-top: 0.3rem;
		opacity: 0.66;
	}

	.form-submit {
		margin-top: 1.5rem;
	}

	.coblocks-form-submission {
		margin-bottom: 4em;
		padding: 1.5em 1em;
	}

	.coblocks-form-submission p {
		margin: 0 auto;
		word-wrap: break-word;
	}

	.form-errors .form-error-message {
		color: $alert-red;
	}

	.required {
		color: $alert-red;
		margin-left: 5px;
	}
}
