.coblocks-form {
	label {
		display: block;
		float: none;
		margin-bottom: 3px;

		span {
			color: $alert-red;
		}
	}

	input[type="text"],
	input[type="email"] {
		margin: 0 0 1rem 0;
		width: 80%;
	}

	textarea {
		float: none;
		height: 200px;
		margin: 0 0 1rem 0;
		resize: vertical;
		width: 100%;
	}

	.coblocks-form-submission {
		margin-bottom: 4em;
		padding: 1.5em 1em;
	}

	.coblocks-form-submission p {
		margin: 0 auto;
		word-wrap: break-word;
	}

	.form-errors .form-error-message {
		color: $alert-red;
	}
}
