.is-twentysixteen,
.is-twentynineteen {

	.coblocks-form__submit {
		margin-top: 1.5em;
	}
}

.is-twentyseventeen {

	.coblocks-field {
		margin-bottom: 1.75rem;
	}

	.coblocks-form__submit .wp-block-button__link {
		margin-top: 0.1em;
	}
}

.is-twentynineteen {

	.coblocks-form {

		.components-text-control__input,
		.components-textarea-control__input {
			border-color: #ccc;
			border-radius: 0;
			padding: 1.2rem 0;
		}
	}

	.coblocks-form__submit.wp-block-button {
		margin-top: 0;
	}
}

.is-twentyseventeen {

	.coblocks-label {
		font-weight: 800;
	}

	.coblocks-form__submit {
		margin-top: -0.75em;
	}
}

.is-twentysixteen {

	.coblocks-form {

		.components-text-control__input,
		.components-textarea-control__input {
			background-color: #f7f7f7;
			border-color: #d1d1d1;
			border-radius: 2px;
			padding: 0.75rem 0;
		}

		.components-base-control {
			margin-bottom: 0;

			.components-base-control__field {
				margin-bottom: 0;
			}
		}
	}

	.coblocks-form__submit.wp-block-button {
		margin-top: 0;
	}
}
