.is-style-circular {

	.wp-block-button__link {
		border-radius: 100px !important;
	}
}

.is-style-3d {

	.wp-block-button__link {
		box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.25);
	}
}

.is-style-shadow {
	z-index: 1;

	.wp-block-button__link {
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.11), 0 1px 3px rgba(0, 0, 0, 0.075);
	}
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-background) {
	background-color: var(--go-button--color--background, var(--go--color--primary));
}
