.wp-block[data-type="coblocks/map"] {
	.components-placeholder {
		height: 100%;

		.components-placeholder__fieldset {
			span {
				color: $dark-gray-500;
			}

			.components-button {
				position: relative;
				top: 1px;
			}
		}

		.components-base-control__field {
			margin-bottom: 12px;
		}

		.components-placeholder__label {
			svg {
				position: relative;
				top: -1px;
			}
		}

		.invalid-google-maps-api-key {
			clear: both;
			color: $alert-red !important;
			display: block;
			text-align: center;
			width: 100%;
		}
	}

	// Fix z-index, for when this block has margin bottom removed, and the next has margin-top removed.
	&.is-selected .components-resizable-box__handle {
		z-index: 30;
	}

	.iframe__overflow-wrapper {
		height: 100%;
		overflow: hidden;
	}

	.components-placeholder__cancel-button.is-link {
		display: block;
		margin-left: 33%;
		margin-right: 33%;
	}
}

.components-block-coblocks-map-api-key-remove__button {
	margin-left: 6px;
}

.components-block-coblocks-map-api-key__custom-input {
	margin-bottom: 5px !important;
}
