.has-background-video {
	position: relative;

	&.has-background-overlay {
		&::before {
			z-index: 1;
		}

		> :not(.coblocks-video-bg) {
			z-index: 10;
		}
	}

	> .coblocks-video-bg{
		left: 0px;
		top: 0px;
	}

	> :not(.coblocks-video-bg) {
		position: relative;
	}
}
