.has-bricks-grid-sml {

	.blockgallery--item img {

		@media screen and (min-width: 800px) {
			max-height: 250px !important;
		}

		@media screen and (min-width: 1200px) {
			max-height: 300px !important;
		}
	}
}

.has-bricks-grid-med {

	.blockgallery--item img {

		@media screen and (min-width: 700px) {
			max-height: 250px !important;
		}

		@media screen and (min-width: 1000px) {
			max-height: 300px !important;
		}

		@media screen and (min-width: 1400px) {
			max-height: 400px !important;
		}
	}
}

.has-bricks-grid-lrg {

	.blockgallery--item img {

		@media screen and (min-width: 300px) {
			max-height: 180px !important;
		}

		@media screen and (min-width: 600px) {
			max-height: 300px !important;
		}

		@media screen and (min-width: 1000px) {
			max-height: 350px !important;
		}

		@media screen and (min-width: 1400px) {
			max-height: 450px !important;
		}

		@media screen and (min-width: 1900px) {
			max-height: 550px !important;
		}
	}
}

.has-bricks-grid-xlrg {

	.blockgallery--item img {

		@media screen and (min-width: 300px) {
			max-height: 200px !important;
		}

		@media screen and (min-width: 600px) {
			max-height: 350px !important;
		}

		@media screen and (min-width: 1000px) {
			max-height: 400px !important;
		}

		@media screen and (min-width: 1400px) {
			max-height: 550px !important;
		}

		@media screen and (min-width: 1900px) {
			max-height: 650px !important;
		}
	}
}