.has-caption-style-light {

	.blockgallery--item .blockgallery--figure figcaption {
		background: linear-gradient(0deg, rgba($color: $white, $alpha: 0.93) 6.3%, rgba($color: $white, $alpha: 0.5) 61%, rgba(255, 255, 255, 0)) !important;
		opacity: 1 !important;
	}
}

.blockgallery:not(.has-caption-color).has-caption-style-dark .blockgallery--figure figcaption {
	color: $white;
}

.blockgallery:not(.has-caption-color).has-caption-style-light .blockgallery--figure figcaption {
	color: $black;
}

.has-caption-style-none {

	.blockgallery--item .blockgallery--figure figcaption {
		background: none !important;
		opacity: 1 !important;
	}
}
