@include break-small() {
	// For desktop.
	$i: 1;

	@while $i < 30 {

		&.has-margin-bottom-#{ $i * 5 } {
			margin-bottom: #{ $i * 5 }px !important;
		}

		$i: $i + 0.1;
	}
}
@include break-small-max() {
	// For mobile.
	$i: 1;

	@while $i < 30 {

		&.has-margin-bottom-mobile-#{ $i * 5 } {
			margin-bottom: #{ $i * 5 }px !important;
		}

		$i: $i + 0.1;
	}
}
