@include break-small() {
	@for $i from 1 through 10 {

		.has-negative-margin-left-#{ $i * 5 } {
			margin-left: -#{round($i * 5 * 0.5)}px !important;
		}
	}
}
@include break-small-max() {
	@for $i from 1 through 10 {

		.has-negative-margin-left-mobile-#{ $i * 5 } {
			margin-left: -#{round($i * 5 * 0.5)}px !important;
		}
	}
}
@include break-small() {
	@for $i from 1 through 10 {

		.has-negative-margin-#{ $i * 5 } {
			margin: -#{round($i * 5 * 0.5)}px !important;
		}
	}
}
@include break-small-max() {
	@for $i from 1 through 10 {

		.has-negative-margin-mobile-#{ $i * 5 } {
			margin: -#{round($i * 5 * 0.5)}px !important;
		}
	}
}
