.masonry-modal-wrapper {
	align-items: center;
	background: rgba(0, 0, 0, 0);
	display: none;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;

	.admin-bar & {
		top: 32px;

		@media (max-width: 782px) {
			top: 46px;
		}
	}
}

.masonry-modal-wrapper__background {
	background-repeat: no-repeat;
	background-size: cover;
	bottom: -2em;
	filter: blur(20px) saturate(150%) brightness(75%);
	left: -2em;
	position: absolute;
	right: -2em;
	top: -2em;
}

.masonry-modal-wrapper__heading {
	align-items: center;
	color: $white;
	display: flex;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
	font-size: 0.5em;
	justify-content: space-between;
	left: 3%;
	position: absolute;
	right: 3%;
	top: 1%;

	@include break-small() {
		top: 2%;
	}
}

.masonry-modal-wrapper__image-container {
	z-index: 2;

	img {
		max-height: 70vh;
		max-width: 70vw;

		@include break-large() {
			max-height: 80vh;
			max-width: 80vw;
		}
	}
}

.masonry-modal-wrapper--arrow-right-container,
.masonry-modal-wrapper--arrow-left-container {
	align-items: center;
	border-radius: 100%;
	color: $white;
	cursor: pointer;
	display: flex;
	height: auto;
	margin: 0 1%;
	padding: 0.7em;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	transition: 250ms background-color linear;
	z-index: 3;

	&:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}

	@include break-small() {
		background-color: rgba(255, 255, 255, 0.1);
		margin: 0 2%;

		&:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}

	> div {
		background-color: $white;
		height: 1.15em;
		transition: 150ms transform linear;
		width: 1.15em;

		@include break-large() {
			height: 1.5em;
			width: 1.5em;
		}
	}
}

.masonry-modal-wrapper--arrow-left-container {
	left: 0;
	right: auto;
}

.arrow-left {
	mask-image: url(images/lightbox/arrow-left.svg);
}

.arrow-right {
	mask-image: url(images/lightbox/arrow-right.svg);
}

.masonry-modal-wrapper--close {
	background-color: $white;
	cursor: pointer;
	height: 2.5em;
	mask-image: url(images/lightbox/close.svg);
	mask-size: contain;
	width: 2.5em;
}
