name: 'Deploy / WordPress'

on:
  workflow_dispatch:
  push:
    tags:
      - '^([0-9]+\.){2}(\*|[0-9]+)(-.*)?$'

env:
  ARTIFACT_NAME: 'coblocks-plugin'
  ARTIFACT_ZIP: 'coblocks-plugin.zip'

jobs:
  build:
    name: Create artifact
    uses: ./.github/workflows/deploy-create-artifact.yml

  deploy:
    name: SVN
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download plugin
        uses: actions/download-artifact@v3
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: build

      - name: Unzip
        run: |
          unzip build/${{ env.ARTIFACT_ZIP }}

      - name: Checkout from WordPress.org
        run: |
          svn co http://svn.wp-plugins.org/coblocks wp/coblocks
          rm -rf wp/coblocks/trunk/*

      - name: Sync code changes
        run: |
          cp -a build/coblocks/* wp/coblocks/trunk/

      - name: Create new tag
        run: |
          svn cp wp/coblocks/trunk wp/coblocks/tags/${{ github.ref_name }}
          svn commit -m "Tagging version ${{ github.ref_name }}"

      - name: Sync asset changes
        run: |
          rm -rf wp/coblocks/assets/*
          cp -a .wordpress-org/* wp/coblocks/assets/

      - name: Deploy to WordPress.org
        run: |
          cd wp/coblocks
          svn add * --force
          svn status | grep '^!' | awk '{print $2}' | xargs svn delete
          svn status
