name: Test / E2E Runner

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]

jobs:
  chrome_e2e_gamut_tests:
    name: >
      E2E - ${{
        format(
          'WP{0} + PHP{1} + {2} theme',
          matrix.wp,
          matrix.php,
          matrix.theme == '' && 'TwentyTwentyThree' || 'Go'
        )
      }}
    uses: ./.github/workflows/test-e2e-cypress.yml
    strategy:
      fail-fast: false
      matrix:
        wp: # Test against Prev-Prev Major, Prev-Major, and current Major release versions.
          - "6.6"
          - "6.7"
          - "6.8"
        theme:
          - "https://downloads.wordpress.org/theme/go.zip"
          - "" # Default theme is TwentyTwentyThree
        php: # Test against minimum and latest PHP versions.
          - "7.4"
          - "8.3"
    with:
      wpVersion: "WordPress/WordPress#${{matrix.wp}}"
      theme: ${{matrix.theme}}
      phpVersion: ${{matrix.php}}
    concurrency:
      group: >
        ${{
          format(
            'chrome-e2e-WP{0}-PHP{1}-{2}',
            matrix.wp,
            matrix.php,
            matrix.theme == '' && 'twentytwentythree' || 'go'
          )
        }}
      cancel-in-progress: true
