name: Test / PHP

on:
  workflow_call:
    inputs:
      phpVersion:
        required: false
        type: string
        default: 8.1

jobs:
  php_unit:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Setup WP-CLI
        uses: godaddy-wordpress/setup-wp-cli@1

      - name: Install dependencies
        run: |
          npm i -g yarn
          composer install --prefer-dist --optimize-autoloader &
          yarn install --immutable

      - name: Setup wp-env
        uses: godaddy-wordpress/setup-wp-env@v1
        with:
          phpVersion: ${{ inputs.phpVersion }}
          plugins: '[".","https://downloads.wordpress.org/plugin/woocommerce.zip"]'
          themes: '["https://downloads.wordpress.org/theme/go.zip"]'

      - name: Build plugin
        run: |
          npx grunt build
          mv ./build/coblocks $(wp-env install-path)/tests-WordPress/wp-content/plugins/

      - name: Run tests
        run: |
          wp-env run phpunit 'phpunit -c /var/www/html/wp-content/plugins/coblocks/phpunit.xml.dist --verbose'
