name: Test / PHP

on:
  pull_request:
    branches:
      - master

jobs:
  # PHP Unit testing
  # Unit testing should be run across WP current, previous, and major before previous.
  # Unit tests should be run across all supported versions of PHP.
  php_unit_versions_matrix:
    strategy:
      matrix:
        php: ['7.4','8.0','8.1','8.2']
        wp: ['6.3', '6.2', '6.1']
    name: PHP Unit ${{ matrix.php }} | WP Version ${{ matrix.wp }}
    uses: ./.github/workflows/test-php-unit.yml
    with:
      phpVersion: ${{ matrix.php }}
      wpVersion: ${{ matrix.wp }}

