.editor-block-list__block[data-type="coblocks/gallery-stacked"] {
	// Fix issue where selected images are not wider than the viewport.
	.blockgallery--item:not(.blockgallery--item-uploader) .blockgallery--figure {
		display: inline-block;
		width: auto !important;
	}

	.has-fullwidth-images .blockgallery--item:not(.blockgallery--item-uploader) .blockgallery--figure {
		width: 100% !important;
	}

	.is-appender {
		// Remove unnecessary margin applied to the core appender.
		margin-bottom: 0;
	}
}
